[2016-07-23 04:01] TSM-EVO commented on #341
As mentioned, a config file, or a csv, or an ini, where the end-user can add pokemon names/IDs in a comma separated list.

See the https://github.com/malosaa/PokemonGo-Finder readme for an example of their config file. Theirs just looks like this:

  "notify": "dratini,magnemite,electabuzz,hitmonchan,hitmonlee,chansey,lapras,snorlax,porygon,mew,mewtwo,moltres,zapdos,articuno,ditto,seel,gyarados,cu

[2016-07-23 04:02] leadboots5 commented on #347
are you full on pokemon?

[2016-07-23 04:02] 05-032 commented on #297
I've added a pull request that should do most of what OP is requesting.
https://github.com/PokemonGoF/PokemonGo-Bot/pull/346

[2016-07-23 04:07] gagas3113 commented on #347
is this issue only happen if my pokemon storage full ? or caused the command line ?

[2016-07-23 04:07] gagas3113 commented on #348
same issue

[2016-07-23 04:20] gagas3113 commented on #347
i think it cause the command --initial-transfer

[2016-07-23 04:34] msdrahcir commented on #88
Not sure if Niantec stores this information, but another thought is less consistent pokeball throwing.

[2016-07-23 04:42] msdrahcir opened #349 "[Suggestion] Egg Incubation and Hacking"
### Expected Behavior

On load and after receiving egg from pokestop, If infinite incubator is available, automatically add egg to infinite incubator.

Option -  If egg inventory is full, automatically add 10km eggs to other incubators

[2016-07-23 04:50] kaoztheory opened #350 "master doesn't hunt for pokeballs after running out"
### Expected Behavior

### Actual Behavior

### Steps to Reproduce

### Other Information
OS:
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-23 04:59] IcyZKunGz commented on #348
same here too. mine is

Error code

    main()
  File "pokecli.py", line 104, in main
    bot.take_step()
  File "/Users/Arsapol/Downloads/PokemonGo-Bot-dev/pokemongo_bot/__init__.py", line 31, in take_step
    self.stepper.take_step()
  File "/Users/Arsapol/Downloads/PokemonGo-Bot-dev/pokemongo_bot/stepper.py", line 58, in take_step
    self._work_at_position(position[0], position[1], position[2]

[2016-07-23 05:11] yrck commented on #309
Doug is probably right.

Try this and then yum install- yum whatprovides libc.so.6

[2016-07-23 05:17] solderzzc commented on #320
please reopen if you're still facing this issue.

[2016-07-23 05:17] #320 closed

[2016-07-23 05:25] buusc0 commented on #297
@05-032 Amazing, thanks!

[2016-07-23 05:50] catchemnon commented on #280
also having the issue still

[2016-07-23 05:55] buusc0 commented on #297
@05-032 Could you possibly add the IV checking ability to the --initial-transfer flag, so that the user can select whether to transfer pokemons based on IV or CP?

[2016-07-23 06:34] vanrzuf commented on #315
i dont have 2factor auth enabled but will try

[2016-07-23 06:43] eiselems opened #356 "Update included yaml import, but missing in requirements.txt"
### Expected Behavior
Program runs

### Actual Behavior
[code]
### Steps to Reproduce
*Clone repo
*Install
*Run

### Other Information
OS: Mac OSX
Git Commit: 90225f7133ede69f10167e5ae816391023de0219

Was introduced in 49d3ef6

[2016-07-23 06:49] eiselems commented on #356
duplicate and already fixed in #355

[2016-07-23 06:49] #356 closed

[2016-07-23 06:49] EvilSupahFly opened #358 "Master isn't accepting -m or --mode"
### Expected Behavior
Use -m or --mode

### Actual Behavior
pokecli.py: error: unrecognized arguments: --mode all

### Steps to Reproduce
Run python pokecli.py -a google -u [USER] -p [PASS] --location "37 Church Street, St. Catharines, ON" -c 50 -w 4.16 --mode all

### Other Information
OS: Ubuntu Linux 15.10 running kernel 4.5.3-040503-generic #201605041831 SMP Wed May 4 22:33:50 UTC 2016 on x86_

[2016-07-23 06:54] hnq90 commented on #358
@EvilSupahFly There's no `mode` option in master branch. Try to read their README here: https://github.com/PokemonGoF/PokemonGo-Bot/blob/master/README.md

[2016-07-23 07:00] EvilSupahFly commented on #358
Sorry!

I was looking at the Read-Me for the DEV branch!

[2016-07-23 07:13] kaise123 opened #361 "Syntax error on program run"
![ss 2016-07-23 at 04 44 15](https://cloud.githubusercontent.com/assets/1339312/17076570/ded19ef6-50f4-11e6-84d0-c341c0b0e85e.png)
### Expected Behavior

Program Runs

### Actual Behavior

The following error:

Traceback (most recent call last):
  File "pokecli.py", line 43, in <module>
    from pokemongo_bot import PokemonGoBot
  File "/home/kaise123/pokemon/PokemonGo-Bot/pokemongo_bot/__init__.p

[2016-07-23 07:18] Akadin commented on #361
I too get this error on OSX

[2016-07-23 07:20] carminaburana123 commented on #303
Can anyone write a guide as if we never worked with a computer before. I tried everything but nothing seemed to work

[2016-07-23 07:22] nanoymaster commented on #325
@solderzzc it's not really a part of the bot since requires php

here is the code:
[pmon.zip](https://github.com/PokemonGoF/PokemonGo-Bot/files/379414/pmon.zip)

yes I know it is terrible! don't judge, made at midnight in about 20 mins.
My webserver is chrooted so had to run
pokecli.py [options] |& tee /var/www/html/log.txt
and in another tab:
while true; do cp location.json /var/www/html/location

[2016-07-23 07:23] nanoymaster commented on #325
@douglascamata lol I was thinking pentagram :p
heres how I found it in the morning.. dead:
![bot-died](https://cloud.githubusercontent.com/assets/1678085/17076612/c2f04534-50ae-11e6-8ebd-801e877006f3.png)

[2016-07-23 07:24] Notnuk commented on #361
Same problem.

[2016-07-23 07:28] alatiera commented on #303
can confirm virtualenv solves the problem, i think bug report can be closed

[2016-07-23 07:30] popadiys commented on #313
fine for me as well

[2016-07-23 07:33] CapCap opened #366 "Bot stops moving/spinning/catching/scanning problem"
### Expected Behavior
Bot keeps running around and catching stuff

### Actual Behavior
when step == max step, the below happens. Even with only req arguments, for any size max step, etc.
[#] Scanning area for objects (1 / 1)
steplimit: 1 x: -4 y: 13 pos: 1 dx: -1 dy 0
[#] Scanning area for objects (1 / 1)
steplimit: 1 x: -5 y: 13 pos: 1 dx: -1 dy 0
[#] Scanning area for objects (1 / 1)
steplimit:

[2016-07-23 07:39] Zeper666 opened #368 "PokeStop: Soft ban error."
### Expected Behavior
work

### Actual Behavior
crash randomly

### Steps to Reproduce
wait the bot try to spin a pokestop for the X time.

### Other Information
OS: win10
The msg error say I'm soft banned but i'm not and after reboot the bot work again.

I use this to lunch the bot:
`C:\Python27\python pokecli.py -a ptc -u zeper -p "lol nope" -l "48.842606,2.360102" -c 100 -m all -k "xxxxxxxxxxxx

[2016-07-23 07:48] carminaburana123 commented on #303
Still got some errors though (see previous post)
Maybe most of you are computer wizards I'm not though.  I'm only learning from mistakes i make

[2016-07-23 08:14] kaise123 opened #370 "Trainer no longer shown on map"
![ss 2016-07-23 at 05 41 27](https://cloud.githubusercontent.com/assets/1339312/17076881/1d326f1a-50fd-11e6-86c0-a30fae6455d2.jpg)

### Expected Behavior

Trainer icon to be shown on the map, and map to center on trainer.

### Actual Behavior

Map loads but shows Belgium no matter where your bot is currently, and does not show trainer on map.
This functionality was working earlier, I believe befor

[2016-07-23 08:14] ataetgi commented on #282
Traceback (most recent call last):
  File "pokecli.py", line 126, in <module>
    main()
  File "pokecli.py", line 118, in main
    bot.start()
  File "C:\PokemonGobot\bot.py", line 26, in start
    self._setup_api()
  File "C:\PokemonGobot\bot.py", line 85, in _setup_api
    self._set_starting_position()
  File "C:\PokemonGobot\bot.py", line 220, in _set_starting_position
    self.position = self

[2016-07-23 08:21] nanoymaster opened #374 "XP when inventory is full"
### Expected Behavior
spinning pokestops when inventory should still give XP

### Actual Behavior
in the console it doesn't tell you how much XP was gained only "- Inventory is full!"

### Steps to Reproduce
run bot

[2016-07-23 08:22] crusardri opened #375 "Transfer still not working"
### Expected Behavior

Transfer a pokemon with low CP/IV

### Actual Behavior

Nothing

### Steps to Reproduce

Start the bot with filters (and without filters)

### Other Information
OS: Windows 10
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)
Sorry, i don't know how i can know this info T.T
I just download the lastest dev a few minutes ago

[2016-07-23 08:23] Reaver01 commented on #370
Right now you have to define your username in the html file. I am working on making username config be an external json file.

[2016-07-23 08:30] gagas3113 opened #376 "[ASK] -m MODE --initial-transfer"
in this last update, theres no -m MODE command, and no --initial-transfer,  when running without -m bot  never go to poke stop only catch pokemon.. how to use -m MODE

[2016-07-23 08:31] kaise123 commented on #370
I just worked that out actually. Should this be added to the readme so that it's clearer? Also should be stated that it must be login username not your trainer's name, and that it must be uncommented to work correctly.

[2016-07-23 08:32] Zeper666 opened #377 "Mode "switching to" Loop when out of pokeballs"
### Expected Behavior
work

### Actual Behavior
the bot make a loop

### Steps to Reproduce
don't have pokeball and have the inventory full

### Other Information
OS: Win10
[code]

[2016-07-23 08:36] TheSavior commented on #370
This list should really be automated. The script on start knows what the username is, we should just be saving that to a file.

[2016-07-23 08:46] solderzzc commented on #377
yes, this is a issue.

[2016-07-23 08:52] dominikue commented on #375
Have the same problem - just "--cp 300" and the bot doesn't transfer.

[2016-07-23 08:55] gpires opened #382 "Don't Catch - Out of pokeballs"
### Expected Behavior
Expected to catch I've poké balls and great ballls

### Actual Behavior

[code]

### Other Information
OS:  Win10
Git Commit: cb3d799b0c143ee0ad28aee9d50be7d4e13587c1

[2016-07-23 09:00] necrozis commented on #344
@leadboots5 i think we can make something like "item priority" may be in % for each item in config.
So max item # depends on max slots in bag. (may be)

[2016-07-23 09:02] zx900930 opened #383 "latest dev cant startup"
I got this error when running  `python pokecli.py`

[code]

update: You can solve this by edit:
`self.steplimit=self.config.maxsteps -> self.steplimit=int(self.config.maxsteps)`
in /pokemongo_bot/stepper.py

but after this you will get a new error:

[code]

update:
`Delete the folder and make a fresh git clone fixed the problem.`

### Other Information
OS: Windows 10
Git Commit: lastest dev

[2016-07-23 09:05] #376 closed

[2016-07-23 09:07] LennertW commented on #382
This problem is caused by line 261, 264, 267  in /pokemongo_bot/__init__.py.
remove '.value' on each of those lines to fix it.
Item.ITEM_POKE_BALL.value   -->   Item.ITEM_POKE_BALL

[2016-07-23 09:24] saberone commented on #383
Same here. Tried to run on OSX and through Docker too. But over here ```Step 3 : RUN pip install --no-cache-dir -r requirements.txt``` fails with
[code]

[2016-07-23 09:28] crack00r opened #385 "Crash dev after 20min."
File "C:\Users\Manuel\Desktop\PokemonGo-Bot-dev\PokemonGo-Bot-dev\pokecli.py", line 126, in <module>
    main()
  File "C:\Users\Manuel\Desktop\PokemonGo-Bot-dev\PokemonGo-Bot-dev\pokecli.py", line 119, in main
    bot.take_step()
  File "C:\Users\Manuel\Desktop\PokemonGo-Bot-dev\PokemonGo-Bot-dev\pokemongo_bot\__init__.py", line 33, in take_step
    self.stepper.take_step()
  File "C:\Users\Manue

[2016-07-23 09:28] gpires commented on #382
@LennertW  the problem still persists

[code]

[2016-07-23 09:33] nvhk commented on #383
Yep, the same problem:

`Invalid requirement: 'pip install'
Traceback (most recent call last):
  File "/root/Desktop/PokemonGo-Bot/local/lib/python2.7/site-packages/pip/req/req_install.py", line 78, in __init__
    req = Requirement(req)
  File "/root/Desktop/PokemonGo-Bot/share/python-wheels/packaging-16.7-py2.py3-none-any.whl/packaging/requirements.py", line 94, in __init__
    requirement_strin

[2016-07-23 09:38] vtuan10 commented on #383
go into the requirements.txt and remove "pip install"

your file should begin with "-e git://github.com/tejado/pgoapi.git@1f25e907f3e5f1b603330e71041e1ad7bee7580f#egg=pgoapi" or something like this

[2016-07-23 09:39] LennertW commented on #382
@gpires weird, seems to work for me (don't think I changed anything else):

[code]

[code]

Make sure you saved changes.
Try adding print statements to check what values are checked:
print item['inventory_item_data']['item']['item_id']
print Item.ITEM_POKE_BALL

I changed a few (unrelated) things so my code is a mess, if its not fixed I will create a pull request later today.

[2016-07-23 09:48] gpires commented on #382
@LennertW  That's what I have, Can't debug the code right now. But it must be a typo or something.

[2016-07-23 09:48] gagas3113 opened #392 "[SUGGESTION]"
Need command like ignore pinsir , do not transfer pidgey, etc .

[2016-07-23 09:54] ChronoAS opened #394 "[Suggestion] Keep pokemon based on candy count"
Instead of releasing all pokemon but the strongest, I suggest keeping available pokemon for evolution to boost a ton of pokemon for EXP with an egg. For example, if you have 3 Gastlys (25 to evolve) and 54 candy, then bot must remove 1 Gastly. Once candy count is 75, bot will now keep 3 Gastlys.

Here's the formula to calculate how much pokemon of the same type bot can exchange:

[code]
if is ther

[2016-07-23 09:55] jle3 commented on #375
Same here. Pokemon aren't being exchanged for candy below the specified CP ceiling.

[2016-07-23 09:56] ChronoAS commented on #394
If there's no way to get candy evolution cost and total count of candy for particular pokemon from the API, then I could create a hardcoded list with the values.

[2016-07-23 09:57] Notnuk commented on #375
Same....

[2016-07-23 10:00] MettheRZ opened #395 "The bot didnt catch with powerballs/ultraballs."
The bot didnt catch with powerballs/ultraballs. It does not detect better balls than pokeballs.

[2016-07-23 10:01] vincesmits opened #396 "Debug mode not switchable with flag"
### Expected Behavior

Running latest commit without debug logging

### Actual Behavior

Debug loggin is active regardless of config.json or command line arguments.

### Steps to Reproduce

download latest commit.
check if config is set to false

run

### Other Information
OS: windows 10

[2016-07-23 10:04] #288 closed

[2016-07-23 10:13] Notnuk commented on #395
Same problem.

[2016-07-23 10:22] vincesmits commented on #395
u should explain your problem a bit better.

How many of each pokeball did you have and what was the cp value of the pokemons that you where expecting to be caught with great/ultra balls?

[2016-07-23 10:25] surfaace opened #399 "Transfering catched pokemon even if above IV/CP"
### Expected Behavior
After catching, it should keep the pokemon, as IV value 0.8 should keep pokemons above 0.5 according to docu

### Actual Behavior
[#] A Wild Hitmonchan appeared! [CP 376] [Potential 0.76]
[x] Using Greatball...
[x] Captured Hitmonchan! [CP 376] [IV 0.76] - exchanging for candy
[#] Hitmonchan has been exchanged for candy!

### Steps to Reproduce
pokecli.py -a ptc -u U -p P -l

[2016-07-23 10:28] tonz134 commented on #375
-IV only working on me.
using both -c and -IV will not transfer candy nor using just -c.

[2016-07-23 10:30] Calcyfer commented on #399
Where did you read the 0.5 value?

IV has priority over CP in the code, so 376 CP with IV 0.76 will be transferred since IV is lower than your given 0.8.

[2016-07-23 10:32] surfaace commented on #399
I was wondering why docu was differ 0.3. as it says -iv 0.8 will be 0.5 according to docu, probably typo error in docu then

[2016-07-23 10:32] #399 closed

[2016-07-23 10:39] ben8987 commented on #383
I got this error after I switch back to dev. It has something to do with latest environment.(I updated something)
Traceback (most recent call last):
  File "./pokecli.py", line 120, in <module>
    main()
  File "./pokecli.py", line 108, in main
    bot.start()
  File "/Users/**/PokemonGo-Bot/pokemongo_bot/__init__.py", line 26, in start
    self._setup_api()
  File "/Users/**/PokemonGo-Bot/pokemo

[2016-07-23 10:48] saberone commented on #383
@vtuan10 Replacing first line of requirements.txt with ```-e git://github.com/tejado/pgoapi.git@1f25e907f3e5f1b603330e71041e1ad7bee7580f#egg=pgoapi``` worked.

[2016-07-23 10:56] jjn12 opened #402 "dont work"
got this error when running python pokecli.py

Traceback (most recent call last):
  File "pokecli.py", line 126, in <module>
    main()
  File "pokecli.py", line 114, in main
    bot.start()
  File "C:\PokemonGo-Bot-dev\pokemongo_bot\__init__.py",
line 28, in start
    self._setup_api()
  File "C:\PokemonGo-Bot-dev\pokemongo_bot\__init__.py",
line 167, in _setup_api
    self.get_player_info()
  Fi

[2016-07-23 10:58] CharlesVu commented on #383
None of them worked for me, but I've removed the DEBUG and Test flags on the config.json and it worked. Might be related to #396

[2016-07-23 10:58] Fellner96 opened #403 "PokeStop error"
#[#] Finished walking
[#] Arrived at Pokestop
[#] Now at Pokestop: LONDON OLD LEICESTER SQUARE CH - Spinning...
[+] Loot:
[#] Nothing found.
Traceback (most recent call last):
  File "pokecli.py", line 126, in <module>
    main()
  File "pokecli.py", line 119, in main
    bot.take_step()

[2016-07-23 10:59] MettheRZ commented on #395
[#] PokeBalls: 0
[#] GreatBalls: 51
[#] UltraBalls: 18

[2016-07-23 10:59] MettheRZ commented on #395
and bot didnt catch with greatballs and ultraballs

[2016-07-23 11:01] harsh1412 opened #404 "Seems to get an error after running for an hour. [Master]"
### Expected Behavior

Run continously without stoping.
### Actual Behavior

[#] Walking from (30.326818300000003, 78.04180029999999) to (30.324002, 78.03706
2) for approx. 139.0 seconds
another walking_hook  422016-07-23 15:30:43,428 [    pgoapi] [ INFO] Server seem
s to be busy or offline - try again!
another walking_hook  137 [#] Finished walking to (30.324002, 78.037062)
Arrived at Pokestop
Tr

[2016-07-23 11:03] gpires commented on #338
Probably due encoding?

### Other Information
OS: Win10
Git Commit: cb3d799b0c143ee0ad28aee9d50be7d4e13587c1

[2016-07-23 11:10] TimmD opened #405 "Password containing special chars (!;:'.,)"
### Expected Behavior
Password containing these special chars to login

### Actual Behavior
Password containing these special chars, returns an login/wrong password error

[2016-07-23 11:11] saberone opened #406 "Exception when arrived at Pokestop and "spinning""
### Expected Behaviour
No crash. And collect items from Pokestop ;)

### Actual Behaviour
[code]

### Steps to Reproduce
My config.json looks like this
[code]

### Other Information
OS: OSX
Git Commit: 6681d7c10ad3e694db62b9dd0a10f6b1bac918d3

[2016-07-23 11:16] ckrmml opened #407 "[Instant softban feature] Bot jumps from Germany to Phoenix Arizona when using -lc flag"
### Expected Behavior
Bot starts where i exited it

### Actual Behavior
Bot jumps to Phoenix Arizona. This are like 8971 km (5574 miles) and i get softbanned all the way
one-time 8971km jump: approx. 1713.05 seconds banned (it's the pokestop cooldown time)
triple-time 8971km jump: approx. 36742.75 seconds banned
this really sucks hard

### Steps to Reproduce
Use Bot with -lc flag

### Other Inform

[2016-07-23 11:19] vincesmits commented on #383
When removing those flags i do not get the same result. i get the following

Traceback (most recent call last):
  File "C:\Users\Initez\Desktop\GoBotDev2\pokecli.py", line 126, in <module>
    main()
  File "C:\Users\Initez\Desktop\GoBotDev2\pokecli.py", line 105, in main
    config = init_config()
  File "C:\Users\Initez\Desktop\GoBotDev2\pokecli.py", line 54, in init_config
    load.update(json.

[2016-07-23 11:23] vincesmits commented on #383
Nevermind, needed another pip install --upgrade -r requirements.txt

is now working after remove those flags.

[2016-07-23 11:27] Witzbold commented on #395
I have the same problem. The bot seems to primarily use pokeballs. I realized that sometimes also superballs are used. But although I had many superballs the I got the following log:

[#] A Wild Paras appeared! [CP 60] [Potential 0.42]
[x] Out of pokeballs, switching to farming mode...
12
[#] A Wild Pidgey appeared! [CP 40] [Potential 0.27]
[x] Out of pokeballs, switching to farming mode...

But I

[2016-07-23 11:31] hnq90 commented on #404
Same mine.

[2016-07-23 11:38] rwwagner90 opened #410 "Exchanging all for candy"
### Expected Behavior
Not exchanging all for candy and correctly adhering to `--cp`

### Actual Behavior
Running with `--cp 100` is still transferring all Pokemon

### Steps to Reproduce
Use the `--cp` flag

### Other Information
OS: OS X 10.11.5
Git Commit: 6681d7c10ad3e694db62b9dd0a10f6b1bac918d3

[2016-07-23 11:39] mrwing1 opened #411 "cannot run -mode farm"
here is a full run
[x] Initializing PokemonGO Bot v1.0
[x] PokemonGo Bot [@PokemonGoF | @eggins | @crack00r | @ethervoid | /r/pokemongodev]
usage: pokecli.py [-h] -a AUTH_SERVICE -u USERNAME -p PASSWORD -l LOCATION
                  [-s] [-v] [-w WALK] [-c CP] [-k GMAPKEY]
                  [--maxsteps MAXSTEPS] [-d] [-t] [-tl TRANSFER_LIST]
pokecli.py: error: unrecognized arguments: -mode farm

[2016-07-23 11:42] ckrmml commented on #411
do you run the master branch? mode only works in dev as far as i know and also it should be -m or --mode

[2016-07-23 11:43] MERR0N opened #412 "Crash after start"
2016-07-23 13:41:42,790 [   rpc_api] [DEBUG] Decode raw over protoc (protoc has to be in your PATH):
Couldn't find protoc in your environment OR other issue...
2016-07-23 13:41:42,793 [   rpc_api] [DEBUG] Parsing sub RPC responses...
2016-07-23 13:41:42,795 [   rpc_api] [DEBUG] Parsing class: POGOProtos.Networking.Responses_pb2.GetInventoryResponse
2016-07-23 13:41:42,811 [    pgoapi] [ INFO] Clea

[2016-07-23 11:44] MERR0N commented on #412
And i run script without debug flag, why i see debug info?

[2016-07-23 11:45] th3w4y opened #413 "Walking improvements: Directions API, Elevations API"
is there anything in your TODO list for this?

Was thinking to add a new walk logic to use the map generated by the Directions API for generating a polyline that would need to be walked with the speed that is set.

Additionally for the generated point we could fetch the alt from the Elevations API

this can improve the self.set_position(lat, lng, alt)

maybe this will make the bot walk more natura

[2016-07-23 11:46] mrwing1 commented on #411
yes master

[2016-07-23 11:46] solderzzc commented on #413
I like the idea, I was placed a google API there to simulate people walk.

[2016-07-23 11:47] solderzzc commented on #411
let me close this one since no this mode on master.

[2016-07-23 11:47] #411 closed

[2016-07-23 11:49] DrWiebe commented on #402
try
`sudo pip install -r requirements.txt ` before python pokecli.py ....

[2016-07-23 11:49] solderzzc commented on #350
I need close this, since out date.

[2016-07-23 11:49] #350 closed

[2016-07-23 11:50] solderzzc commented on #396
you need check the config.json.

[2016-07-23 11:53] rwwagner90 opened #415 "IV makes no sense"
### Expected Behavior
IV should be flipped from the way it works now. Setting  `-iv 0.5` should transfer 0.5-1, as those are the lower CP ones. Why would I want to transfer the high CP ones?

### Actual Behavior
Transferring the good ones and keeping the low ones, which seems incorrect

### Steps to Reproduce
Use the IV flag

### Other Information
OS:
Git Commit: (run 'git log -n 1 --pretty=format

[2016-07-23 12:00] solderzzc commented on #415
I can't fix it for now. My 500AM..

[2016-07-23 12:01] solderzzc commented on #385
need more exception protection here.

[2016-07-23 12:01] kriswong opened #417 "Google App Account Server Error"
### Expected Behavior
Google App Email Account should login as previous version

### Actual Behavior
Google App Email Account cause "Login Error, server busy" Message

### Steps to Reproduce
Login with older version, works perfectly.
Login with the latest Dev Branch, Server Error.
Login via client Device, works perfectly.

### Other Information
OS: OSX
Git Commit: (run 'git log -n 1 --pretty=forma

[2016-07-23 12:01] Luab commented on #415
IV ratio is (pokemon IV)/15. So pokemon with ratio of 1 has 15 IV which is good, right?

[2016-07-23 12:09] ompster commented on #366
Had the exact same problem mate. My fix (on linux) was to use the timeout command "timeout 3600s" which will terminate the script after 1 hour. I then had a cron job to run the script with the given parameters every hour on the hour ,etc  Haven't tried on latest build.

[2016-07-23 12:13] rwwagner90 commented on #415
@Luab I'm really not sure what IV is, all I know is it was throwing away high CP Pokemon, which is not what we want.

[2016-07-23 12:16] VirtualSatai commented on #405
Have you tried putting it in quotes or using the config.json file?

[2016-07-23 12:16] jtdroste commented on #417
This is going to sound silly, can you verify you're passing everything correctly?  Also when supplying the password, wrap it between quotes.  If you have special characters, your terminal might do funky things to it.

[2016-07-23 12:19] Luab commented on #415
@rwwagner90 IV is a long term quality of pokemon and it determines maximum CP, so while pokemons with higher IV could have less CP their upgrade potential is higher. And visa versa.
http://gaming.stackexchange.com/questions/276692/in-pokemon-go-what-are-my-pokemons-hidden-iv-stats-and-why-do-they-matter

[2016-07-23 12:19] kriswong commented on #417
Quotes did the trick.
Its weird because previous version didn't seem to need them

[2016-07-23 12:19] #417 closed

[2016-07-23 12:20] jtdroste commented on #405
What @VirtualSatai said is correct.  Please put your password in quotes, or inside the config.json file.

Closing.

[2016-07-23 12:20] #405 closed

[2016-07-23 12:20] YourATowel commented on #415
Could be to do with the "-c" option not working ?

All pokemon still being transferred regardles off -c flag settings.

[2016-07-23 12:22] julienkessels commented on #368
yes program should just wait some time and relaunch after! having the same problem

[2016-07-23 12:23] rwwagner90 commented on #415
I think the default -iv is overriding any -cp we set

[2016-07-23 12:24] #396 closed

[2016-07-23 12:27] rwwagner90 commented on #415
@Luab so are higher values of IV here better? I assume a 1.0 would be perfect?

[2016-07-23 12:30] maddo7 opened #420 "Add HTTP proxy support"
For maximum safety I would suggest to add a feature where all requests go through an HTTP proxy.
Preferably this is set through command line.

[2016-07-23 12:30] sinistance commented on #415
here is the current logic based on codebase at https://github.com/PokemonGoF/PokemonGo-Bot/blob/dev/pokemongo_bot/cell_workers/pokemon_catch_worker.py#L102
[code]

i think there is nothing wrong there 😕

[2016-07-23 12:31] Luab commented on #415
@rwwagner90 yes. But if IV is high, but CP is low it would take large amount of dust to upgrade the pokemon.

[2016-07-23 12:34] zgelici commented on #415
i catched some pokemons with much cp, it transfered. also i removed the -iv and still removed every pokemon with high cp.

[2016-07-23 12:34] vincesmits commented on #415
can confirm the above issue with the latest commit

[2016-07-23 12:35] rwwagner90 commented on #415
I just set `-iv 0` to be able to use `-cp 200` correctly

[2016-07-23 12:38] anonymouslulz22 opened #423 "transfer of pokemons above my given cp"
### Expected Behavior
when i use -c 350 then it should transfer all the pokemons getting caught which is lower than cp 350

### Actual Behavior
but it transfers pokemons of cp more than give

### Steps to Reproduce
--c

### Other Information
OS:kali
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-23 12:38] anonymouslulz22 commented on #423
-iv although works for me

[2016-07-23 12:40] anonymouslulz22 commented on #410
same happening with me i gave --cp 500 but it transfers pokemons of more than that cp also -c also does the same although -iv works for me

[2016-07-23 12:42] doctor-ew opened #425 "Switching From Master To Dev Throws Error on Start up: KeyError: 'player_data' -- RESOLVED"
### RESOLVED

I recloned dev branch outside my original repo clone -- works perfect.

Leaving this here in case someone runs into same issue.

THANKS FOR THE WORK, TEAM!!

I've been running master throughout the night -- this project is awesome!

Wanted to try dev; however, the code errors out:
player = response_dict['responses']['GET_PLAYER']['player_data']
KeyError: 'player_data'

### Actual Beh

[2016-07-23 12:45] J102030 commented on #423
Same issue here when no -iv parameter used

[2016-07-23 12:46] Hatsunyan opened #427 "infinite loop if Out of pokeballs"
[#] Something rustles nearby!
[#] A Wild Pidgey appeared! [CP 25]
[x] Out of pokeballs...
[#] A Wild Zubat appeared! [CP 167]
[x] Out of pokeballs...
[#] A Wild Pidgey appeared! [CP 25]
[x] Out of pokeballs...
[#] A Wild Zubat appeared! [CP 167]
[x] Out of pokeballs...
[#] Something rustles nearby!
[#] A Wild Pidgey appeared! [CP 25]
[x] Out of pokeballs...
[#] A Wild Zubat appeared! [CP 167]
[x]

[2016-07-23 12:53] tzull commented on #410
@anonymouslulz22 how we know IV potential set? because i got CP 900 with Potential 0.7 and another pokemon with CP 125 with potential 0.9.

[2016-07-23 13:01] J102030 commented on #415
IV is a stat made of three values, each out of a maximum of 15. How, then, does code calculate IV as the numerator in the IV/15 formula?

[2016-07-23 13:01] mrwing1 opened #430 "question about mode"
i ask bc i wanna bot in japan (pic of it here http://image.prntscr.com/image/901eae14f0004fd0a53937f8f2af945b.png)

now i wanna use pokestops too so what should i do for a mode farm all or poke

[2016-07-23 13:05] nanoymaster commented on #325
update... might end up creating a spin-off github if anyone is interested...
added player current stats under log (updated every 10 mins or so)

![map_mod_2](https://cloud.githubusercontent.com/assets/1678085/17077990/7dad7430-50de-11e6-8046-240f0fb78e09.png)

[2016-07-23 13:06] bgrimm commented on #423
same issue here. only using -c

[2016-07-23 13:11] mrwing1 commented on #430
ah got it farm is the one i like but going to japan got me softbannd

[2016-07-23 13:12] jtdroste commented on #41
Try again @Brown-amazingness .  We got rate limited by slack, but it was just lifted!

[2016-07-23 13:12] clavat opened #432 "[Enhancement] Search Pokemon using API like PokeVision"
Hello,

It's not a issue, but a usefull tips to improve the search behavior !
Search Pokemon around our trainer like this webmap : https://pokevision.com/

This webmap use API to search each Pokemon around a point. Maybe we can add new parameter to the BOT like the ignore list, but here is wish list !

[2016-07-23 13:14] doctor-ew commented on #430
append with --mode "all"

python2 pokecli.py -a google -u tejado -p 1234 --location "New York, Washington Square"  --mode "all"

[2016-07-23 13:14] JohanJu commented on #415
@rwwagner90 @sinistance
if cp < self.config.cp **or** pokemon_potential < self.config.pokemon_potential: transfer
can be edited to
if cp < self.config.cp **and** pokemon_potential < self.config.pokemon_potential: transfer
then all high cp or high iv pokemon will be kept

this can be made more complex, e.g.
cp > 1000 keep all
1000 > cp > 500 keep high iv > 0.5
cp < 500 release all

There also shoul

[2016-07-23 13:17] tatgod91 opened #433 "bot wont open for me"
### Expected Behavior

### Actual Behavior
it doesnt open at all for me

### Steps to Reproduce

### Other Information
OS:
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-23 13:24] buusc0 commented on #433
We can't help you if that's all the info you provide. What's your OS? Is there an error message? What does it say?

[2016-07-23 13:25] theonlyShiro opened #434 "Capture pokemon and exchanded for candy without giving that prarameter."
### Expected Behavior
Only walk and capture Pokemons at the giving speed.

### Actual Behavior
walk at the giving speed and capture pokemons and exchanged all captured pokemon for candy
### Steps to Reproduce
pokecli.py -a ptc -u xxx -p xxx -l xx,xx -w 3.16

### Other Information
OS: Win 10
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-23 13:26] millejosh commented on #434
What was the CP of the transferred pokemon? default transfer is CP 100
if you want lower than that you have to define as -c XX

[2016-07-23 13:29] julesferreira commented on #423
pokemon are currently transferred if `CP` **OR** `IV` are less than configured values. (defaults: `CP:100`, `IV:0.8`)

[2016-07-23 13:30] buusc0 commented on #404
Can confirm this issue exists. Ran multiple sessions last night before bed, all of them ended with the above error a few hours later.

[2016-07-23 13:32] tatgod91 commented on #433
sorry im on windows 10. the is no error message it i run exe and it simply does nothing. Sorry for lack of info

[2016-07-23 13:36] Witzbold commented on #434
I can say that the bot exchanged for me pokemon with cp higher than 500  (about 600+) although my -c setting is 500.

[2016-07-23 13:37] dominikue commented on #404
Can confirm too.

[2016-07-23 13:42] go-on-git opened #437 "Bot spinning gyms?"
Noticed that the bot will 'spin' gyms and get items. Is this possible with the app? If not it should be removed to prevent ban detection.

(Using master)

[2016-07-23 13:42] clavat commented on #434
Take care about the -iv parameter too.

`-iv IV, --pokemon_potential                   Set the ratio for the IV values to transfer (eg. 0.8 will transfer a pokemon with IV 0.5)`

[2016-07-23 13:43] harsh1412 commented on #404
Make this issue an urgent one please @eggins

[2016-07-23 13:44] dominikue commented on #433
There is no exe?
You need to install the Requirements first:
- Python 2.7.x
- pip
- git
- virtualenv (Optional)
- docker (Optional)
- protobuf 3 (OS Dependent, see below)

[2016-07-23 13:47] DokterPhill opened #438 "Error at startup"
### Expected Behavior

Program running
### Actual Behavior

 print '[#] something rustles nearby!'
SyntaxError: Missing parentheses in call to 'print'
### Steps to Reproduce
Pokecli.py -a google -u user -p pass - location location

### Other Information
OS: win10
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-23 13:52] Skeyelab commented on #407
how are you getting your ban time?

[2016-07-23 13:59] mrwing1 opened #440 "bot doenst start"
full start
XXXXXX:PokemonGo-Bot XXXX$ python pokecli.py -a google -u XXXXXXXX -p XXXXXXXX --location "XXXXXXXX, XXXXXXXXX“ -m farm

and thats forever

[2016-07-23 14:00] TSM-EVO commented on #423
This is very good and this is how it should be.

If you want to keep trashy pokemon, you can set the params to

-iv 0.1

and/or

-c -1

[2016-07-23 14:02] douglascamata commented on #438
you're using python 3 and we work with python 2

[2016-07-23 14:05] Electrofenster commented on #425
@doctor-ew you should remove your google email and password from this issue!

[2016-07-23 14:09] doctor-ew commented on #434
my -c setting is default (not passed as parameter)

[#] A Wild Meowth appeared! [CP 173] [Potential 0.53]
[x] Using Pokeball...
[x] Captured Meowth! [CP 173] [IV 0.53] - exchanging for candy
[#] Meowth has been exchanged for candy!

Doh!

[2016-07-23 14:15] vtuan10 commented on #423
is there a reason for setting default of IV to 0.8?
Most people do not know what this is and and are wondering why their high cp pokemon were transferred.
And i would not like it if my 3000 cp dragoran with a IV of 0.7 would be transferred....

[2016-07-23 14:16] doctor-ew commented on #434
Yeah -- something up with the iv

[#] A Wild Drowzee appeared! [CP 262] [Potential 0.44]
[x] Using Pokeball...
[x] Captured Drowzee! [CP 262] [IV 0.44] - exchanging for candy
[#] Drowzee has been exchanged for candy!

[2016-07-23 14:18] gpires commented on #434
Same here

[code]

[code]

[2016-07-23 14:20] Lordedi opened #442 "Server busy ?"
[x] PokemonGO Bot v1.0
[x] Configuration initialized

[x] Address found: 48.863381, 2.289107000000058
[x] Position in-game set as: (48.8636968, 2.2888097, 0.0)

Login Error, server busy

[2016-07-23 14:21] Tekill commented on #434
[code]

[2016-07-23 14:22] doctor-ew commented on #434
I compensated with:  -iv 0 -c 200

[#] A Wild Machop appeared! [CP 238] [Potential 0.87]
[x] Using Pokeball...
[x] Captured Machop! [CP 238]

[2016-07-23 14:22] millejosh commented on #442
It is just as it describes, the server cannot handle your request. Please try again

[2016-07-23 14:23] tstumm commented on #442
Not a PokemonGo-Bot issue.

[2016-07-23 14:23] #442 closed

[2016-07-23 14:24] millejosh commented on #440
@mrwing1 we can not help you if you do not provide more information

IE - OS, Master or Dev, Full error message

[2016-07-23 14:24] vladlaptev commented on #440
Very detailed description of the error. Where is error log?

[2016-07-23 14:24] mrwing1 commented on #440
fixed that im now softbanned

2016-07-23 16:24 GMT+02:00 Vlad <notifications@github.com>:

[2016-07-23 14:25] gpires commented on #434
@Tekill thanks your answer  :)
I was interpreting iv value backswords

[2016-07-23 14:25] seorniyc commented on #440
[x] Initializing PokemonGO Bot v1.0
[x] PokemonGo Bot [@PokemonGoF | @eggins | @crack00r | @ethervoid | /r/pokemongodev]
[x] Configuration Initialized

Traceback (most recent call last):
  File "pokecli.py", line 128, in <module>
    main()
  File "pokecli.py", line 120, in main
    bot.start()
  File "C:\Users\Ayhan\PokemonGo-Bot\bot.py", line 26, in start
    self._setup_api()
  File "C:\Users\A

[2016-07-23 14:25] Lordedi commented on #442
Ok thanks guys

[2016-07-23 14:26] dominikue opened #443 "[enhancement] Make a --cp_percent command"
Make a --cp_percent command, which can calculate with the pokemon max cp an optimal cp to keep it.

**For example:**
--cp_percent 0.8
Exchange an Magikarp (Max CP 262.70) under 210.16
Exchange an Pikachu (Max CP 887.69) under 710.152

Source: http://pokemongo.gamepress.gg/pokemon-list

[2016-07-23 14:27] millejosh commented on #440
@seorniyc what coor'ds are you entering?

@mrwing1 if the error is resolved please close the issue

[2016-07-23 14:28] millejosh commented on #437
@go-on-git Can you paste the log where it is spinning gyms?

[2016-07-23 14:32] Sharpienero commented on #440
Full the most recent repo and try again.

[2016-07-23 14:32] julesferreira commented on #385
https://github.com/PokemonGoF/PokemonGo-Bot/pull/409

[2016-07-23 14:32] Sharpienero commented on #438
Please close the issue if this resolves your issue.

[2016-07-23 14:34] Sharpienero commented on #402
Also try  `python2 pokecli.py -a ptc -u Sharpienero -p password --location "xx.xx, -yy.yy"`

[2016-07-23 14:34] dddbliss commented on #437
+1

Don't have a log available, but noticed that the bot would spin a gym near my house. Since it is the only nearby fort there was no confusion.

[2016-07-23 14:35] seorniyc commented on #440
"33.812051,-117.919263" coordinates

[2016-07-23 14:36] doctor-ew commented on #425
Carp! Thought I got all references. It's a throwaway, but thx.

[2016-07-23 14:41] tstumm commented on #442
Maybe #417 does the trick

[2016-07-23 14:41] spenceryi opened #445 "[Suggestion & Question] Limit writes to the disk"
I noticed that some JSON data files are constantly writing on the disk while the bot is running. For example, location-USERNAME.json and last-location-USERNAME.json are being written every time you take a step. This isn't much of a problem for users who are running the bot on a HDD, but this could hurt the lifespan of SSD.

last-location-USERNAME.json
I haven't looked at the code deep enough but I

[2016-07-23 14:41] ts91 opened #446 "-iv unsets -c"
### Expected Behavior
If -iv and -c are both set they should both be taken into account when deciding to transfer a caught pokemon.

### Actual Behavior
If -iv and -c are set. Only the -iv value is used, disregarding the -c.

### Steps to Reproduce

### Other Information
OS: Linux
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-23 14:43] ts91 commented on #446
Sorry I think it actually is doing the wanted behavior at the moment. How do I close this?

[2016-07-23 14:44] dominikue commented on #446
Left button next the green Comment Button.

[2016-07-23 14:44] #446 closed

[2016-07-23 14:54] dominikue commented on #394
@ChronoAS I maked a spreadsheet with all the candy cost - there are just 69 pokemon which can evolve. Dont know how much work is a hardcoded list. https://docs.google.com/spreadsheets/d/1ZOixOUTdin3TxLJ3pa5TnFW6WvFTe0Zg3hfTEXz9MJo/edit?usp=sharing

[2016-07-23 14:56] douglascamata commented on #445
@spenceryi the hurt of the life span of the SSD will be negligible.

Can't be stored in RAM because we're talking about Python code communicating with Javascript.

[2016-07-23 14:56] douglascamata commented on #443
@dominikue how do we discover max CP of a pokemon?

[2016-07-23 14:57] douglascamata commented on #443
This is a good thing!

[2016-07-23 14:59] brantje commented on #443
Isn't the IV used for that?

[2016-07-23 14:59] AngerN opened #447 "Cryptodome"
C:\Python27\PokemonGo-Bot>pokecli.py - -l "53.012808, 18.597326" -lc -cp100 -m all -w 4.16 -du km -c 200
Traceback (most recent call last):
  File "C:\Python27\PokemonGo-Bot\pokecli.py", line 43, in <module>
    from pokemongo_bot import PokemonGoBot
  File "C:\Python27\PokemonGo-Bot\pokemongo_bot\__init__.py", line 10, in <module>
    from pgoapi import PGoApi
  File "c:\python27\pokemongo-bot\sr

[2016-07-23 15:00] douglascamata commented on #443
@brantje dunno how IV works, I've been sleeping while ppl implemented it.

[2016-07-23 15:04] dominikue commented on #443
@brantje the IV is the maximum CP, but the --cp parameter meas the CP at the moment.
#415

_Luab commented 3 hours ago
@rwwagner90 IV is a long term quality of pokemon and it determines maximum CP, so while pokemons with higher IV could have less CP their upgrade potential is higher. And visa versa.
http://gaming.stackexchange.com/questions/276692/in-pokemon-go-what-are-my-pokemons-hidden-iv-stats

[2016-07-23 15:08] douglascamata commented on #447
Install Linux. lol

[2016-07-23 15:08] AngerN commented on #447
;]

[2016-07-23 15:10] douglascamata commented on #443
@dominikue so if IV == 1 it means we found the highest CP version of a pokemon, right?

[2016-07-23 15:10] LostDGod commented on #432
This is by far the feature I'm looking foward the most since I first started using this bot. Its not on the TO DO LIST but I've always assumed it would be implemented at some point.
Scanning for nearby pokemons and going for the closest one after going through a rarity filter (so it skips everything if a rare pokemon is nearby) it would be beyond awesome!

[2016-07-23 15:17] popadiys commented on #443
I am not sure how correct is the current implementation:

[#] A Wild Shellder appeared! [CP 464] [Potential 0.6]
[x] Using Greatball...
[x] Captured Shellder! [CP 464] [IV 0.6] - exchanging for candy
[#] Shellder has been exchanged for candy!

Shellder CP 464 is pretty high, but the IV is calculated to 0.6 only

[2016-07-23 15:18] ts91 commented on #423
At the moment I believe it is -c **AND** -iv for transfered pokemons. The -iv should default to 0. What does it default to at the moment?

[2016-07-23 15:20] hoangnn89 commented on #445
@douglascamata write only if arg `-lc, --location_cache`, possible?

[2016-07-23 15:21] douglascamata commented on #443
@popadiys as I understood, IV is potential to reach higher CP easily. In other words, let's say your Shellder gains 30 CP per power up.... maybe you can find Shellders that gain 40 or 50 CP per power up.

[2016-07-23 15:24] douglascamata commented on #443
One problem is that when we evolve Pokemon, IV gets reseted. Maybe you Shellder can have become a great Cloyster.

[2016-07-23 15:27] popadiys commented on #443
could have become, if the bot didn't exchange it for candy :) I think the IV potential is pretty misleading then, and the default value of 0.8 may discard valuable pokemons

[2016-07-23 15:31] go-on-git commented on #437
I don't have exact log but grabbed the coords:
42.267592, -83.027075 fort ID (33f17840024f4ba9bc1e25e9ece4cc2f.16) is a gym
42.266746, -83.027786 fort ID (c0e6653e57d54f64b705d3f7fa2f4435.16) is a stop

Not sure if fort ID is useful or if unique to each process but included it just in case.

[2016-07-23 15:35] skydrome commented on #415
i suggest we multiply by 100 to make it more human friendly
`pokemon_potential = round(( (total_IV / 45.0) * 100), 2)`
this simply turns it into a range from 0-100%

[2016-07-23 15:37] msdrahcir commented on #443
IVs do not get reset on evolution. CP is a combination of IV stats (indidual_attack, individual_defense,individual_stamina), base stats for pokemon, and pokemon half level (known through cp multiplier and additional cp multipler). http://pokemongo.gamepress.gg/pokemon-stats-advanced

[2016-07-23 15:37] douglascamata commented on #445
@hoangnn89 nope, because location is used by our map to visualise where the player is and also draw stuff nearby.

[2016-07-23 15:37] johnw424 commented on #443
@douglascamata @popadiys
High CP does not mean high IV.
Here is an example (fake #s).
Catch Lapras A (CP 1000, IV 30%).
Catch Lapras B (CP 400, IV 90%).
Which is better?
Currently, A is stronger, but this is their final maxed state:
Lapras A (CP 2500, IV 30%)
Lapras B (CP 2600, IV 90%)

[More info on IV.
](https://pokeassistant.com/main/ivcalculator)

[2016-07-23 15:38] ts91 commented on #423
The default values are in _config.json.example_ so at the moment CP 100 and IV 0.7. Are these sensible  values?

[2016-07-23 15:38] LasseSkogland commented on #425
You will need to change some values in: pokemongo_bot\__init__.py
Heres the patch: https://gist.github.com/LasseSkogland/5d064902dd054fbdfdf5ed7c76c5ac99

[2016-07-23 15:41] doctor-ew commented on #425
@LasseSkogland -- re-cloning the repo did the trick. Thanks!

[2016-07-23 15:42] johnw424 commented on #443
@douglascamata
I believe what you're asking for IS the current implementation.
Each pokemon can have +0 to +15 on attack, stamina, and defense.
A perfect pokemon has (15 attack + 15 stamina + 15 defense)/(45 total) = 100% perfection aka 1.00 IV
A not perfect pokemon can have (0 attack + 5 stamina + 5 defense)/(45 total) = 22.2% perfection aka 0.22 IV.

[2016-07-23 15:45] dominikue commented on #443
@johnw424 But i think a Lapras B (CP 400, IV 90%) isn't worth to upgrade.

[2016-07-23 15:48] seratkurtulus opened #452 "[Suggestion] Rename Pokemon"
I have no idea if it is possible to rename the pokemon through the api but it would be nice to rename the caught pokemons with their IV value. There is no way of knowing the IV values of the pokemons after they are caught("it is also only possible through api"), so it would be awesome to have the values attached to them.
For example an Eevee with 0.75 IV value could be renamed to "Eevee75" maybe?

[2016-07-23 15:49] julesferreira commented on #443
@dominikue probably not until the late game. CP can always be maxed to 100% given enough candy/dust, IV never changes.

[2016-07-23 15:50] julesferreira commented on #443
i.e. at max level, IV will determine the strongest pokemon

[2016-07-23 15:51] zynjec opened #453 "location_cache no longer works."
### Expected Behavior
The script to resume farming where it left off when launched with --location_cache, issue began after multi-account pull request was accepted (changed the name of location.json)

### Actual Behavior
Starts farming at supplied location (via command line or options).

### Steps to Reproduce
Run script with --location_cache.

### Other Information
OS: Ubuntu 14.04
Git Commit: 34

[2016-07-23 15:55] dominikue commented on #443
Dust is a problem in late game. The idea with the --cp_percent command is:
A pokemon with over 80% or 90% max cp and perfect IV are the best too keep and evolve.

If you just use -c 300 you will not caught an perfect Magikarp too evolve.

[2016-07-23 15:55] ts91 commented on #415
Appears to completely disregard the CP value. Question is how it should it ideally be. To me it makes most sense that it be: CP **OR** IV higher than specified values for transfer?

Perhaps the could be more elaborate options as suggested.

[2016-07-23 15:58] ts91 commented on #415
@sinistance true but not the observed behavior. Dunno what is wrong...

[2016-07-23 16:00] skydrome commented on #453
--location_cache true

[2016-07-23 16:00] JohanJu commented on #415
@ts91 what is the observed behavior?
if pokemon cp < config cp or pokemon potential <  config potential
    transfer it
means that if iv is less than a limit it will be transferred regardless of cp

[2016-07-23 16:02] zynjec commented on #453
Documentation needs to be updated then, somewhere overnight it went from just passing --location_cache to needed a boolean value.

[2016-07-23 16:05] ts91 commented on #415
Made a mistake previously. @JohanJu it says OR right? So if CP is higher than limit is shouldn't be tranfered?

[2016-07-23 16:07] JohanJu commented on #415
@ts91
`f pokemon cp < config cp or pokemon potential <  config potential
    transfer it`
`f pokemon false or true
    transfer it`
false or true = true which means that it will be transferred

[2016-07-23 16:07] dominikue commented on #453
The same with "-it, --initial_transfer".

[2016-07-23 16:09] ts91 commented on #415
@JohanJu yes right the observed behavior matches. So it should be an AND?

[2016-07-23 16:10] skydrome commented on #415
@ts91 no those stats are bad and it released it cause the iv is awful
nothing below an IV of 0.80 is worth keeping

[2016-07-23 16:12] dominikue commented on #452
Would be great, if its possible :+1:

[2016-07-23 16:15] MeGaPk opened #457 "bot don't startup"
I try start bot with my login & password and get this error:
[code]

In response_dict['responses']['GET_PLAYER'] i have:
[code]

What problem?
Thanks for answer!

[2016-07-23 16:18] gamehauz opened #458 "-m -iv not working, Only catching Pokemon and not spinning Poke stops, Transfers all pokemons regardless of CP"
1. commands -m and -iv are not recognized

2. I can only do one thing at a time, it's either I spin poke stops or I catch pokemons.

3. It also transfers everything regardless of what I put on -c

[2016-07-23 16:18] ts91 commented on #415
@skydrome not even a Drogonite or some other rare? Might be so, but I think the default IV should be set at 0 not to confuse noobs like myself.

[2016-07-23 16:19] skydrome commented on #415
yes you can get shitty rare pokemon, i just transferred a 1100cp snorlax

[2016-07-23 16:19] doctor-ew commented on #458
try prepending like: --mode 'all' -iv 0 -c 200

[2016-07-23 16:22] ginetrix commented on #458
@doctor-ew I'm 99% sure he is on master branch

[2016-07-23 16:23] msdrahcir commented on #415
It makes sense to seek incremental improvement over your existing pokemon instead of just expecting to immediately catch only the very best.

[2016-07-23 16:24] doctor-ew opened #459 "Not an issue with the code, but a warning for its use..."
Don't jump too far each go (I've been using pokevision), or close the connection and wait the appropriate amount of time it would take to travel by car...

I lost a Jynx that was 10 miles away by jumping there :-)

[2016-07-23 16:25] skydrome commented on #415
that would be true if you play the game as its meant to be played, but this is a bot that plays it for you. In such, only accept the best

[2016-07-23 16:28] 05-032 commented on #415
@JohanJu @skydrome
I can see the point in both of your responses, I've added a VICP value in a new Pull Request to prevent situations where you may want to keep a high CP low IV Pokemon. It however, can be set to a very large number if you don't want to use it.
In addition, the default IV has been set to 0 so people are not confused if they do not set the IV flag.

Pull Request:
https://github.com

[2016-07-23 16:30] gamehauz commented on #458
............ -73.972816" --mode 'all' --walk 4

and the response would be below

usage: pokecli.py [-h] -a AUTH_SERVICE -u USERNAME -p PASSWORD -l LOCATION
                  [-s] [-v] [-w WALK] [-c CP] [-k GMAPKEY]
                  [--maxsteps MAXSTEPS] [-d] [-t] [-tl TRANSFER_LIST]
pokecli.py: error: unrecognized arguments: --mode all

Sorry, I'm a noob. Did someone remove it from the new versio

[2016-07-23 16:31] dominikue commented on #452
If rename is possible, make also an "-ir, --initial_rename" command :)

[2016-07-23 16:31] ginetrix commented on #458
You should try to switch to the dev branch by typing: "git checkout -b dev origin/dev"

[2016-07-23 16:31] #410 closed

[2016-07-23 16:32] msdrahcir commented on #415
Even if you are botting 24/7, it would take weeks to get enough candy/stardust to evolve some rare pokemon to max. There is immediate value in high CP pokemon, even when their IV's aren't the highest.  For many pokemon, variation in IVs makes up for less than 10% of total CP.  Furthermore, your pokemon can have great IVs and a poor moveset / evolve into a garbage moveset. While I'm seeking the bes

[2016-07-23 16:32] gamehauz commented on #458
I'll try it out later, thanks ginetrix

[2016-07-23 16:32] Aiyubi commented on #447
you should use python to execute the files

[2016-07-23 16:33] Aiyubi commented on #445
@douglascamata so the real request would be an option to diable the map

[2016-07-23 16:41] TheGoldenXY opened #462 "Exchanging pokemons bug"
### Expected Behavior
When I set the `-c 200 -iv 0.4` arg it should ONLY transfer 0-200 cp pokemons. It should keep ALL pokemons with cp higher than 200.

### Actual Behavior
If the bot finds pokemons with cp below 200, it exchanges them for candy.
If the bot finds a pokemon with cp above 200, it exchanges the pokemon for candy.
http://prntscr.com/bwkcsc
### Steps to Reproduce
Use this command:
`p

[2016-07-23 16:47] ts91 commented on #415
It would be nice to see the standard deviation in IV. I have had this bot on for about an hour now, and I can tell >0.8 IV Pokemons are quite rare. If you were to find a Snorlax with that IV ahhh .. don't count on it!

[2016-07-23 16:48] JohanJu commented on #415
pokemongo_bot/__init__.py row 214
its my comments
`or x in range(1, len(group_cp)): # exclude highest cp
                    if self.config.cp and group_cp[x] > self.config.cp:
                        continue # if cp is != 0 and cp > config.cp dont transfer
                    print('[x] Transferring {} with CP {}'.format(`
So if self.config.cp == 0 pokemon will get transfered?

[2016-07-23 16:50] dominikue commented on #462
Use -iv 0 to keep all pokemons above 200 CP.

[2016-07-23 16:51] TheGoldenXY commented on #462
Thanks

[2016-07-23 16:51] #462 closed

[2016-07-23 16:53] crantron commented on #309
If anyone else is having this problem it's because the ```python-development```  package wasn't installed.

[2016-07-23 16:53] #309 closed

[2016-07-23 16:54] ckrmml commented on #407
I simply assume the pokestop cooldowntime equals bantime

[2016-07-23 16:58] gamehauz commented on #458
I switched to the dev branch but there's a weird error.

No such file or directory: 'data/pokemon.json'

Even though pokemon.json is in there.

[2016-07-23 17:03] doctor-ew commented on #458
@gamehauz -- I ended up removing the repo and re-cloning

git clone -b dev git@github.com:PokemonGoF/PokemonGo-Bot.git

[2016-07-23 17:04] anonymouslulz22 opened #464 "bot doesnt go to the nearest pokestop"
### Expected Behavior
ok! so the bot is pretty good and it should go to the nearest pokestop

### Actual Behavior
it goes to the most far away pokestop

### Steps to Reproduce

### Other Information
OS: kali
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-23 17:04] anonymouslulz22 commented on #464
when will it get fixed?

[2016-07-23 17:10] dominikue commented on #464
#141 #186 #219

[2016-07-23 17:14] #464 closed

[2016-07-23 17:23] gamehauz commented on #458
Removed the repo and re-cloned, it's still has the (No such file or directory: 'data/pokemon.json') error. I wonder why, thanks for the help anyway doctor-ew.

[2016-07-23 17:24] buusc0 commented on #443
@dominikue Tbh I don't really see dust as a problem late game if you're botting. I have over 200k at the moment...

[2016-07-23 17:31] J102030 commented on #452
Or even the pure IV values as ATK.DEF.STAM

[2016-07-23 17:31] mzupan commented on #445
@Aiyubi you'll never destroy a SSD keeping this bot running for 3 years in a row

[2016-07-23 17:33] gamehauz commented on #458
Oops my mistake, it's working now, thanks everyone.

[2016-07-23 17:33] #458 closed

[2016-07-23 17:33] dominikue commented on #443
@buusc0 It cost 280k to max one pokemon.. https://docs.google.com/spreadsheets/d/1xZ1daunztOgvOZxO7ABfJPF41-2mqMDzY1Qs_0OWwq8/edit#gid=320772897

[2016-07-23 17:34] johnw424 commented on #415
Assuming each of the three IV stats have an even and independent likelihood to be a value between 0 and 15:
IV 0.80 = ~4% chance
IV 0.85 = ~2% chance
IV 0.90 = ~0.85% chance

If you factor in evolutions and CPs, the chance of getting a high CP, high IV, good move set pokemon gets even lower (probably on the order of 100x harder).

[2016-07-23 17:35] gsarrica commented on #457
I get the same issue on dev branch. Master branch is fine.

[2016-07-23 17:39] haykuro opened #468 "No map objects on windows?"
On Windows running python2.7, a buddy is getting this:

[code]

in stepper.py:
[code]

[2016-07-23 17:44] buusc0 commented on #443
@dominikue I understand, but considering that I'm getting about 60k a day, even with the bot still in its alpha stage, I don't think it'll be a problem. It'll be much harder to find a 95%+ IV perfection pokemon with the right moveset than to bot for a couple days for the dust to upgrade it.

[2016-07-23 17:46] Aiyubi commented on #445
@mzupan I am using a SD Card (yay for rasp pi) - for me it would be more about reducing the load.

[2016-07-23 17:47] phupabegim opened #469 "Bot doesn't start"
### Expected Behavior

Bot starts.

### Actual Behaviour

[code]

### Steps to Reproduce

### Other Information
OS:
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-23 17:48] TheGoldenXY opened #470 "Bot crashes on getting _INVENTORY"
### Expected Behavior
The bot should be able to run 24/7 without crashing.

### Actual Behavior
After 40 minutes of uptime, the bot crashes with this message:
http://prntscr.com/bwl5j0

### Steps to Reproduce
N/A

### Other Information
OS: Ubuntu, 14.04
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)
a5cf48976651adcbfe02d29f129f0f625ba5d1ec

[2016-07-23 17:51] HT395925N commented on #469
Try "pip install -r /requirements.txt"

[2016-07-23 17:54] dominikue commented on #443
Hope somebodoy implements #452 - would help for IV :)

[2016-07-23 17:56] phupabegim commented on #469
I've already run that as visible in the paste.

[2016-07-23 18:00] kriswong commented on #394
Wondering if anyone is actually working on this enhancement? If So let me know if I can contribute

[2016-07-23 18:01] GreWull commented on #452
Trying to make it work..
`def rename_pokemon(self, pid, name):

        self.api.nickname_pokemon(pokemon_id=pid, nickname="MyName")

        response_dict = self.api.call()

        print(response_dict)
`

I don't why I keep getting "{'NICKNAME_POKEMON': {'result': 3}}" which means ERROR_POKEMON_NOT_FOUND even tho I'm using the same ID that trasnfer_pokemon uses.

If someone can find why is not w

[2016-07-23 18:04] GreWull commented on #469
Try installing them on by one till it works :)

"pip install googlemaps"

[2016-07-23 18:04] julesferreira commented on #452
@GreWull id from `pokemon_to_transfer[0]`?

[2016-07-23 18:06] GreWull commented on #452
@julesferreira yes, tried to use that one.

Just to be sure I tried the same thing with "set_favorite_pokemon" (still using the same ID) and that Pokemon became "favoire" (yellow star) but the nickname function gave again result: 3 (pokemon not found)

[2016-07-23 18:14] julesferreira commented on #452
@GreWull you're not transferring before trying to rename, are you?

[2016-07-23 18:16] julesferreira commented on #452
@GreWull what's your `type` on `pokemon_to_transfer`?

[2016-07-23 18:24] GreWull commented on #452
@julesferreira  <type 'long'>

[2016-07-23 18:27] Skeyelab commented on #453
-it doesnt even work
`pokecli.py: error: unrecognized arguments: -it true`

[2016-07-23 18:36] phupabegim commented on #469
I know which one doesn't work, googlemaps. The error message is in the paste ...

[2016-07-23 18:37] mzupan opened #476 "[Discussion] Modules"
I have a skeleton for modules but really don't want to work on this repo since dev just changes way too quickly. If things are changed I'll push the changes.. The idea is like

[code]

The idea is there is a skeleton of what to do when you see this type of pokemon. Is it a very high CP? if so catch it. So I need to evolve or power up then do it. I have too many or too many cookies? Then skip this

[2016-07-23 18:46] douglascamata commented on #469
use virtualenv, you got problems in pip install stuff

[2016-07-23 18:48] TheSavior commented on #476
Can you elaborate on what kinds of things would be in those python and yml files? I'm not sure I understand why every pokemon would have significantly different logic. The current understanding is that things like IV skills are the relevant piece but can be mostly generalized for all pokemon.

Also you should think about how your proposal fits in with the other proposal I made on using behavior tr

[2016-07-23 19:04] CtrlAltDefeat94 opened #478 "[Suggestion] Parameter to not transfer if IV is higher than current highest"
Currently, we set a hardwritten IV requirement that needs to be met for a pokemon NOT to be transferred. This would mean that if you don't already have the pokemon, if the IV is too low, it wont be kept anyway..

Wouldn't it be more logical to look at the Pokemon you currently have, and then determine which has the highest IV and transfer the lower one(s)?

[2016-07-23 19:04] johnw424 commented on #415
I made a calculation for other [IV % chances](https://docs.google.com/spreadsheets/d/1nTTfdG8dz7ufsvGPBYrkJxlXhNf1a-YBsRC5cUG3qjM/edit?usp=sharing).

[2016-07-23 19:07] #430 closed

[2016-07-23 19:08] phupabegim commented on #469
This error message was solved by installing `build-essential` and `python-dev` packages however I cannot login using Google as the sever is busy. Is anyone else receiving this?

[2016-07-23 19:15] s1x commented on #470
Does it always crash after 40 minutes, or at a certain point/pokestop/catching pokemon?

For me the bot is running longer then 7h now.

[2016-07-23 19:16] deathcoderz commented on #469
maybe take a look at this
http://stackoverflow.com/questions/26053982/error-setup-script-exited-with-error-command-x86-64-linux-gnu-gcc-failed-wit

[2016-07-23 19:17] phupabegim commented on #469
It's already solved (well that issue) ;-)

[2016-07-23 19:18] #469 closed

[2016-07-23 19:19] phupabegim commented on #469
@s1x why have you closed this?

[2016-07-23 19:20] #440 closed

[2016-07-23 19:22] #425 closed

[2016-07-23 19:25] s1x commented on #447
@AngerN Check the https://github.com/PokemonGoF/PokemonGo-Bot/blob/dev/README.md Installation on Windows/Linux & Co. :-)

[2016-07-23 19:27] th3w4y commented on #413
`import polyline
import haversine
import time
from itertools import  chain

class PolylineWalker(object):

    def __init__(self, polyline_points, speed):
        """
        :param polyline_points:
        URL = 'https://maps.googleapis.com/maps/api/directions/json?origin=Cham,CH&destination=Baar,CH&mode=walking'
        polyline_points =[x['polyline']['points'] for x in

[2016-07-23 19:28] lpalbyrodri opened #481 "[Suggestion] Throw all items keep lucky eggs and poke balls."
For the purpose of farming this items (lures, potions, revives and berries) are not needed so it would be great to implement some sort of function to discard all of these and continue farming when item bag is full.

#344 and #76 would also help with this.

[2016-07-23 19:29] s1x commented on #469
@phupabegim Sorry I thought you stated that you solved it?

[2016-07-23 19:30] s1x commented on #457
Should be fixed with the reclone mentioned by @gsarrica

[2016-07-23 19:30] #457 closed

[2016-07-23 19:30] lpalbyrodri commented on #478
This would be great.

[2016-07-23 19:33] phupabegim opened #482 "Bot doesn't login"
`pokecli.py -a google -u XXXXX -p XXXXX -c 1`

I get a message about the server being busy. I don't have 2FA enabled on my Google Account so it doesn't require an App password.

[2016-07-23 19:36] s1x commented on #39
This should be fixed now.

[2016-07-23 19:36] #39 closed

[2016-07-23 19:39] celinereine commented on #478
Where is the transfer code? I can maybe try writing some simple if comparisons to see if it'll work? Sorry, I'm so new at this.

[2016-07-23 19:40] CheeryMom opened #485 "Pokemon from Lured Pokestop do not show and therefore not possible to catch!"
It seems that only naturally Pokemon can be detected and are possible to catch. Pokemon from lured Pokestop do not show and therefore not possible to catch. Can you or someone verify this issue and then fix this please?
Thank you!

[2016-07-23 19:40] TianCNCA opened #486 "player_data not in response_dict [dev]"
This is the log:

[code]
Can someone help me take a look at this please. Thanks!

[2016-07-23 19:41] pol0nium commented on #482
I think it's Niantic servers that are busy. Try to login again.

[2016-07-23 19:42] s1x commented on #16
Till that you can use an app password: https://support.google.com/accounts/answer/185833?hl=en

[2016-07-23 19:43] pol0nium commented on #478
@celinereine https://github.com/PokemonGoF/PokemonGo-Bot/blob/17db0f5bf6b8c4650f1e48fb65bce71e673d8a51/pokemongo_bot/cell_workers/pokemon_catch_worker.py#L133

[2016-07-23 19:43] pol0nium commented on #486
Try a `git pull`. I had the same issue with a previous version.

[2016-07-23 19:44] s1x commented on #44
Most events are now implemented. Feel free to open a new issue with new suggestions!

[2016-07-23 19:44] #44 closed

[2016-07-23 19:45] phupabegim commented on #482
No luck yet :-(

[2016-07-23 19:46] s1x commented on #438
@DokterPhill Follow the Readme. Feel free to open a new issue when necessary.

[2016-07-23 19:46] #438 closed

[2016-07-23 19:52] jmeyer2k commented on #445
someone is working on a websockets implementation so I believe this should be fixed in the future

[2016-07-23 19:53] jmeyer2k commented on #415
https://github.com/PokemonGoF/PokemonGo-Bot/pull/477

[2016-07-23 19:54] TianCNCA commented on #486
My code is latest. Still the same issue.

[2016-07-23 19:54] s1x commented on #65
@lmbos If you have still any issues please open a new one. However it really seems like you are softbanned.

[2016-07-23 19:54] #65 closed

[2016-07-23 19:56] s1x commented on #66
@vertangelx If you got any other issues/questions feel free to open a new issue.

[2016-07-23 19:56] #66 closed

[2016-07-23 19:57] pol0nium commented on #486
Hmm. Are you on master or dev branch ?

[2016-07-23 19:58] phupabegim commented on #482
Google was blocking the login as I'd never logged in on my VPS before, solved!

[2016-07-23 19:58] #482 closed

[2016-07-23 19:59] TianCNCA commented on #486
I'm on dev. Sorry I forgot to add a tag.

[2016-07-23 19:59] alistairmackenzie commented on #485
Verified, spawns from lured stops appear on the API differently which is not being picked up by the bot.

[2016-07-23 19:59] celinereine commented on #478
@pol0nium Is this where the "initial transfer" logic is placed? It looks like it's for catching pokemon parameters. Sorry for being such an amateur lol

[2016-07-23 19:59] #68 closed

[2016-07-23 20:00] s1x commented on #75
This should be fixed.

[2016-07-23 20:00] #75 closed

[2016-07-23 20:02] earthchie commented on #486
your pgoapi is outdated. try
pip install -r requirements.txt

[2016-07-23 20:05] dominikue opened #490 "[OffTopic] Nub Question: how can i host it on a server?"
I want to host the script on a server - it is possible?
Can somebody give me some links to tutorials or to an good hosting sites? Would be nice - coulnd't find something helpfull on google..

[2016-07-23 20:06] dominikue commented on #344
"item priority" would be nice :+1:  #76

[2016-07-23 20:08] s1x commented on #447
@AngerN Reopend as you wished. Help wanted.

[2016-07-23 20:08] AngerN commented on #447
Thanks

[2016-07-23 20:09] s1x commented on #490
@dominikue Do you mean host in terms of running the bot on a server rather than your local machine?

[2016-07-23 20:10] s1x commented on #67
@crack00r Please reopen an issue if this error still occurs with either the master or dev branch!
Thank you!

[2016-07-23 20:10] #67 closed

[2016-07-23 20:10] TianCNCA commented on #486
It should be pgoapi-1.1.0 right? I'm still having the error.

[2016-07-23 20:11] boivie commented on #437
Got some logs:

[code]

[2016-07-23 20:11] #459 closed

[2016-07-23 20:11] jmeyer2k opened #492 "Use sockets for map/bot communication instead of reading/writing files."
Use sockets for map/bot communication instead of reading/writing files. I think this is an important change that needs to be done at some point. Discuss below on specifics, but I'll be working on it here: https://github.com/jmeyer2k/PokemonGo-Bot/tree/feature/socket-map

[2016-07-23 20:12] alvin987 commented on #485
Verfied, also when I enter coordinate i.e (-33.864104,151.2108361), this is what the bot show me
`[x] PokemonGO Bot v1.0
[x] Configuration initialized

[x] Address found: -33.864104, 151.2108361
[x] Position in-game set as: (-33.8642661, 151.2110302, 0.0)
`
The coordinates differences is very significant, I'm standing far away from the lure. maybe thats what makes lured pokemon seems not possible

[2016-07-23 20:13] celinereine commented on #478
Do you think that line of code would be better if it were:
if cp < self.config.cp **&&** pokemon_potential < self.config.pokemon_potential:

That way when catching pokemon, if the IV were 100 but it were less than the cp specified, the pokemon would still be kept?

[2016-07-23 20:15] Ecostack commented on #486
Have the same issue. Also have pgoapi-1.1.0.

[2016-07-23 20:17] s1x commented on #80
@maddo7 That was probably when Niantics server were busy.

Please feel free the open a new issue when necessary!

[2016-07-23 20:17] #80 closed

[2016-07-23 20:18] TianCNCA commented on #486
Are you using Windows or OS X?

[2016-07-23 20:19] pol0nium commented on #478
This [PR](https://github.com/PokemonGoF/PokemonGo-Bot/pull/448) will change the release logic.

[2016-07-23 20:20] s1x commented on #490
Its basically out of the scope of the bot, but you might check AWS or DigitalOcean which provide exactly that. You just need to set up a server, there is a bunch of tutorials out there and then follow the readme.

[2016-07-23 20:21] AlexeyToksarov commented on #315
Looks like it doesn't work if `-du` option enabled

[2016-07-23 20:21] Ecostack commented on #486
[code]

[2016-07-23 20:25] s1x commented on #433
@tatgod91 If you still have the problem after checking the readme and @dominikue help, please feel free to open a new issue.

[2016-07-23 20:25] #433 closed

[2016-07-23 20:25] CapCap commented on #486
Try doing a git clone into a new folder, and redoing pip install
 Or deleting the pgoapi folder.

[2016-07-23 20:26] s1x commented on #412
Please add protoc to your path, follow the readme guide if you encounter any more problems. Maybe check closed issues too.

Please feel free the open a new issue when necessary!

[2016-07-23 20:26] #412 closed

[2016-07-23 20:27] CapCap commented on #366
This is apparently fixed in dev, can close issue

[2016-07-23 20:28] dominikue commented on #433
@s1x Wasn't a question ^^

[2016-07-23 20:28] s1x commented on #404
@hnq90 @harsh1412 @dominikue If you still enocunter this issue under the current master/dev branch please comment on this, Ill reopen then. I assume this issue is fixed with the newst dev branch.

[2016-07-23 20:28] #404 closed

[2016-07-23 20:29] dominikue commented on #490
Ty, will try DigitalOcan :)

[2016-07-23 20:30] pol0nium commented on #478
@celinereine [initial transfer logic](https://github.com/PokemonGoF/PokemonGo-Bot/blob/dev/pokemongo_bot/__init__.py#L212)

[2016-07-23 20:30] vanrzuf opened #497 "web interface not showing pokedex, items etc."
Just checked this out and items, pokedex, info, and pokemon gives only [object Object],[object Object],[object Object],[object Object],[object Object]. I'ts on dev.

[2016-07-23 20:30] s1x commented on #427
This should be fixed with the newest dev branch.

[2016-07-23 20:30] #427 closed

[2016-07-23 20:32] s1x commented on #406
@saberone Are you still experiencing this problem with the newest branches *master/dev* ?

[2016-07-23 20:33] s1x commented on #403
This should be fixed with the newst master/dev branch. Please feel free the open a new issue when necessary!

[2016-07-23 20:33] #403 closed

[2016-07-23 20:34] jmeyer2k commented on #497
This is a known issue. We'll be redesigning the web interface in the future. https://github.com/PokemonGoF/PokemonGo-Bot/issues/492

[2016-07-23 20:34] vanrzuf commented on #497
kk

[2016-07-23 20:34] #497 closed

[2016-07-23 20:35] TheGoldenXY commented on #470
@s1x It doesn't always crash after 40 minutes. I think it crashes at a certain point/pokestop/catching pokemon, not entirely sure.

[2016-07-23 20:37] s1x commented on #402
If you still have the issue, please feel free the open a new issue.

[2016-07-23 20:37] #402 closed

[2016-07-23 20:40] s1x commented on #313
@nvhk Please create a new issue if necessary with a copy of your error.

[2016-07-23 20:40] #313 closed

[2016-07-23 20:41] Ecostack commented on #486
Ok, looks like a
`pip install --upgrade -r requirements.txt`
did the trick.

[2016-07-23 20:41] s1x commented on #392
This is a (kinda) duplicate of #341

[2016-07-23 20:41] #392 closed

[2016-07-23 20:47] s1x commented on #83
The issue of @chimeno should be solved (softbanned). @CapCap if you continue having this issue please feel free to open a issue with a detailed description so we can help you.

[2016-07-23 20:47] #83 closed

[2016-07-23 20:49] phupabegim opened #500 "Bot doesn't seem to get PokeBalls"
Started using `pokecli.py -a google -u XXXXX -p XXXXX -c 1` the bot is finding lots of Pokemon but not PokeBalls. Do I need to specify additional parameter when I start or not?

[2016-07-23 20:50] s1x commented on #500
If you run out of pokeballs the bot will automatically go to pokestops and get pokeballs again. (e.g. working on dev branch)

[2016-07-23 20:50] #500 closed

[2016-07-23 20:50] heihachi commented on #486
http://pastebin.com/aL8duZpj

I am having this issue and pip says all is updated

[2016-07-23 20:51] CheeryMom opened #501 "Option -ms does not work correctly"
### Expected Behavior
With different values of -ms, the steps away from the start location should be different

### Actual Behavior
With different values of -ms, the steps away from the start location do not change much

### Steps to Reproduce
used different value of -ms, i.e. 1, 2, 3,4
python pokecli.py -a ptc -u usename -p password -l "37.807270, -122.428268" -w 4 -ms x -c 1
always the same poke

[2016-07-23 20:52] phupabegim commented on #500
What's the default mode if not specified?

[2016-07-23 21:00] s1x commented on #285
I assume with #58dcbcc by @douglascamata this should be fixed.
Please feel free the open a new issue when necessary!

[2016-07-23 21:00] #285 closed

[2016-07-23 21:02] s1x commented on #282
@STNDBS issue seems to be resolved.

@ataetgi Please feel free the open a new issue when necessary, as the initial issue is resolved.

[2016-07-23 21:02] #282 closed

[2016-07-23 21:03] s1x commented on #87
@bebef1987 This should be fixed with the servers up.
Please feel free the open a new issue when necessary!

[2016-07-23 21:03] #87 closed

[2016-07-23 21:04] s1x commented on #94
@phillipj123123
Please feel free the open a new issue if you still have problems. You can use the -lc flag for the last position or as @douglascamata mentioned the -l flag.

[2016-07-23 21:04] #94 closed

[2016-07-23 21:05] #492 closed

[2016-07-23 21:06] s1x commented on #383
Closing as @vincesmits stated problem is fixed.

[2016-07-23 21:06] #383 closed

[2016-07-23 21:07] dominikue commented on #490
@s1x it worked with digitalOcean and putty. But when i close putty the script closed too? And how can i start 2 instance with one s

[2016-07-23 21:07] #490 closed

[2016-07-23 21:08] #358 closed

[2016-07-23 21:08] s1x commented on #343
@gagas3113 If you still have the error or any problems please feel free the open a new issue.

[2016-07-23 21:08] #343 closed

[2016-07-23 21:09] s1x commented on #300
@alexanderrock I assume its working, closing the issue.
Please feel free the open a new issue when necessary!

[2016-07-23 21:09] #300 closed

[2016-07-23 21:10] s1x commented on #315
@vanrzuf I hope your issue is resolved.
Please feel free the open a new issue when necessary!

[2016-07-23 21:10] #315 closed

[2016-07-23 21:11] ChipWhistle commented on #481
#502 allows for users to define which items to get rid of.

[2016-07-23 21:13] s1x commented on #303
@carminaburana123 You are running with the master branch instead of the dev branch for the -m all flag.
Can you please double check that? Please feel free the open a new issue when necessary as this is now a different error as @mrwing1 is having.

@mrwing1 I assume your issue is resolved as there is no further correspondence.

[2016-07-23 21:13] #303 closed

[2016-07-23 21:16] s1x commented on #395
Please refer to #208

[2016-07-23 21:16] #395 closed

[2016-07-23 21:16] mpawlucz commented on #470
sometimes it crashes and sometimes the output is following:

`[#] Scanning area for objects (114 / 2500)
[#] Walking from (52.222448, 20.9923161) to (52.224948, 20.9923161) for approx. 16.00 seconds
[#] Finished walking
[#] (52.224948, 20.9923161, 0)
[#] Scanning area for objects (115 / 2500)
[#] Walking from (52.224948, 20.9923161) to (52.227448, 20.9923161) for approx. 16.00 seconds
[#] Finished

[2016-07-23 21:17] HeIix opened #506 "release_config.json still releasing"
### Expected Behavior
Restrict the release of Pokemon to CP < 300 or IV < 0.8
`	"any": {
		"min_cp": 300,
		"min_iv": 0.8,
		"cp_iv_logic": "or"
	},`

### Actual Behavior

### Steps to Reproduce
Catching pokemon

### Other Information
OS: Debian
Dev branch

[2016-07-23 21:21] pol0nium commented on #506
Looks like it works as specified in your example, no?

[2016-07-23 21:21] dominikue opened #507 "[NeedHelp] AttributeError: 'Requirement' object has no attribute 'project_name'"
Can sb help me please - im using ubuntu and it workes with the master version..
How can i handle it?

_You are using pip version 8.1.1, however version 8.1.2 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
root@dominik-ue:~# cd PokemonGo-Bot/
root@dominik-ue:~/PokemonGo-Bot# pip install -r requirements.txt
Obtaining pgoapi from git+https://github.com/tejado

[2016-07-23 21:23] HeIix commented on #506
I may be having a brain fart.  My understanding on setting min_cip to 300 tells me that the 318 Eevee should not have been released.  Same with the Diglett being released, it was 0.8 and my min_iv is set at 0.8.

[2016-07-23 21:23] alistairmackenzie commented on #506
I've and similar results, look like the OR is being processed as an AND.

[2016-07-23 21:27] s1x commented on #507
Please check if you have yaml installed.

[2016-07-23 21:28] pol0nium commented on #506
My understanding is that the config says "release the pokemon if cp < 300  or iv < 0.8". In your example, each time one of the condition was `TRUE`.

[2016-07-23 21:29] alistairmackenzie commented on #506
See here for a slightly better example.

`[2016-07-23 22:29:30] [#] Something rustles nearby!
[#] A Wild Clefairy appeared! [CP 323] [Potential 0.67]
[#] IV [Stamina/Attack/Defense] = [4/13/13]
[x] Using Greatball...
[x] Captured Clefairy! [CP 323] [IV 0.67] - exchanging for candy
[x] Release config for Clefairy: CP 400 or IV 0.4
[#] Clefairy has been exchanged for candy`

[2016-07-23 21:33] pol0nium commented on #506
323 < 400 -> TRUE
0.67 < 0.4 -> FALSE
release pokemon if TRUE or FALSE

Therefore pokemon is released.
I think this is the correct behaviour.

[2016-07-23 21:37] dominikue commented on #507
It is installed now, but i did not work.. I get an "ImportError: No module named pgoapi" and i cannt install the -r requirements.txt correctly. I think the reason is the pgoapi - can i install it manually?

root@dominik-ue:~/PokemonGo-Bot# pip install -r requirements.txt                                                            Obtaining pgoapi from git+https://github.com/tejado/pgoapi.git@1f25e9

[2016-07-23 21:40] saberone commented on #406
No the issue is gone I can't remember what commit fixed it. But you can close this one.

[2016-07-23 21:40] #406 closed

[2016-07-23 21:44] HeIix commented on #506
If that's the case then how do you suppose I set the configuration to keep pokemon that are CP 300+ and IV 0.8+, releasing everything else?  Thanks for your time and feedback.

[2016-07-23 21:45] pol0nium commented on #506
I think you should replace `"any": { "min_cp": 300, "min_iv": 0.8, "cp_iv_logic": "or" },` by `"any": { "min_cp": 300, "min_iv": 0.8, "cp_iv_logic": "and" },`

[2016-07-23 21:48] Teiby1 commented on #437
Same here.
Gym:
[code]

Pokestop:
[code]

[2016-07-23 21:53] dominikue commented on #507
Idk why, but 'pip install --upgrade pip' fixed it for me.. still ty

[2016-07-23 21:53] #507 closed

[2016-07-23 21:56] alexanderrock opened #510 "Add more configs / config explantation"
Allow to use the bot with different accounts and different configuration files.
Make also clear which settings in config.json are required and which not, so which can be empty/commented/deleted.

Also what needs to be inserted in release_config.json and how to write in this to not release any pokemon.

In the config.json there's an option "cp" which isn't used any more or?

[2016-07-23 22:02] alxsah commented on #453
"-lc 1" and "-it 1" seem to work for me. Should be mentioned under the usage section of the readme I think.

[2016-07-23 22:08] skydrome opened #511 "git help rebase"
learn how to git rebase, it will help you not overwrite other peoples work with your old copies. Also, stop merging every request without looking it.
A+

[2016-07-23 22:13] tonz134 opened #512 "walking to pokestop error [dev]"
i got this error after done spinning and walking.
so i have to use -m poke to farm pokemon only to fix the problem :(

[code]

[2016-07-23 22:13] phupabegim commented on #500
@s1x ?

[2016-07-23 22:14] alexanderrock opened #513 "Remove Arguments and pass them in via config file"
At the moment you are able to pass the arguments (pokecli.py -a -u -p) remove all of them an just specify the config file afterwards.

pokecli.py name_of_config.json

[2016-07-23 22:22] doctor-ew opened #514 "RESOLVED - config missing `any`"
[x] Captured Nidoran F! [CP 308] [IV 0.56] - exchanging for candy
Traceback (most recent call last):
  File "pokecli.py", line 187, in <module>
    main()
  File "pokecli.py", line 178, in main
    bot.take_step()
  File "/Users/Sites/shuttlebay/POKEMON/PokemonGo-Bot/pokemongo_bot/__init__.py", line 35, in take_step
    self.stepper.take_step()
  File "/Users/Sites/shuttlebay/POKEMON/PokemonGo-Bot

[2016-07-23 22:26] TianCNCA opened #516 "Should use both cp and iv when doing initial_release"
Currently it only targets cp which isn't ideal

[2016-07-23 22:27] vanrzuf opened #517 "-if not working properly"
### Expected Behavior
recycles selected items after spinning pokestop

### Actual Behavior
recycles pokeballs

### Steps to Reproduce
run bot with `-if ["101","102","103","104"]` (potions id)

### Other Information
OS: debian wheezy
Git Commit: 002dd59b75bc1cfb14d1e86d06e635774757203e

[2016-07-23 22:27] #486 closed

[2016-07-23 22:28] TianCNCA commented on #486
For anyone who have the same problem, delete whole folder and do git pull

[2016-07-23 22:29] DavidK1m commented on #514
rename release_config.json.example to release_config.json

[2016-07-23 22:32] sarandafl opened #518 "-c not available?"
### Expected Behavior
Release all Pokemon with a CP lower than x `-c x`

### Actual Behavior
[code]

### Steps to Reproduce
Run with -c argument.

### Other Information

[2016-07-23 22:36] CasBroad commented on #518
The CP is now set in the release_config.json

[2016-07-23 22:42] gerbilsinspace commented on #518
For more information about this, if you look at the root directory of the codebase, you will see release_config.json. Inside the file, you will see min_cp and min_iv. If you want all pokemon that are under 100cp to be traded in? set your minimum to 100. The same goes for min_iv, set that to a decimal between 0 and 1.

WARNING: There was a bug that ignored your cp. A workaround is to set -iv to 0 i

[2016-07-23 22:52] Calcyfer commented on #485
I just fixed the coordinate issue with commit aabeace98797bac27deef65d07de2bfbe2ace4d3 , haven't been able to test if this fixes the lured pokemon, but I doubt it,

[2016-07-23 22:55] doctor-ew commented on #514
Yep -- did that. Even attempted adding an any object

[2016-07-23 22:57] TianCNCA opened #521 "[ENHANCEMENT] Keep new unique Pokemons if found in farm mode"
In farm mode, if found a new pokemon, then ignore the release rule and keep it.

[2016-07-23 23:04] solderzzc commented on #518
README.me updated. Let's close this topic.

[2016-07-23 23:04] #518 closed

[2016-07-23 23:07] Hatsunyan commented on #506
i don't understand, if config is
[code]
thats mean, don`t release pokemon if cp >=400 OR iv >= 0.8.
this correct ?

[2016-07-23 23:10] dominikue commented on #490
GOT it :D

[2016-07-23 23:15] pol0nium commented on #506
That means "realease pokemon if cp <400 or iv < 0.8"

[2016-07-23 23:16] 03t02 opened #526 "Error when capturing pokemon"
Impossible to capture pokemon since last `pull master`

[code]

[2016-07-23 23:17] DavidK1m commented on #514
where did you put release_config.json file?

[2016-07-23 23:18] pol0nium commented on #526
Did you rename `release_config.json.example` to `release_config.json`?

[2016-07-23 23:23] doctor-ew commented on #514
1D10T error... I forgot about release_config and was only looking at config.

Thanks for your eyeballs!!

[2016-07-23 23:25] 03t02 commented on #526
No, I didn't, just use command line option.
And now I renamed this file, we'll see

[2016-07-23 23:25] pol0nium commented on #526
Don't forget to check if the default config suits your needs.

[2016-07-23 23:36] #481 closed

[2016-07-23 23:37] crantron opened #528 "Requirements.txt"
When I run
[code]

i get

[code]

[2016-07-23 23:38] crantron commented on #528
nvm im retarded.

[2016-07-23 23:38] #528 closed

[2016-07-23 23:44] 03t02 commented on #526
What should I put in this config exactly ?
This is my config:

[code]

I just edited my email, password and location, it seems not enough to avoid error. It happens every time when capturing pokemon

Error:
[code]

[2016-07-23 23:48] pol0nium commented on #526
You're looking at `config.json.example` not `release_config.json.example` ;). You don't need to use `config.json.example` if you pass arguments to the command line.

[2016-07-23 23:52] nvhk opened #532 "Now at Pokestop: Unknown - Spinning..."
### Expected Behavior
When bot is running about 1h is error with unknows pokestops, after restart is ok.

### Actual Behavior

### Steps to Reproduce

### Other Information
OS:
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-23 23:54] Calcyfer commented on #526
Since commit 8d40a4f90c644d37b5a27db48256280653b6277b, the bot will check if the `release_config.json.example` has been renamed to `release_config.json`.

@03t02 Have you gotten it to work?

[2016-07-23 23:59] 03t02 commented on #526
Oh Sorry, my bad. misread. It works now :). Thanks you all

[2016-07-24 00:01] Calcyfer commented on #526
Anytime. Can you close the issue, please? Thanks!

[2016-07-24 00:03] CapCap commented on #366
Issue is still happening in latest dev

[code]

[2016-07-24 00:07] ludicures commented on #348
I have encountered the same error as IcyZKunGz.

dev/pokemongo_bot/cell_workers/seen_fort_worker.py", line 45, in work
fort_details = response_dict['responses']['FORT_DETAILS']
KeyError: 'FORT_DETAILS'

I have added a little bit of debug code and the output of response_dict['responses'] when FORT_DETAILS is not set looks like the following. I hope this helps.

{
  "status_code": 102,
  "responses"

[2016-07-24 00:09] ludicures commented on #338
This is the same issue as reported https://github.com/PokemonGoF/PokemonGo-Bot/issues/348 and is due to  response_dict['responses'] returning

{
  "status_code": 102,
  "responses": {}
}

[2016-07-24 00:10] hawx07 commented on #517
did u find the solution

[2016-07-24 00:10] crazy4ever opened #534 "[BUG] Bot should be keeping a 0.91 iv Magikarp, but transfers it instead with the correct rules."
### Expected Behavior

Keep the magikarp

### Actual Behavior

Trashing the Magikarp

### Steps to Reproduce

use the latest commit as of posting this.

### Other Information

[x] Captured Magikarp! [CP 26] [IV 0.91] - Checking Release Config
[x] Release config for Magikarp: CP 800 or IV 0.8
[#] Magikarp has been exchanged for candy!

{
    "any": {
        "min_cp": 800,
        "min_iv": 0.8,

[2016-07-24 00:14] DanielHeckrath commented on #534
If you want to keep a high IV pokemon with low CP you have to use cp_iv_logic = and.
For your config the magickarp would have been kept if it also had >800 cp.

With cp_iv_logic = or the pokemon is released if one of the conditions is met, so in your case the magikarps cp was below 800.

[2016-07-24 00:16] IcicleTF opened #535 "-it Flag: "expected one argument""
### Expected Behavior
Initial transfer - all pokemon with cp lower than highest are transfered.

### Actual Behavior
pokecli.py error: argument -it/--initial_transfer: expected one argument.
(Seems to be expecting an integer)

### Steps to Reproduce
Using "-it" or "--initial_transfer" in command line.

### Other Information
OS: Windows 10

[2016-07-24 00:17] crazy4ever commented on #534
Hmm,

from looking at it I thought "cp_iv_logic": "or" would mean either of them.

So it would keep the pokemon if it was either higher then 800 cp **OR** higher then 0.8 iv, 1 of the 2.

[2016-07-24 00:17] sinistance commented on #532
`Unknown` mean there is an API issue while getting the pokestop name. in that way you can still continue instead of stopped by crash 😄

[2016-07-24 00:18] pol0nium commented on #534
Nope, it's a release logic, not keeping logic. @DanielHeckrath is right.

[2016-07-24 00:19] crazy4ever commented on #534
Alright, Thanks for the clarity, will change it. Close the Issue if you want. :)

[2016-07-24 00:19] jdinh1 commented on #517
Can also confirm this. Passed in [\"101\",\"102\",\"103\",\"104\",\"201\"] but bot recycle pokeballs instead.

2016-07-23 20:04:28 [+] 50 xp
2016-07-23 20:04:28 [+] 2x Pokeball
2016-07-23 20:04:28 [+] Recycling 2x Pokeball...
2016-07-23 20:04:28 [+] Recycling success
2016-07-23 20:04:28 [+] 1x Greatball
2016-07-23 20:04:28 [+] Recycling 1x Greatball...
2016-07-23 20:04:29 [+] Recycling success

[2016-07-24 00:35] lpc921 commented on #535
That integer is CP

[2016-07-24 00:36] crack00r opened #537 "[REQUEST] GYM"
Is it planed to make Gyms?

With all the Pokemons generated by this bot, it should be easy to rule the City :D

[2016-07-24 00:37] IcicleTF commented on #535
Huh, alright. In that case, after some more looking, it will automatically do a initial transfer even without the flag, it seems.

[2016-07-24 00:53] LuyiTian opened #539 "[minor error] ambiguous if condition"
### Expected Behavior
do not transfer any Pidgey when I set this to json
[code]
### Actual Behavior
UnboundLocalError: local variable 'min_cp' referenced before assignment

### Steps to Reproduce

### Other Information

I believe this is caused by the ambiguous `if` condition: `if release_config.get('min_cp'):`, which should be replaced with `if release_config.get('min_cp') != None:`  because `if

[2016-07-24 00:58] douglascamata commented on #539
Code merged a few minutes ago solves this issue.

[2016-07-24 00:59] douglascamata commented on #539
https://github.com/PokemonGoF/PokemonGo-Bot/commit/5cd992f7677e9e2c6f2a67c773d752d8469f54ad

[2016-07-24 01:04] tzull opened #540 "Can we filter unwanted item with count?"
Refer from #502 i want ask how we can filter item with count.
eg : we want remove 50 potion ( if potion > 50 it will remove 50 potion, else <50 it will keep potion )
and
what is [\"101\",\"102\",\"103\",\"104\"] ?
how i can refer char of inventory item?

[2016-07-24 01:06] sarandafl commented on #312
@mzupan This is exactly what I mean

[2016-07-24 01:13] ayozebarrera opened #541 "[Suggestion] Improve output log"
* **Add datetime to each line:** Could be useful. Sometimes when user is walking to pokemon you dont know how many time has passed
* **Add colors to important messages:** Maybe green when captured and red when they flee...

Good work btw

[2016-07-24 01:16] doctor-ew opened #544 "argument of type 'NoneType' is not iterable >> cell_workers/seen_fort_worker.py", line 52"
I pulled the latest changes of dev. Do I need to do something other than copy both example json configs and run python pokecli.py?

[2016-07-23 21:02:30] [#] Arrived at Pokestop
Traceback (most recent call last):
  File "pokecli.py", line 187, in <module>
    main()
  File "pokecli.py", line 178, in main
    bot.take_step()
  File "/Users//Sites/shuttlebay/POKEMON/v0/PokemonGo-Bot/pokemongo_bot/__

[2016-07-24 01:19] LostDGod commented on #540
I was just about to request a discard config so I will hack your question to do it since it falls on the same topic.
I've checked another bot that checks for items upon spinning a pokestop and will act according to the config file. It allows you to set up which items you want or do not want to discard and the max amount of the items.
This is how it looks like in the config file:

## Items drop
# s

[2016-07-24 01:20] budi-khoirudin commented on #517
Please verify my pull request #543 , to fix this issue

[2016-07-24 01:28] #544 closed

[2016-07-24 01:30] skydrome commented on #517
@budi-khoirudin its not removing anything now

[2016-07-24 01:32] jdinh1 commented on #517
@budi-khoirudin Also confirmed not removing any of the items that were passed into the command line

[2016-07-24 01:34] timychann commented on #506
I think the logic could be reversed:

` release_results = {
            'cp':               True,
            'iv':               True,
        }

        if release_config.get('min_cp'):
            min_cp = release_config['min_cp']
            if cp > min_cp:
                release_results['cp'] = False

        if release_config.get('min_iv'):
            min_iv = release_config['min_iv']

[2016-07-24 01:39] skydrome commented on #517
@budi-khoirudin edited my comment above, it seems just to be removing super potion.

[2016-07-24 01:40] philbritton opened #551 "Startup Error"
Getting this on startup

    self.origin_lat = self.bot.position[0]
AttributeError: 'PokemonGoBot' object has no attribute 'position'

[2016-07-24 01:44] doctor-ew opened #552 "Can't override location cache"
I changed location property in json
added location_cache and then passed along -lc false and then --location_false

6-07-23 21:42:37 [x] PokemonGO Bot v1.0
2016-07-23 21:42:37 [x] Configuration initialized
[2016-07-23 21:42:37]
[2016-07-23 21:42:37] [x] Last location flag used. Overriding passed in location

### Other Information
OS: osx yosemite
Git Commit: 5cd992f7677e9e2c6f2a67c773d752d8469f54a

[2016-07-24 01:47] budi-khoirudin commented on #517
How you use it? you must use like this => -if "101,102,103,104,201" , it's working properly below is the output not only super potion, in here example revive too

2016-07-24 08:28:36 [+] Loot:
2016-07-24 08:28:36 [+] 50 xp
2016-07-24 08:28:36 [+] 2x Revive (Total: 4)
2016-07-24 08:28:36 [+] Recycling 2x Revive...
2016-07-24 08:28:37 [+] Recycling success
2016-07-24 08:28:37 [+] 1x Pokeball (Total:

[2016-07-24 01:50] tzull commented on #540
Hi @LostDGod Thanks for your information, but in this last dev if i'm edit and enable json config i got error like :
C:\Python\PokeBot\dev004>pokecli.py
Traceback (most recent call last):
  File "C:\Python\PokeBot\dev004\pokecli.py", line 187, in <module>
    main()
  File "C:\Python\PokeBot\dev004\pokecli.py", line 164, in main
    config = init_config()
  File "C:\Python\PokeBot\dev004\pokecli.p

[2016-07-24 01:57] skydrome commented on #517
@budi-khoirudin ah yes forgot to remove the brackets, its working now, cheers!

[2016-07-24 01:59] chadsaun opened #554 "Unsupported operand"
[code]

[2016-07-24 02:00] chadsaun commented on #554
Problem was in my config.  Some of my number variables were string and should've been integers.

[2016-07-24 02:00] #554 closed

[2016-07-24 02:12] doctor-ew commented on #540
@tzull

https://github.com/PokemonGoF/PokemonGo-Bot/blob/dev/pokemongo_bot/item_list.py

The devs put together a list :-)

[2016-07-24 02:33] palakz opened #557 "Launch Error"
Getting this error while launching:

[code]
OS: Windows 10

[2016-07-24 02:55] ReqMid opened #558 "[REQUEST] Initialize Transfer with iv and cp"
### Expected Behavior

"initial_transfer": 100 and 0.7,

### Actual Behavior

"initial_transfer": 100,

### Steps to Reproduce

### Other Information
OS:
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-24 03:18] theebanka commented on #557
Same error here on MacOS

[2016-07-24 03:31] Koifman opened #566 "AttributeError: 'MoveToFortWorker' object has no attribute 'position'"
### Expected Behavior

### Actual Behavior
AttributeError: 'MoveToFortWorker' object has no attribute 'position'

### Steps to Reproduce

### Other Information
OS:
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-24 03:41] ritashugisha commented on #566
should have been fixed by #563

[2016-07-24 03:43] Koifman commented on #566
Downloaded the latest version, double checked everything but still getting that error.

[2016-07-24 03:46] ritashugisha commented on #566
does the MoveToForkWorker object actually have the position property? if not you are most likely still behind the latest commit.

[2016-07-24 04:10] callmefattyy opened #572 "Pokeball Count Off"
### Expected Behavior
Show 1 Pokeball left and then after used switch to farm mode.

Suggestion: If this normally doesn't switch to farm mode after using the last Pokeball it should so it doesn't have to try to catch another one before realizing. Sometimes there's a few minutes til a new Pokemon appears.

### Actual Behavior
Shows 0 left and attempts to catch another Pokemon before figuring out it

[2016-07-24 04:20] TheGoldenXY opened #573 "Proposal: Enable multiple configuration files and overriding from CLI"
The command line and the parameters is very essential for linux users.

https://github.com/PokemonGoF/PokemonGo-Bot/commit/647bac8322dcebcccc116c81343d8378445236ff
I'd rather prefer using the command line. A lot of people are confused of the "new way". Please add the old way back and make it default, also add an option inside `config.json` to enable the `release_config.json` for those who rather w

[2016-07-24 04:24] TheSavior commented on #573
As stated in Slack:

It seems like as this bot grows, it is going to be more and more configurable. At a certain point, it doesn't make sense to configure everything through cli args and will have to move to something like json configuration.

If the problem is that for multiple bots, the only real way is via command line args, we can probably find a way to fix that.

I could imagine a cli flag th

[2016-07-24 04:27] TheGoldenXY commented on #573
@TheSavior Sure, but if people wants to use the parameters, make the parameters (i.e. `-c -iv`) overwrite the config file.

[2016-07-24 04:30] curtis2447 commented on #573
I think having both would just add more functionality, if someone wants to run 3-4 accounts at once using .bat files and parameters it is easier than having 4 separate bots

[2016-07-24 04:30] TheSavior commented on #573
I think that is reasonable, but how would you handle overwriting deeply nested configuration? For example, if we merged release_config into config and you wanted to overwrite a field like this: https://github.com/TheSavior/PokemonGo-Bot/blob/0d44885fcd8d710e54b718d3468094965801d56d/config.json.example#L18

Perhaps

`--release_config.any.release_under_cp 300`

[2016-07-24 04:36] TheGoldenXY commented on #573
@TheSavior Great statement. How about `--release_config.any.cp 200` and `--release_config.any.iv 300`?

[2016-07-24 04:38] KariHi opened #576 "Failing to Transfer Pokemon"
When going to transfer a pokemon it errors out with the following:

Traceback (most recent call last):
  File "pokecli.py", line 197, in <module>
    main()
  File "pokecli.py", line 188, in main
    bot.take_step()
  File "C:\Users\sbirr\Desktop\PokemonGo-Bot\pokemongo_bot\__init__.py", line 36, in take_step
    self.stepper.take_step()
  File "C:\Users\sbirr\Desktop\PokemonGo-Bot\pokemongo_bot\s

[2016-07-24 04:38] TheSavior commented on #573
One of the downsides of that approach is that it may not make sense to support the shorthand cli args anymore so that the configuration can be defined in only one place `config.json` and it becomes clear in code how they are being overridden. What are your thoughts on that?

The result would be that it would be very clear what the command line flags are, because they match the config.json perfectl

[2016-07-24 04:40] TheGoldenXY commented on #573
@TheSavior What do you recommend then?

[2016-07-24 04:41] J102030 commented on #576
was working fine before merge of new evolve code

[2016-07-24 04:42] petercunha opened #578 "NameError: global name 'id_list2' is not defined"
### Expected Behavior
After capturing a pokemon, I'd expect the program to continue running

### Actual Behavior
Spits out this error after catching the first pokemon:

### Steps to Reproduce
Run the following:
`python pokecli.py -a google -u ******@gmail.com -p ****** -l "Santa Monica Pier, CA"`

### Other Information
OS: Max OSX Yosemite 10.11.6 AND Ubuntu 14.04
Git Commit: 911cb655714d8d75d0f3d

[2016-07-24 04:47] TheSavior commented on #573
Here is what I propose:

We check in a config.json file by default. It contains the current defaults that are set in `pokecli.py`

We remove all of the custom command line arguments that currently exist.

We create a new command line flag. `--config_file`. If this is set, we will read that file for default configuration. If it is not set, we read `config.json`. If there is no `config.json`, we thr

[2016-07-24 04:50] TheGoldenXY commented on #573
@TheSavior I like this way. I would rather do it in this approach.

[2016-07-24 05:05] #578 closed

[2016-07-24 05:24] alawing opened #583 "Give IV to nickname"
Is that possible give IV to nicknames so after running we could manually by client to make decisions for the pokemons.

[2016-07-24 05:25] adhioutlined opened #584 "[Error] 'id_list2' is not defined when capturing pokemon"
I've got `NameError: global name 'id_list2' is not defined` when capturing an pokemon, here is the log of error

[code]

and here is my `release_config.json`

[code]

is there any missing config ?

[2016-07-24 05:31] alawing commented on #583
also could we have an option to close the evolve if we dont want any evolve?

[2016-07-24 05:44] TheSavior commented on #573
@solderzzc and @douglascamata Can you chime in with your concerns or support for this proposal?

Also, can you rename the ticket to something like "Proposal: Enable multiple configuration files and overriding from CLI"

[2016-07-24 05:56] tzull commented on #540
Hi @doctor-ew ,

yeah, i'm forgot to read this code,
i'm now using  -if "101,102,103,201,202"

and got ,

[x] Out of pokeballs, switching to farming mode...
2016-07-24 12:46:23 [#] Now at Pokestop: King Jagiello Statue - Spinning...
[#] Inventory is full, switching to catch mode...
[x] Out of pokeballs, switching to farming mode...
[#] A Wild Pinsir appeared! [CP 941] [Potential 0.58]
[#] IV [Stam

[2016-07-24 05:58] solderzzc commented on #573
Sure, let me do it.

[2016-07-24 06:04] earthchie commented on #583
right now we can't. we aren't figure out how to make nickname api work yet.

However we can favorite it.

[2016-07-24 06:05] surfaace commented on #584
fixed in commit efad5ca94df3eb16045d653cbb9b457e29a3fd3e

[2016-07-24 06:05] hklcf opened #587 "Out of pokeball"
### Expected Behavior
farm pokeshop

### Actual Behavior
[#] Walking from (40.773632899999996, -73.97418739999999) to (40.77404382503233, -73.97322318103993) for approx. 38.0 seconds
[#] Finished walking to (40.77404382503233, -73.97322318103993)
[x] Walked to Pokemon
[#] A Wild Pidgey appeared! [CP75]
[x] Out of pokeballs...
[x] Farming pokeballs...
[x] Found pokemon at distance 362.660273526m
[#

[2016-07-24 06:05] surfaace commented on #576
fixed in efad5ca94df3eb16045d653cbb9b457e29a3fd3e

[2016-07-24 06:08] surfaace commented on #557
Check your config file(s), i had this problem when my release_config.json was incorrect.

[2016-07-24 06:12] hklcf opened #588 ""Mode" not working"
pokecli.py [-h] -a AUTH_SERVICE -u USERNAME -p PASSWORD -l LOCATION [-m] [-w] [--distance_unit] [--initial-transfer] [--maxsteps] [-iv] [-d] [-t]

optional arguments:
  -m MODE, --mode MODE                          Set farming Mode for the bot ('all', 'poke', 'farm')

[2016-07-24 06:13] palakz commented on #557
Thanks, @surfaace . This issue if fixed for now. :)

[2016-07-24 06:13] #557 closed

[2016-07-24 06:16] zx900930 opened #590 "The auto evolve need some fix"
The auto evolve seems to ignore the release config and evolve everthing which have enough candies like this:

[code]

Latest commit a634b55

[2016-07-24 06:17] petercunha commented on #588
Open up `config.json` and on line 8 change it to `"mode": "<WHATEVER YOU WANT>",`

[2016-07-24 06:18] petercunha commented on #588
Oh, and I forgot to mention. Make sure to run `git pull` first to make sure you have the latest version.

[2016-07-24 06:18] surfaace opened #591 "[SUGGESTION] Update method for releasing pokemons based on config"
### Expected Behavior
Currently when you catch a pokemon and any of the two conditions fails with 'or' statement you transfer the pokemon, suggestion is to have two value if statement. Then if either cp or iv is above configured limit it will keep the pokemon

if condition is 'or':
if cp > min_cp and iv < iv_min: keep
if cp < min_cp and iv > iv_min: keep
else: transfer
else if condition is 'and':

[2016-07-24 06:21] surfaace commented on #590
'fixed' in commit 154971c2a5a87738825381e74281ea89943bfd75

Update your config.json with
	"evolve_all", false,
	"evolve_captured", false

[2016-07-24 06:21] surfaace commented on #587
please provide the git commit format

[2016-07-24 06:22] petercunha commented on #587
Run `git pull` so you have the latest version. Then in _config.json_ edit line 8 to say `"mod":
"farm",`.

[2016-07-24 06:24] petercunha commented on #591
You can change `or` to `and` in the config file. If you want really advanced logic you're going to have to code it yourself.

[2016-07-24 06:25] petercunha commented on #584
Run `git pull` to update to the latest version. This issue was fixed.

[2016-07-24 06:25] surfaace commented on #591
if you use 'AND' both conditions needs to be true. with this suggestion it will keep the pokemon if CP 'or' IV is matched

[2016-07-24 06:28] surfaace commented on #591
explained in issue #534 , its releaselogic, not keep logic.

Code is ok

[2016-07-24 06:28] #591 closed

[2016-07-24 06:29] hnq90 opened #594 "KeyError: 'result' when pokestop is spinning"
### Expected Behavior
Got items from pokestop

### Actual Behavior
[code]

### Steps to Reproduce
Error occurred randomly when farming.

### Other Information
OS: Ubuntu 14.04
Git Commit: 1ce23d70afd006c165ab11d9c3ac2e2c984ed568

[2016-07-24 06:30] hklcf commented on #587
Git Commit: ab604452c2a0a72e13fa6d940fa55902d3b01466

Im using the latest version :(

[2016-07-24 06:31] zx900930 commented on #590
@surfaace
new error with last commit 1ce23d7

[code]

[2016-07-24 06:32] surfaace commented on #587
@hklcf this was committed 8 hours ago

[2016-07-24 06:32] hklcf commented on #587
@petercunha where can i find the config.json?
I just see config.json.example in the folder.

[2016-07-24 06:33] surfaace commented on #590
@zx900930 paste config values

[2016-07-24 06:33] surfaace commented on #587
rename .example to config.json

[2016-07-24 06:33] hklcf commented on #587
@surfaace ah...
when i run `git pull` it return up-to-date

[2016-07-24 06:34] surfaace commented on #587
what branch? git branch

[2016-07-24 06:35] zx900930 commented on #590
@surfaace  sorry my fault, i didnt check the new config example for "item_filter"

`    "item_filter": [101,102,103,104] -> "item_filter": "101,102,103,104"`

[2016-07-24 06:35] hklcf commented on #587
oh sorry!
im using master branch :-1:

[2016-07-24 06:35] #587 closed

[2016-07-24 06:36] surfaace commented on #590
great, close if you think that its resolved

[2016-07-24 06:38] #588 closed

[2016-07-24 06:39] surfaace opened #595 "python Web server not showing map?"
### Expected Behavior
To see your self moving around at on a google map

### Actual Behavior
no google map is showing, pokemons cant be shown, same for pokedex.
Playerstats and items is showing/updating

(it has been working)

### Steps to Reproduce
D:\Pokemon stuff\PokemonGo-Bot\web>python -m SimpleHTTPServer 8080
Serving HTTP on 0.0.0.0 port 8080 ...
127.0.0.1 - - [24/Jul/2016 08:40:58] "GET / H

[2016-07-24 06:39] zx900930 commented on #590
Thx for help, and u can close this is.

[2016-07-24 06:47] zx900930 commented on #532
Same problem here,  once it get the first `Pokestop: Unknown`, it will be an infinite loop(no pokemon capture during the loop) .
I think the bot should stop and rescan when it get the first `Pokestop: Unknown`.

[2016-07-24 06:48] Esummoner commented on #583
Not very smart to add iv to nicknames, think that makes it a lot easier for them to catch botters.

[2016-07-24 06:49] kaise123 commented on #595
Have you renamed 'userdata.js.example' to 'userdata.js' and filled in your username?

[2016-07-24 06:51] surfaace commented on #595
yes, also noticed now that it doesnt have pan or zoom on by default, even if specified in userdata.js

// MUST CONFIGURE THE USER ARRAY.
var users = ["myuser"];
var userZoom = true;
var userFollow = true;
var imageExt = ".png";

[2016-07-24 07:17] surfaace opened #599 "Config has no split attribute for Item_filter"
### Expected Behavior
Split and read the string to array?

### Actual Behavior
D:\Pokemon stuff\PokemonGo-Bot>pokecli.py
Traceback (most recent call last):
  File "D:\Pokemon stuff\PokemonGo-Bot\pokecli.py", line 219, in <module>
    main()
  File "D:\Pokemon stuff\PokemonGo-Bot\pokecli.py", line 196, in main
    config = init_config()
  File "D:\Pokemon stuff\PokemonGo-Bot\pokecli.py", line 168,

[2016-07-24 07:19] vanrzuf commented on #517
@budi-khoirudin just copy pasted this from manual. Will try without brackets

[2016-07-24 07:21] vtuan10 commented on #532
+1

[2016-07-24 07:21] wandering7man commented on #595
js?key=cftodxuvpvdqyksm&callback=initMap:35 Google Maps API error: InvalidKeyMapError https://developers.google.com/maps/documentation/javascript/error-messages#invalid-key-map-error

[2016-07-24 07:23] crack00r opened #600 "[REQUEST] Clean Branches"
Again 8 branches...
Clean and give better names

[2016-07-24 07:26] wandering7man commented on #595
change google API KEY to urs in index.html 97 line

[2016-07-24 07:30] surfaace commented on #595
After keychange in index file it now shows a map

[2016-07-24 07:30] #595 closed

[2016-07-24 07:30] jplusc commented on #437
confirmed, bot is spinning gyms:  here is image with location, id etc:

<img width="684" alt="screenclip" src="https://cloud.githubusercontent.com/assets/20580948/17082512/ea2aea5a-514e-11e6-80fe-ab0677d81a2f.png">

[2016-07-24 07:35] ahangchen opened #602 "can not start unrecognized arugments"
### Expected Behavior
[code]

### Actual Behavior
[code]

### Steps to Reproduce
as above

### Other Information
OS: ubuntu 14.04 lts
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-24 07:40] julienkessels commented on #602
yea readme is totaly not uptodate, needs update, im getting confused too, took me 30 minutes to work it out on my own

[2016-07-24 07:49] hklcf commented on #602
rename and config `release_config.json.example` to `release_config.json`
rename and config `config.json.example` to `config.json`

python pokecli.py

[2016-07-24 07:49] taigrr opened #604 "Trading recommendation"
I think there should be a way to only trade pokemon you don't already own, and if you get one that's lower than the specified CP but higher than the highest of its type, it should keep the collected one and drop the lower of the two.

[2016-07-24 07:56] julienkessels commented on #602
where do i get a gmapkey from ?

[2016-07-24 07:57] Aiyubi commented on #521
Why should it? That is exactly what the release rules are designed for.

[2016-07-24 08:02] hklcf commented on #602
@julienkessels [https://console.developers.google.com/flows/enableapi?apiid=maps_backend,geocoding_backend,directions_backend,distance_matrix_backend,elevation_backend,places_backend&keyType=CLIENT_SIDE&reusekey=true](url)

[2016-07-24 08:09] SpaceBoris commented on #517
python pokecli.py -a google -u user -p pass -l "x.y" -w 4 -if "101,102,103,104,201"
tried this. Still recycling pokeballs.

[2016-07-24 08:16] julienkessels opened #608 "first time getting that, why ? softban? sure?"
2016-07-24 10:15:10 [#] A Wild Pidgey appeared! [CP 330] [Potential 0.51]
[2016-07-24 10:15:10] [#] IV [Stamina/Attack/Defense] = [15/4/4]
[2016-07-24 10:15:14] [x] Using Greatball... (5 left!)
2016-07-24 10:15:15 [x] Oh no! Pidgey vanished! :(
2016-07-24 10:15:21 [#] A Wild Spearow appeared! [CP 278] [Potential 0.8]
[2016-07-24 10:15:21] [#] IV [Stamina/Attack/Defense] = [14/13/9]
[2016-07-24 10:

[2016-07-24 08:18] surfaace commented on #608
its a softban, exit application and wait 10 minutes

[2016-07-24 08:18] ShiFangJuMie opened #609 "CAN NOT Set GEO Location"
### Expected Behavior
Go to the exact latitude and longitude

### Actual Behavior
Nearby place,But I can't get what I want.

For example: There are many Dratini in "-34.916767 138.595291", but “Memorial Drive Tennis Club War Memorial Dr Adelaide SA 5006” did not, Although the distance is not far.

### Steps to Reproduce
[code]

I have also tried these lists are not what I want
[code]
AndI also del

[2016-07-24 08:19] reddivision commented on #608
@surfaace just curious, could it also be a coincidence of the pokemon despawning?

[2016-07-24 08:20] reddivision commented on #609
I'm noticing this as well too recently. I think the issue is coord truncation. will look into it.

[2016-07-24 08:24] sebastienvercammen commented on #573
Config files are fine, but result in duplicate data when dealing with multiple accounts.

For reusability's sake, re-implement at least **-u**, **-p** and **-a**.

Other cli parameters are a luxury, but they can still be useful if you don't feel like creating an entire separate JSON file for one small config change.

[2016-07-24 08:27] sebastienvercammen commented on #573
This feels like a discussion that shouldn't be happening.

Configuration files allow for a lot of configuration without much hassle or a million command line parameters.

Command line allows for easy access, overwriting and simpler automation.

Both have their valid uses. Load config.json by default, let users overwrite whatever they want via command line.

[2016-07-24 08:30] eggins commented on #573
@sebastienvercammen is completely correct.
Im more than happy to try reimplement both of these - as someone who is multi-boxing this installation it becomes a pain running several folders.

[2016-07-24 08:30] shaosh opened #610 "Exception and error when install in Windows 7"
In my Win7 PC, I installed the PyYAML-3.11.win-amd64-py2.7 and cloned this repo. When I run the command "virtualenv ." in cmd, it showed errors and exceptions:

Installing setuptools, pip, wheel...
  Complete output from command D:\Documents\Pokemon...t\Scripts\python.exe - setuptools pip wheel:
  Collecting setuptools
Exception:
Traceback (most recent call last):
  File "c:\python27\lib\site-pack

[2016-07-24 08:35] gagas3113 opened #611 "[Cant install]"
I already finished install requirements.txt but cmd show pokecli.py: error: unrecognized arguments

[2016-07-24 08:37] TheSavior commented on #573
@sebastienvercammen, sounds like you agree with the proposal then. 👍

[2016-07-24 08:39] Aiyubi commented on #611
did you create and edit the config file?

[2016-07-24 08:41] eggins commented on #611
@gagas3113 the readme is currently incorrect

[2016-07-24 08:43] gagas3113 commented on #611
readme only show [-h] and [-cf] no another command like -it -w

[2016-07-24 08:43] eggins commented on #608
This may not be a soft ban -- you might just need to wait it out.

Either way - this is not an issue with the bot.

Closed.

[2016-07-24 08:43] #608 closed

[2016-07-24 08:46] vanrzuf commented on #517
Without brackets works to me.

[2016-07-24 08:50] fuzha opened #612 "[ASK] Login Bot with config.json"
so, if we just need to edit `config.json`, it just to make bot for 1 id, then how if i want to make many bot with many id from 1 folder pokemon bot?

[2016-07-24 08:52] akhilravichandran11 commented on #521
can we have this an option ? As some of us want to 'Catch em all'

[2016-07-24 08:59] harsh1412 opened #613 "Map is blank in the Stable branch"
### Expected Behavior

Show me the map :3
### Actual Behavior
The map doesn't load.. Its just blank with option bar and player info bar but nothing else..
I already configured the userdata.js and started http server.
Do i need to install anything else?
It was working before in the dev branch like a day or two before..

[2016-07-24 08:59] Balauue opened #614 "[Suggestion] Use StreetView for live-maps"
### Suggested Behavior

The map view provided in ``/web`` could have a switch to go into Street View mode, if available. In the best case, you would see the actual place the bot is currently wandering around. It should reflect the bots movements in real time. Might be especially interesting for landmarks such as the Central Park, Santa Monica Pier etc.

### Actual Behavior

The map view shows the

[2016-07-24 09:01] reddivision commented on #613
make sure you have your google maps api key in config.json (see the `"gmapkey"` in `config.json.example`)

[2016-07-24 09:05] gagas3113 commented on #611
i think its cause protobuf doesn't install correctly, i only put protobuf to bot folder. any help ?

[2016-07-24 09:05] CtrlAltDefeat94 opened #617 "Update Usage in readme.md"
Usage says we need to give parameters to pokecli.py, but that's not even possible anymore

[2016-07-24 09:08] harsh1412 commented on #613
@reddivision so after filling up the config.json i can run the project without giving arguments?

[2016-07-24 09:08] reddivision commented on #611
currently, you have to use a config file _ONLY_, no other arguments are allowed (that's why you're getting `unrecognized arguments`). make a copy of `config.json.example` named `config.json`, fill it out with your information, and try running just `python pokecli.py`

[2016-07-24 09:10] reddivision commented on #613
@harsh1412 that's correct. just run `python pokecli.py`

[2016-07-24 09:11] harsh1412 commented on #613
Thanks :)

[2016-07-24 09:11] #613 closed

[2016-07-24 09:11] IcicleTF commented on #617
It seems that none of the flags are working anymore? Or is it just me?

[2016-07-24 09:13] CtrlAltDefeat94 commented on #617
Because you have to use a config file, and it doesnt seem to be documented anywhere how it works

[2016-07-24 09:17] IcicleTF commented on #617
Alright, I see now.  Just have to delete the "example" off the end of the release_config.json and config.json.

[2016-07-24 09:19] palakz opened #619 "Pokemons are getting vanished. Every time."
Somehow, the clone of master branch isn't able to catch Pokemons, they're getting vanished.

Here's some more info on this:

[code]

This has been happening for last 45 mins constantly.
Running on Windows 10 64 bit.

How to fix this?

[2016-07-24 09:23] hklcf commented on #619
please use dev branch

[2016-07-24 09:24] fuzha commented on #612
then trainer info on http://localhost:8000/web/ just show 1 info from 1 user

[2016-07-24 09:24] phupabegim opened #620 "Not getting PokeBalls"
I opened an issue ~14 hours ago about the bot not getting PokeBalls but it was closed. ~14 hours on and still no PokeBalls, bot has been running continuously.

[2016-07-24 09:24] julienkessels commented on #617
yea should be updated.. and some functions are not added to the config file (like evolve etC) how do i still evolve in this case?

[2016-07-24 09:25] eggins commented on #620
In the last 14 hours there has probably been 100+ commits.

Please download the latest versions.

[2016-07-24 09:27] ShiFangJuMie commented on #609
Maybe it's because config.json
I have now re installed the project, did not enable config.json, it seems to be right.

[2016-07-24 09:27] eggins commented on #619
Please use the development branch. Using the master branch may of gotten you softbanned.

[2016-07-24 09:28] tastypear opened #622 "--initial-transfer doesn't work any more"
`pokecli.py: error: unrecognized arguments: --initial-transfer`
Git Commit: ab604452c2a0a72e13fa6d940fa55902d3b01466

[2016-07-24 09:28] fsegouin commented on #619
You might probably be softbanned.

[2016-07-24 09:29] phupabegim commented on #620
It should work in the older version though, I was told?

[2016-07-24 09:30] fsegouin commented on #599
Same error here.

[2016-07-24 09:32] surfaace commented on #622
you need to specify a minumum CP level with --initial-transfer

[2016-07-24 09:33] surfaace commented on #620
Works good in dev commit: 154971c2a5a87738825381e74281ea89943bfd75

[2016-07-24 11:29:38] [#] Finished walking
[2016-07-24 11:29:38] [#] Arrived at Pokestop
[2016-07-24 11:29:39] [#] Now at Pokestop: Naturens Sj├ñl - Spinning...
[2016-07-24 11:29:40] [+] Loot:
[2016-07-24 11:29:40] [+] 50 xp
[2016-07-24 11:29:41] [+] 2x Pokeball (Total: 23)
[2016-07-24 11:29:41] [+] 1x Greatball (Total: 3)
[2016-0

[2016-07-24 09:33] reddivision commented on #622
the argument processing has been redone. you need to specify your initial transfer inside `config.json` now (see `config.json.example` for... an example). no arguments other than `-h` and `-cf` are currently supported on the command-line.

[2016-07-24 09:35] #611 closed

[2016-07-24 09:36] phupabegim commented on #620
I'm using master as it says in the instructions. Should I use dev?

[2016-07-24 09:37] surfaace commented on #620
use dev, but use the commit i reffered to until #599 is resolved

[2016-07-24 09:39] Balauue commented on #599
Had the same issue, because the notation has changed. Now I use ``"101,102,103"`` as opposed to ``["101","102","103"]``, which worked 12 hours ago

[2016-07-24 09:40] dmateusp commented on #517
I'm the one that added the feature, tested with ["101", "102", "103"] in the config json file, I will now test it on the cmd line and convert "101,102,103" to an array! Sorry about that

[2016-07-24 09:45] obi343 opened #627 "Webserver serves blank page"
Greetings,
after i set up script and webserver, i've reloaded nginx with 'nginx -s reload' and i can access localhost, but only thing there is blank space with options and trainer submenus. After clicking INFO box with 'Submenu' is showing up.

OS: Debian Sid
Git Commit: Sun Jul 24 01:15:16 2016

[2016-07-24 09:47] YourATowel opened #628 "[Question] What is gmapkey for ?"
Sorry if wrong place.
What is gmapkey for? What does it do ?

I have not been using it and couldn't find what its purpose is.

[2016-07-24 09:47] StahlJonas commented on #532
i have the same problem

[2016-07-24 09:51] #526 closed

[2016-07-24 09:53] hahnrobert commented on #628
It's used when making use of the web interface which is available in dev branch. The idea is to not use one API key which will exceed its limits quite fast but instead every users uses their own one.

[2016-07-24 09:55] hahnrobert commented on #604
Totally agree.
Add a flag to only transfer pokemons which you already own, and always transfer the lower of them.

[2016-07-24 09:56] surfaace commented on #627
you need to configure googleAPI key https://developers.google.com/maps/documentation/javascript/get-api-key

[2016-07-24 09:59] obi343 commented on #627
I've already did it, sir.

[2016-07-24 10:00] surfaace commented on #627
if defining the key in config doesnt resolve it, change google API KEY to ours in index.html 97 line

[2016-07-24 10:02] apsdehal opened #630 "[Pokemon Description] Map of location where the pokemon was captured is not displayed"
### Expected Behavior
Map of the location where pokemon was captured should be there in Pokemon's Description menu

### Actual Behavior
White image. (This may be used to catch botters)

### Steps to Reproduce
- Catch a pokemon through bot
- Go to pokemon menu
- Select the latest catched pokemon which open up the description menu.
- Scroll down and check out the capture map location for the pokemon

[2016-07-24 10:08] vtuan10 commented on #630
this is because of the "3 steps bug" and has nothing to do with the bot.

[2016-07-24 10:09] phupabegim commented on #620
Ok using that commit now. Do you know how to solve this geopy.exc.GeocoderQueryError: Your request was denied.?

[2016-07-24 10:09] surfaace commented on #599
Seems to be working

[2016-07-24 10:09] fuzha commented on #532
same problem here

[2016-07-24 10:11] ulou commented on #619
You are softbanned for 1-3h (in most cases is it 1h).

[2016-07-24 10:11] apsdehal commented on #630
Thanks, confirmed. Closing.

[2016-07-24 10:11] #630 closed

[2016-07-24 10:11] obi343 commented on #627
Defined key in index.html and still all i have is: [http://i.imgur.com/n3bP2fQ.png](url)

[2016-07-24 10:12] xshadowoflightx opened #632 "not switching to great ball when there is 0 pokeball"
[2016-07-24 18:04:01] [#] Acccount Creation: 2016-07-23 06:22:24.500000
[2016-07-24 18:04:02] [#] Bag Storage: 746/350
[2016-07-24 18:04:02] [#] Pokemon Storage: 228/250
[2016-07-24 18:04:02] [#] Stardust: 67900
[2016-07-24 18:04:02] [#] Pokecoins: 0
[2016-07-24 18:04:02] [#] PokeBalls: 0
[2016-07-24 18:04:02] [#] GreatBalls: 134
[2016-07-24 18:04:02] [#] UltraBalls: 17
[2016-07-24 18:04:02] [#] -

[2016-07-24 10:14] dmateusp commented on #599
Please don't mark it as working! the logic hasn't be changed by the person that "fixed" the problem, a list should be used because I use "101" in list, I'm working on making both "101,102,103" and ["101","102","103"] work but it will drop everything at the moment !

[2016-07-24 10:14] surfaace opened #635 "Determine which ball to use base on catch rate doesnt count for '-1' balls"
### Expected Behavior
On start of app when a pokemon appears it tries to use a pokeball even if we are out of balls.
Should set farm mode and continue

### Actual Behavior
[2016-07-24 12:09:03] [#] Something rustles nearby!
[2016-07-24 12:09:03] [#] A Wild Magnemite appeared! [CP 110] [Potential 0.58]
[2016-07-24 12:09:03] [#] IV [Stamina/Attack/Defense] = [14/10/2]
[2016-07-24 12:09:08] [x] Using

[2016-07-24 10:16] surfaace commented on #599
@dmadisetti assign the issue to yourself then please :)

[2016-07-24 10:19] ayozebarrera opened #636 "Scanning area and walking hook"
Hi.. after few minutes, I only see how the bot scan area for objects and walking hooks. No pokemons found... no pokemons appears... am I doing any wrong?

[2016-07-24 10:19] YourATowel commented on #628
Thanks.
So is it just used for seeing your where your character is on the map ?

[2016-07-24 10:21] dmateusp commented on #620
Probably a bug from a commit that changed the syntax of item_filter, filtering everything out now :(

[2016-07-24 10:23] eggins commented on #635
Fixed

[2016-07-24 10:23] #635 closed

[2016-07-24 10:23] eggins commented on #632
Fixed.

[2016-07-24 10:23] #632 closed

[2016-07-24 10:28] eggins commented on #628
Only used for the webmap so that you can map where they are.

[2016-07-24 10:28] #628 closed

[2016-07-24 10:28] tastypear commented on #622
so what does the argument `initial_transfer=0` mean? zero means False or CP limit?

[2016-07-24 10:28] #622 closed

[2016-07-24 10:31] sevano opened #640 "Error"
I cloned the latest PokemonGO-bot
Installed the requirements and virtualenv
I changed release_config.json and config.json
When i run i get this error

[code]

[2016-07-24 10:31] dmateusp commented on #620
please see https://github.com/PokemonGoF/PokemonGo-Bot/pull/638

[2016-07-24 10:32] dmateusp commented on #540
please see https://github.com/PokemonGoF/PokemonGo-Bot/pull/638

[2016-07-24 10:32] dotaxis commented on #627
Same issue here

[2016-07-24 10:34] aditardy commented on #627
same problem  with nginx or SimpleHTTPServer ...

[2016-07-24 10:35] dotaxis commented on #627
Make sure to edit userdata.js and add your username/email to it.

[2016-07-24 10:36] reddivision commented on #640
Make sure that in `config.json` your `item_filter` key just has a string value of integers separated by commas.

Example: `"item_filter":"101,102,103,104"`

[2016-07-24 10:37] reddivision commented on #636
plug your coordinates into google maps, look up the location on pokevision.com, and see if there are even any pokemon where your bot is. it's not uncommon to not see any pokemon depending on where you are at.

[2016-07-24 10:38] dotaxis commented on #620
You need to use your own GMaps API key with the dev branch. Enable the Geocoder API for your key and that error will go away.

[2016-07-24 10:39] vanZeben opened #643 "Seems to be issues with the bot running over lengthy periods of time"
I have the bot running on my VPS and decided to leave it on while I went to sleep. I woke up to the bot just scanning the area and then walking to the next area. No pokestops, no pokemon, just walking around. Judging from the level of my character and bag changes, this happened not very long after I left the bot alone (perhaps 20-30 minutes), so I would estimate that this kicks in around an hour o

[2016-07-24 10:44] obi343 commented on #627
Changed username, still no result.

[2016-07-24 10:46] DanielVolz commented on #643
Have the same problem.

[2016-07-24 10:46] Tekill commented on #541
Use dev branch
<img width="940" alt="wut" src="https://cloud.githubusercontent.com/assets/965890/17083317/027662e6-51a5-11e6-900a-055f2fead110.png">

[2016-07-24 10:47] sevano commented on #640
Thanks Solved

[2016-07-24 10:47] #640 closed

[2016-07-24 10:49] AnakTeka commented on #643
Yeah, same here, I have to restart the process once in a while.

[2016-07-24 10:51] boriss579 commented on #614
So.. not only you want the bot to walk for you, you also want to see the real places "he" is going :)
Interesting twist to the game :D

[2016-07-24 10:53] Spettacolo83 commented on #643
Same problem here! I have to restart every 30-60 mins.

[2016-07-24 10:56] ayozebarrera commented on #541
Lol... nice and sorry :)

[2016-07-24 10:56] #541 closed

[2016-07-24 10:56] GanbaruTobi opened #645 "[Suggestion] Command for changing region"
As people will want to get region based Pokemon, it would be nice to provide a way to change the region. There probably needs to be an off time in game, which could be handled with a timer. Further i don't know if a proxy for the Internet connection will be needed. This could be mentioned in the Console.
When the times are known as same for every region, changing it could be done by:
-mv "NA"
When

[2016-07-24 11:00] phupabegim commented on #620
It's the geolocation API right? I put my key in but it just says Your request was denied when I start the bot.

[2016-07-24 11:04] phupabegim commented on #620
Wrong API :/ It works now but it's trying to catch Pokémon with -1 balls?!

[2016-07-24 11:07] LuyiTian commented on #643
Have the similar problem. keep printout unknown pokestop and do nothing.

[code]

[2016-07-24 11:09] Niespo opened #646 "Get player info bug"
On branch "stable", I have a KeyError caused by different structure of response_dict than expected

[2016-07-24 13:05:28] [x] Position in-game set as: (51.11167589999999, 17.0605103, 0.0)
[2016-07-24 13:05:28]
Traceback (most recent call last):
  File "pokecli.py", line 197, in <module>
    main()
  File "pokecli.py", line 183, in main
    bot.start()
  File "D:\IdeaProjects\pokemon-go\PokemonGo-B

[2016-07-24 11:12] yoyellow commented on #627
it should be ["user@email.com"]

[2016-07-24 11:13] gmkbenjamin opened #647 "Error when start: ImportError: No module named smbus"
### Expected Behavior

### Actual Behavior
Traceback (most recent call last):
  File "pokecli.py", line 46, in <module>
    from pokemongo_bot import lcd
  File "C:\Users\user\Desktop\PokemonGo-Bot\pokemongo_bot\lcd.py", line 14, in <module>
    import smbus
ImportError: No module named smbus

### Steps to Reproduce
Run python pokecli.py

### Other Information
OS: Widnows 10 64bit
Git Commit: 4aea

[2016-07-24 11:15] celinereine commented on #646
Check your release_config.json file that the syntax is all correct. I had an extra comma in mine which prevented the program from running.

[2016-07-24 11:17] xskeeperx opened #649 "cant get latest dev to run ValueError: Expecting , delimiter: line 16 column 5 (char 368)"
### Expected Behavior
start bot upon C:\python27\python pokecli.py -cf config.json

### Actual Behavior
giving error

C:\pythonbot dev neu\PokemonGo-Bot-dev>C:\python27\python pokecli.py -cf config.json
Traceback (most recent call last):
  File "pokecli.py", line 219, in <module>
    main()
  File "pokecli.py", line 196, in main
    config = init_config()
  File "pokecli.py", line 60, in init_conf

[2016-07-24 11:17] zx900930 commented on #647
Same problem here and because smbus is build for linux, we cant install it with `pip install smbus-cffi` on windows.

[2016-07-24 11:18] r3fl0g commented on #647
I2C support broke the current build. In Linux based systems install the i2c-tools package and it should be fixed.

[2016-07-24 11:19] obi343 commented on #627
Thank you kindly, Sir!

[2016-07-24 11:21] LuyiTian opened #651 "error when the responses is empty"
### Expected Behavior

### Actual Behavior
[code]

[code]

[code]

### Steps to Reproduce

### Other Information
I wonder is there a systematic way to solve the issue when the http response is empty.

I think all the error above come from an empty responses. And I have noticed you add some `if`condition  to see whether the key exist. but it would be painful to add `if` condition everywhere. Someti

[2016-07-24 11:21] Niespo commented on #646
@celinereine but my problem is with wrong format of response from PoGoAPI I guess, not with wrong parsing release_config.json.

[2016-07-24 11:21] #627 closed

[2016-07-24 11:21] dotaxis commented on #620
Geocoder API not Geolocation

[2016-07-24 11:25] sakulstra commented on #583
Giving IV to nickname doesn't sound like a good idea, but one could have a command like `--list` to just list all the pokemons in the inventory with their cp and iv value.

[2016-07-24 11:26] fonix232 commented on #645
Just set a position, and you're good to go. Of course wait the usual 30min-1hr cooldown between large position jumps (this definitely counts as large!), unless you want to get softbanned.

[2016-07-24 11:31] pol0nium commented on #647
The package doesn't exist in homebrew. This dependency is an issue for OSX users.

[2016-07-24 11:31] Tekill commented on #647
Fixed by https://github.com/PokemonGoF/PokemonGo-Bot/commit/1624e5ee3669edd665e76718eef2b30a6b7ab21b

[2016-07-24 11:33] xskeeperx commented on #649
changed the config to be closer to the default one.

Config:

{
    "auth_service": "ptc",
    "username": "********************",
    "password": "*************",
    "location": "Central Park, New York",
    "gmapkey": "AIzaSyDqphcbnlFBm0***********************",
    "max_steps": 5,
    "mode": "all",
    "walk": 4.16,
    "debug": false,
    "test": false,
    "initial_transfer": 0,
    "locati

[2016-07-24 11:34] Tekill commented on #649
"evolve_all", false,
"evolve_captured", false

Not commas! Colon

[2016-07-24 11:35] Tekill commented on #649
Use https://jsonformatter.curiousconcept.com/

[2016-07-24 11:36] #647 closed

[2016-07-24 11:38] xskeeperx commented on #649
yeah. I now removed evolve options completely in config.
Jsonformatter site says: "Valid JSON (RFC 4627)".

Stilkl getting ValueError: No JSON object could be decoded.

[2016-07-24 11:39] pol0nium opened #656 "[Feature request] idle when softbanned"
### Expected Behavior
Do nothing for a while after X pokemon escape

### Actual Behavior
Bot continues farming while pokemons keep vanishing

[2016-07-24 11:41] Tekill commented on #649
`config.release_config.update(json.load(data))`
Something wrong with `release_config.json`

[2016-07-24 11:43] Fak3Tales commented on #649
can you get this working by just adding the params to the CLI directly ?

[2016-07-24 11:45] palakz commented on #619
Oh. Okay. Thanks guys. :D :+1:

[2016-07-24 11:45] #619 closed

[2016-07-24 11:48] blackmambacode commented on #417
same problem for me in latest dev. need help

[2016-07-24 11:51] Gexx opened #658 "Unknown Pokestop"
### Expected Behavior
Bot should run to the next Pokestop.

### Actual Behavior
Bot loops on one 'Unknown' Pokestop, and does not catch pokemons. It also stops moving on map.

[2016-07-24 13:21:39] [x] Captured Ekans! [CP 304]
[2016-07-24 13:23:25] [#] Finished walking
[2016-07-24 13:23:25] [#] Arrived at Pokestop
[2016-07-24 13:23:27] [#] Now at Pokestop: Unknown - Spinning...
[2016-07-24 13:23:3

[2016-07-24 11:51] xskeeperx commented on #649
thank you @Tekill there was a typo i release_config.
its running now. couldn't get the evolve params to work, though..

[2016-07-24 11:53] ckrmml opened #660 "[BUG] Bot neither uses greatballs when out of pokeballs nor switches to farm mode"
### Expected Behavior

No more pokeballs but more than ten greatballs, bot should use greatballs

### Actual Behavior

2016-07-24 13:51:10] [#] A Wild Voltorb appeared! [CP 223] [Potential 0.42]
[2016-07-24 13:51:10] [#] IV [Stamina/Attack/Defense] = [14/2/3]
[2016-07-24 13:51:13] [x] Using Pokeball (chance: 45.14%)... (-1 left!)

### Steps to Reproduce

just run the bot

### Other Information
OS:

[2016-07-24 12:00] Aiyubi commented on #649
for the record: there was a , missing at the end of the itemfilter

[2016-07-24 12:03] Gexx commented on #658
Probably duplicate of #651 but if the response is empty why bot stops catching/spinning, moving on map?

[2016-07-24 12:11] earthchie commented on #660
will fix in this PR
https://github.com/PokemonGoF/PokemonGo-Bot/pull/655

[2016-07-24 12:14] ayozebarrera opened #662 "Suggested locations ?"
Maybe you guys could put suggested locations on README like Santa Monica Pier... or others that you know the bot works well ?

[2016-07-24 12:16] Foxy1990 opened #663 "Evolve all not working"
### Expected Behavior
	"evolve_all": true

should evolve all pokemons on startup

### Actual Behavior
doesnt evolve anything :/

### Steps to Reproduce
use "evolve_all": true in config

### Other Information
OS: win10
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-24 12:16] xskeeperx commented on #649
you're right.

but the real problem was in the release config.

it looked like this:

            "Vileplume"
]
    }
}

but has to look like this:

            "Vileplume"]
    }
}

[2016-07-24 12:17] #649 closed

[2016-07-24 12:18] crusardri opened #664 "Release_config not work at all"
### Expected Behavior

Transfer pokemons with CP lower than X and IV lower than Y

### Actual Behavior
Console:
[2016-07-24 14:09:43] [x] Captured Primeape! [CP 950] [IV 0.58]
[2016-07-24 14:09:43] [x] Captured Primeape! [CP 950]
release_config.json
"Primeape": { "release_under_cp": 900, "release_under_iv": 1, "cp_iv_logic": "and" },
In-game
![image](https://cloud.githubusercontent.com/assets/4596

[2016-07-24 12:28] sakulstra commented on #651
Perhaps one could just catch this behavior and restart the bot at current position automatically?

[2016-07-24 12:28] hahnrobert commented on #604
Working on a PR to make this happen.

[2016-07-24 12:34] alawing commented on #583
yes I think we need a command just like --list

[2016-07-24 12:35] Witzbold commented on #664
You chose the option AND which means:

 [CP 950] [IV 0.58]
if(CP<900 AND IV<1):
     release
since CP>900 the result will be false

[2016-07-24 12:35] surfaace commented on #664
No issue, your config specifes that both CP and IV pokemon values needs to be true in order to transfer it

[2016-07-24 14:09:43] [x] Captured Primeape! [CP 950] [IV 0.58]
[2016-07-24 14:09:43] [x] Captured Primeape! [CP 950]
release_config.json
"Primeape": { "release_under_cp": 900, "release_under_iv": 1, "cp_iv_logic": "**and**" },

[2016-07-24 12:38] surfaace commented on #662
probably a bad idea, its better to find it form reddit as i wouldnt risk to run this in another location fairly close to where you are in case you are switching back/forward from your mobile app

[2016-07-24 12:39] earthchie commented on #664
but still, kinda confuse.

He want to hunt CP 900+ Primeape with IV potential = 1
How to config then?

We should improve this logic

[2016-07-24 12:40] crusardri commented on #664
in my config say
Don't transfer a primeape with 900 or more AND IV 1 or more, and the bot don't transfer a primeape 950 (OK) with IV 0.58 (not OK)

[2016-07-24 12:42] surfaace commented on #620
-1 pokeball is fixed in 50ad87985c611b7cdabb0a5cdb1d1545b9509f52
Please open new issue if you have other problems than pokeballs

[2016-07-24 12:43] earthchie opened #666 "[Bug] Initial Transfer is transfer all my Pkmn regardless of CP"
### Expected Behavior
Keep Pokemon with CP > config.

### Actual Behavior
![image](https://cloud.githubusercontent.com/assets/7013039/17083842/aaa77ffa-51d6-11e6-9fcb-bc55ea62ee8b.png)

### Steps to Reproduce
Run bot until pokemon bag is full

[2016-07-24 12:45] surfaace commented on #664
i see that you are right, do 0.99 until its fixed :)

[2016-07-24 12:49] crusardri commented on #664
still not working with AND and IV 0.99, but work fine with OR

[2016-07-24 12:51] J102030 commented on #643
Yep, same here - can run the bot for ~2 hours before getting stuck

[2016-07-24 12:53] ulou commented on #666
Can you paste what you write in console? (delete username and password)

[2016-07-24 12:55] earthchie commented on #666
It has something to do with this line

https://github.com/PokemonGoF/PokemonGo-Bot/blob/dev/pokemongo_bot/cell_workers/initial_transfer_worker.py#L33

self.config.initial_transfer is False
because I set it to False, but this method called because my bag full.

We have 2 choices:
1. not trigger initial_transfer if self.config.initial_transfer is False
https://github.com/earthchie/PokemonGo-Bot/blob

[2016-07-24 13:02] hahnrobert commented on #604
Here is the corresponding pull request #668

[2016-07-24 13:06] ckrmml opened #669 "[BUG] Bot evolves pokemon, then releases them"
### Expected Behavior

Release pokemon not matching release_config and evolve only pokemon beeing kept

### Actual Behavior

[2016-07-24 15:02:19] [#] Spearow has been evolved!
[2016-07-24 15:02:19] [x] Release config for Spearow: CP 500 or IV 0.8
[2016-07-24 15:02:19] [#] Spearow has been exchanged for candy!

### Steps to Reproduce

run the bot with "evolve_captured": true in config.json
### Oth

[2016-07-24 13:12] Tozic commented on #447
Alight oml i have been trying to fix this for hours, When i try to launch it i get the same error as the guy who made the post thing,
OSError: Cannot load native module 'Cryptodome.Cipher._raw_ecb

Please help it's been bugging me for ages, Im trying to run of Windows using python this is my start script
python pokecli.py -a google -u email -p password -w 4.16 -m all --location "New York, Washingt

[2016-07-24 13:17] bgrimm commented on #643
Same issue, starts not finding just moving around about the 30-45 minute mark as well.

[2016-07-24 13:19] Tozic opened #671 "ERROR Cryptodome"
I am running windows 10 and have followed all the steps for installing onto windows and have come to a hult when i get this error:

Traceback (most recent call last):
  File "C:\Users\amcsp\Desktop\PokemonGo-Bot-dev\pokecli.py", line 38, in <module>
    from pokemongo_bot import logger
  File "C:\Users\amcsp\Desktop\PokemonGo-Bot-dev\pokemongo_bot\__init__.py", line 13, in <module>
    from pgoapi

[2016-07-24 13:21] th3w4y commented on #413
got read of the .walk() concept the PolylineWalker() object has a .get_pos() method that returns the current position at call time on the polyline.

the are no methods anymore that update the .points content those remain the same during the life of the object with the initial points from the Google Direction API fetched points.
#667

if the polyline walk was finished the .get_pos() continues to re

[2016-07-24 13:31] ethervoid commented on #666
It seemm like you have more than one Charmaleon and with that option you keep the Charmaleon with highest CP.

[2016-07-24 13:35] JohanJu opened #672 "[Feature request] Prioritize rare pokemon"
Include a list of rare pokémon that will be pursued with highest priority if in range.

In the future maybe a hunter-catcher setup where the main account catches pokémon and secondary accounts jumps in a grid pattern to find rare pokémon.

[2016-07-24 13:40] gagas3113 opened #673 "RANDOM CRASH"
if 'responses' in response_dict and \
TypeError: argument of type 'NoneType' is not iterable

[2016-07-24 14:02] douglascamata commented on #664
[code]

[2016-07-24 14:04] crusardri commented on #664
In that case, the release config is broken, the primeape is 950, OK but the IV is lower than 1

[2016-07-24 14:12] crusardri opened #676 "the bot stop doing "bot stuff" after working 1h"
### Expected Behavior

Working full time

### Actual Behavior

the bot goes on strike after one hour of work.

### Steps to Reproduce

start the bot, wait 1h

### Other Information
OS: Win10
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)
Last dev (I still do not know yet how to use git command T.T)

bot start at:
[2016-07-24 14:49:47] [x] PokemonGO Bot v1.0

bot stop work

[2016-07-24 14:12] Naramsim commented on #622
It means CP limit as of now
@tastypear

[2016-07-24 14:16] mehdi-S commented on #664
for me it seems that _release_config.json_ is never used with the new `-cf config.json` logic

[2016-07-24 14:17] fsimchen commented on #676
Same issue:
[2016-07-24 11:05:17] [#] Now at Pokestop: Giant Thumb's Up - Spinning...
[2016-07-24 11:05:20] [+] Loot:
[2016-07-24 11:05:20] [+] 100 xp
[2016-07-24 11:05:22] [+] 2x Pokeball (Total: 155)
[2016-07-24 11:05:23] [+] 1x Razz Berry (Total: 87)
[2016-07-24 11:05:24] [+] 3x Potion (Total: 4)
[2016-07-24 11:05:24] [+] Recycling 3x Potion...
[2016-07-24 11:05:25] [+] Recycling success
[2016-

[2016-07-24 14:20] douglascamata commented on #664
@crusardri dude... it's a logic AND. It's working as expected. `if cp < 900 AND iv < 1 `. CP is less than 900? False. IV is less than 1? True. `False AND True = False`,  so it won't release. Nothing is broken, it's boolean math.

[2016-07-24 14:20] xskeeperx commented on #660
same bug here.
need to merge that PR!

[2016-07-24 14:20] KariHi commented on #576
Thanks!

[2016-07-24 14:27] MikeDX commented on #676
I believe this is because the login has expired (possibly wrong).

[2016-07-24 14:29] ethervoid commented on #676
Related #643

[2016-07-24 14:31] crusardri commented on #664
Math logic:
OR
0 0 = 0
0 1 = 1
1 0 = 1
1 1 = 1

AND
0 0 = 0
0 1 =0
1 0 = 0
1 1 = 1

Pokemon used: Primeape PC 950 (>900) IV 0.58 (<1)
[2016-07-24 14:09:43] [x] Captured Primeape! [CP 950] [IV 0.58]
My config
"Primeape": { "release_under_cp": 900, "release_under_iv": 1, "cp_iv_logic": "**and**" },
Expected Behavior
if primeape is PC >900 AND IV >1, keep
Actual Behavior
if primeape is PC >900 OR IV

[2016-07-24 14:34] douglascamata commented on #664
@crusardri:

1. IV condition is `False` and CP condition is `True`, right? Agree on this?
2. `False AND True` is `False`
3. Returning `False` means it SHOULD NOT transfer.

[2016-07-24 14:36] douglascamata commented on #664
With this configuration you're only keeping in your Pokemon list whatever has CP higher than 900 and IV 1 (IV 1 is almost impossible to find).

[2016-07-24 14:39] tstumm commented on #16
I already proposed that as a fallback solution

[2016-07-24 14:42] adhioutlined commented on #584
Great, Thanks

[2016-07-24 14:42] #584 closed

[2016-07-24 14:43] douglascamata commented on #664
Just check the code, it's clear:

[code]

Transforming into text: if pokemon cp is lower than `'release_under_cp'`, it should be released based on that criteria. Same happens to IV.

Your pokemon CP = 950 and IV = 0.58, config is CP 900 and IV 1.

950 < 900 = FALSE
0.58  < 0.1 = TRUE

`False AND True` = False = not release.

[2016-07-24 14:44] crusardri commented on #664
ahhh, ok, i understand now, but it don't have any sense.
Why the config is for transfer instead of keep it?

[2016-07-24 14:47] douglascamata commented on #664
The file is named **release**_config.json and the name of the key is **release**_under_cp...

[2016-07-24 14:47] douglascamata commented on #664
IMHO, it's pretty clear what it means.

[2016-07-24 14:49] tstumm commented on #671
Try reinstalling Python or downgrading to 2.7.10

[2016-07-24 14:49] mehdi-S commented on #664
@douglascamata and how did you manage to use release_config file with the config_file logic ?

[2016-07-24 14:52] hklcf commented on #643
same here

[2016-07-24 14:54] crusardri commented on #664
Ok, it's my fault, close the issue if you want.
@mehdi-S
release when the pokemon have PC lower than X and IV lower than Y, or release when the pokemon have PC lower than X or IV lower than Y

PC is 950 and IV is 0.58
the config says PC 900 and IV 1
950 > 900 = false
0,58 < 1 = true
OR = X + Y
AND = X * Y

OR: false + true = true, release it
AND: flase * true = false, keep it

[2016-07-24 15:02] douglascamata commented on #664
@mehdi-S I don't know about config_file logic + release_config.json file. I implemented the release_config.json logic before the config_file one. I just woke up a few minutes ago and saw it there, so...

[2016-07-24 15:03] #664 closed

[2016-07-24 15:09] ayozebarrera commented on #517
Having this issue aswell

[2016-07-24 15:19] tdurieux commented on #646
I have the same issue, I seams that the response format has change:

[code]

[2016-07-24 15:32] Reitor opened #682 "I need a compiled version IM A NOOB"

[2016-07-24 15:39] zx900930 commented on #676
A stupid way to make it continue:
write a batch file or shell script to restart it every 60 mins:

example:
 `startup.bat`

[code]

[2016-07-24 15:53] slonce commented on #676
Really with this script? I have run more than 10 python.exe-bot,map. This script kill they all...

[2016-07-24 15:57] Roydeking52 opened #685 "[QUESTION] IV and CP?"
How do i capture pokemon i want, it always trade them for candy.
Can somebody explaine to me how the release_config file work.

I wanted new pokemon but because theye are to "low" the bot is trading them for candy.

Is there a way to not look at IV only at the CP level?

[2016-07-24 15:58] zx900930 commented on #676
@slonce sorry for that i only running 1 python script, so the best way is let dev fix this issue in the bot.

[2016-07-24 16:01] silelmot opened #688 "Error starting pokemonbot"
After installinge dev or stable branch , installing the requierements.txt and editing the config.json i get this error starting the bot:

Traceback (most recent call last):
  File "pokecli.py", line 38, in <module>
    from pokemongo_bot import logger
  File "/home/markus/PokemonGo-Bot/pokemongo_bot/__init__.py", line 13, in <module>
    from pgoapi import PGoApi
  File "/home/markus/PokemonGo-Bot

[2016-07-24 16:01] MikeDX commented on #676
That's a terrible "fix". I will look into a proper solution

[2016-07-24 16:07] Aiyubi commented on #688
can you switch to dev and try "pip install -r requirements.txt --upgrade"? It seems you have some outdated requirements to me

[2016-07-24 16:08] earthchie commented on #666
@ethervoid that's not the problem.

Will NOT transfer anything above CP 0?

BAM! Transferring Charmeleon with CP 701

I went to check the code and it really a bug. I already made PR to fix this too.

[2016-07-24 16:10] Aiyubi commented on #685
Explanation in pseudocode:
[code]

So if you just want to look at CP and ignore IV: Set all IV values to 0.0

[2016-07-24 16:12] blackmambacode opened #689 "google login"
### Expected Behavior
Login.

### Actual Behavior
[2016-07-24 18:10:18] [x] PokemonGO Bot v1.0
[2016-07-24 18:10:18] [x] Configuration initialized
[2016-07-24 18:10:18]
[2016-07-24 18:10:18] [x] Address found: New York, Central Park
[2016-07-24 18:10:18] [x] Position in-game set as: (40.7711329, -73.97418739999999, 0.0)
[2016-07-24 18:10:18]
[2016-07-24 18:10:19] Login Error, server busy

### Step

[2016-07-24 16:15] Aiyubi commented on #671
it seems your python installation is not working right

the obvious solution for your problem (a missing module) would be : "pip install Cryptodome"

[2016-07-24 16:18] Aiyubi commented on #669
I don'T see where the error is:
You catch Spearow
You have evolve captured enabled so it gets evolved
its values are too low so it gets released

[2016-07-24 16:19] Roydeking52 commented on #685
Thank you its working :)

[2016-07-24 16:21] Aiyubi commented on #689
Let me guess: you are not from new york? Could be that you just jumped too far and need to wait for the softban to be over

[2016-07-24 16:22] blackmambacode commented on #689
No, it worked with a older version of the bot. (like 8 hours ago). but with the new clone it does not.

[2016-07-24 16:26] blackmambacode commented on #689
[2016-07-24 18:25:39] [x] PokemonGO Bot v1.0
[2016-07-24 18:25:39] [x] Configuration initialized
2016-07-24 18:25:39,294 [    pgoapi] [DEBUG] Set Position - Lat: 40.7711329 Long: -73.9741874 Alt: 0.0
[2016-07-24 18:25:39]
[2016-07-24 18:25:39] [x] Address found: New York, Central Park
[2016-07-24 18:25:39] [x] Position in-game set as: (40.7711329, -73.97418739999999, 0.0)
[2016-07-24 18:25:39]
201

[2016-07-24 16:34] Diskmaster opened #690 "Fix the submodule url to not use SSH"
### Expected Behavior
git submodule to sync the web repository without issue. (Not everyone has SSH or an account)

### Actual Behavior
It fails, specifically about a lack of pubkey, but that would require forking and setting up your own repo variant, which isn't ideal for submodules.

### Steps to Reproduce
git submodule init
git submodule sync
watch as it complains about a missing pubkey if you

[2016-07-24 16:38] ltotsas opened #691 "WebServer Map"
Trying to setup the webserver but every time the username is wrong and i get

127.0.0.1 - - [24/Jul/2016 19:30:46] code 404, message File not found
127.0.0.1 - - [24/Jul/2016 19:30:46] "GET /location-larrougos.json HTTP/1.1" 404 -
127.0.0.1 - - [24/Jul/2016 19:30:46] code 404, message File not found
127.0.0.1 - - [24/Jul/2016 19:30:46] "GET /catchable-larrougos.json HTTP/1.1" 404 -

The username i

[2016-07-24 16:43] Aiyubi commented on #691
so look at the folder what the filenames are - thats what you need to put in as username

[2016-07-24 16:45] Witzbold commented on #663
Same problem here. Seems like the value "evolve_all" isn't even red by the program.

OS: ubuntu

[2016-07-24 16:48] mzupan commented on #682
there is no compiled version.. this bot isnt for you if you are a noob

[2016-07-24 16:50] rkodali22 opened #693 "Not switching to Poke Farming when Inventory Full"
### Expected Behavior
Switch to pokemon farming when inventory is full

### Actual Behavior
Stating but sticking with pokestop farming

### Steps to Reproduce

### Other Information
[2016-07-24 12:43:46] [#] Now at Pokestop: Lion Ladies  - Spinning...
[#] Inventory is full, switching to catch mode...
[2016-07-24 12:43:52] [#] Found fort 0913a27a7f184cf5b7aeb68d62b2817b.16 at distance 0.49km
[2016-

[2016-07-24 16:50] ltotsas commented on #691
inside the folders of the bot the username for example is "tarto", if i use the same username inside the web folder of the map config it does not work

[2016-07-24 16:50] gpires opened #694 "BUG - Unknown Pokestop - loop"
### Actual Behavior

[code]
### Steps to Reproduce
Running in Lisbon :D

### Other Information
OS: Win10
Git Commit: Last Dev

[2016-07-24 17:03] mercuriete opened #695 "travis cant pull submodules"
Something happen when travis is trying to pull a submodule (clone --recursive)
this probably happen because you are using ssh key instead of https or http autentication

### Expected Behavior
pull request ok

### Actual Behavior
travis is saying all pull  request are bad

### Steps to Reproduce
1) do a pull request
2) your pull request is rejected by travis

### Other Information

See this example

[2016-07-24 17:03] ssm34 opened #696 "Help me install somebody I did everything except I couldn't understand how to get to install protobuf"
What exactly did they mean by "PATH" on the Readme in the protobuf section for Windows

[2016-07-24 17:05] ahangchen commented on #602
OK, thanks.

[2016-07-24 17:05] mercuriete commented on #696
windows path environmental variable:
http://www.computerhope.com/issues/ch000549.htm

google is your friend :)

enjoy the bot :smile:

[2016-07-24 17:07] JohanJu commented on #643
It seems to continue working for me if i press enter. Maybe it doesn't wake up from sleep.
Can you say what OS you are on, maybe it's scheduler issue?

[2016-07-24 17:10] JohanJu commented on #676
Maybe its a scheduler issue, try set the priority of python.exe to high

[2016-07-24 17:11] MikeDX commented on #694
Duplicate of #643 and #676

[2016-07-24 17:11] GreWull commented on #583
See this open issue as well:

https://github.com/PokemonGoF/PokemonGo-Bot/issues/452

[2016-07-24 17:13] MikeDX commented on #658
duplicate of #643 #694 and others

[2016-07-24 17:22] vanZeben commented on #643
@JohanJu OS seems to be irrelevant on this. I've run it on CentOS/OSX/Windows and all yield the same result..

Also note that some people are claiming duplicates of this, but I dont think they are quite the same. Alot of the "duplicates" are people actually finding the pokestops and it just walking between them without collecting anything. This one it doesnt even find the pokestops, it just search

[2016-07-24 17:25] JohanJu commented on #643
@vanZeben You are right, I got another bug where the bot just stops and a enter press woke it up.

[2016-07-24 17:28] boriss579 commented on #534
So if I write -
"release_under_cp": 2500,
        "release_under_iv": 0.95,
        "cp_iv_logic": "and"

It will keep only high IV Pokémon and release all others no matter their CP right?
(unless I manage to find a Pokémon with 2500+ CP yes :P)

[2016-07-24 17:30] gpires commented on #658
Could be session that ends? I'm using Google to auth

[2016-07-24 17:33] ssm34 commented on #696
Thanks for the help. I put the .exe in the PATH folder and still nothing. Could you walk me through the whole process if possible?

[2016-07-24 17:34] BartKoppelmans opened #698 "Feature request: Logging to a file"
_Not an issue, just a quick question/feature request:_

Is it, or could it be, possible to log the log to a file. Right now it has a limited log on the command prompt, but I would like to leave it running for a night or so. Then, in the morning, I would like to see what it has done or found.

Cheers,
Bart

[2016-07-24 17:47] T3hKonijn opened #699 "pokecli does not respect --config parameter"
### Expected Behavior

pokecli should use filename passed from --config parameter as the README suggests "You need modify config.json (config.json.example for example) then pokecli.py --config config.json"

### Actual Behavior

Uses config.json regardless of value passed

### Steps to Reproduce

copy config.json to somethingelse.json run with pokecli --config somethingelse.json

### Other Informat

[2016-07-24 17:48] d0t1q commented on #698
If you're just running it via linux just redirect the output

./app.py [options(using -v] | egrep  '(Walking|Found|appeared|vanished|Caught)' > output.log

easy walk around until we get actual log output

[2016-07-24 17:52] #699 closed

[2016-07-24 17:53] T3hKonijn commented on #699
Sorry I'm tired I was passing .js not .json...

[2016-07-24 17:55] ckrmml commented on #669
Which would make sense if the pokemon would be kept, not if it gets released.
1) capture
2) check release config
3) release or keep
4) evolve if kept
is the way this would make any sense.

[2016-07-24 17:57] d0t1q opened #700 "[Suggestion] Dont attempt to catch pokemon if softbanned"
Noticed that almost all the pokemon the bot is trying to catch are vanishing and I assume its because my location changed when I started the app so I'm soft banned.

Might be a good idea that after 3-4 pokemon vanish to stop attempting to catch pokemon for X minutes

[2016-07-24 18:01] zjr8 commented on #689
check your config json file - somehow when i updated to the latest push - my file picked up an extra @gmail.com at the end of the account name causing it to fail out with that same error.

[2016-07-24 18:05] unequaled86 commented on #676
#701 its fixed maybe

[2016-07-24 18:08] HeIix opened #702 "[Feature Request] Top Catches"
I think it would be pretty neat if this bot would keep track of the best Pokemon caught, organized by CP, IV or both and exported into a simple text file.  I imagine implementing this into the web interface wouldn't be too much of a jump from just a basic log.  Thanks.

[2016-07-24 18:11] koper89 opened #703 "[Feature Request] Restart bot after X minutes,"
Having a possiblitiy in settings to restart the bot every X minutes would be really nice. Or after Xminutes after last catched pokemon.

[2016-07-24 18:14] zx900930 commented on #696
@ssm34

1. You need to unzip the protoc-3.0.0-beta-4-win32.zip and add the folder path (for example: `C:\protoc-3.0.0-beta-4-win32\bin` , make sure the protoc.exe is in the bin folder )to the windows PATH environmental variable.

2. Reopen Command prompt window and done.

[2016-07-24 18:23] MikeDX commented on #703
Why would you want to do that?

[2016-07-24 18:24] koper89 commented on #703
To mitigate crashing risk.

[2016-07-24 18:28] MikeDX commented on #703
If the script crashes, it has crashed and the process is ended, so it cannot restart itself.

[2016-07-24 18:44] Aphoh commented on #646
Any solution for this?

[2016-07-24 18:52] jessebinken commented on #703
I think what he means is to mitigate the "Unknown Pokestop" loop with this feature request.

[2016-07-24 18:52] silelmot commented on #688
still the same

this is what i did:

git clone -b dev https://github.com/PokemonGoF/PokemonGo-Bot
cd PokemonGo-Bot
sudo pip install -r requirements.txt --upgrade
mv config.json.example config.json
 mv release_config.json.example release_config.json
*(edited config.json with my loginfiles and api)
python pokecli.py

[2016-07-24 18:53] MikeDX commented on #703
I think so too, but that would be an awful way of achieving the fix if so.

[2016-07-24 18:54] mercuriete commented on #695
Sorry, duplicate of this bug:

https://github.com/PokemonGoF/PokemonGo-Bot/issues/690

[2016-07-24 18:57] surfaace commented on #690
fixed in merge #708

[2016-07-24 18:57] MikeDX opened #710 "[ENHANCEMENT]: Dont revisit a pokestop recently visited < 5 minutes ago"
### Expected Behavior

Ignore pokestop visited since 5 minutes ago

### Actual Behavior

Bot tries to re-visit a pokestop since 5 minutes ago if it is the "furthers away" set by the steps config value.

### Steps to Reproduce

Run bot in location with two pokestops a fair distance apart and large step count

[2016-07-24 18:57] bimahp opened #711 "[BUG] Cannot change to pokeball farm mode"
[x] Out of pokeballs...
[x] Farming pokeballs...
[x] Found pokemon at distance 350.525627638m
[#] Walking from (-33.86571104319641, 151.20992542865255) to (-33.86571104319641, 151.20992542865255) for approx. 0.0 seconds
[#] Finished walking to (-33.86571104319641, 151.20992542865255)
[x] Walked to Pokemon
[#] A Wild Zubat appeared! [CP85]
[x] Out of pokeballs...
[x] Farming pokeballs...
[#] Walkin

[2016-07-24 18:58] LostDGod commented on #703
Ideally every bug would be solved but unpredictable crashes can still happen anytime (so far it hasn't happened to me).
To solve this you could easily make an autohotkey script that checks for the process every X minutes and if the process doesn't exist, it starts it anew.

[2016-07-24 19:09] phupabegim opened #713 "[ENHANCEMENT] Make client<>server token refresh so session doesnt timeout"
When I start the bot at my location it is good for about 1 hour, going to PokeStops catching releasing Pokémon but then once that hour or so elapses it just walks round for hours on end (currently 7 hours) doing nothing.

[2016-07-24 19:12] phupabegim commented on #711
To speed it up switch to `farm` mode, that helped in my case. Once I had built up balls then I switched back to `all` mode and now it does both weirdly.

[2016-07-24 19:13] phupabegim commented on #710
I have the same issue. My bot is staying at the same location revisiting the same PokeStop over 10 times now.

[2016-07-24 19:15] MikeDX commented on #713
The session token expires after about an hour (sometimes less, sometimes more). After that it needs to re-login to continue. Your only option at the moment is to restart it.

[2016-07-24 19:15] Diskmaster commented on #690
Thanks.

[2016-07-24 19:15] #690 closed

[2016-07-24 19:18] phupabegim commented on #703
Use `crontab`.

`*/5 * * * * timeout 5m python /home/user/bot/pokecli.py`

[2016-07-24 19:19] phupabegim commented on #713
Oh, I assumed that it was still running due to the walking notices. Is that not the case then?

[2016-07-24 19:21] phupabegim commented on #689
Are you running this on a remote VPS that you haven't logged in to Google from previously? I had the same message and that was my issue, there was an e-mail from Google that I hadn't noticed containing a link to click to allow the login.

[2016-07-24 19:23] th3w4y commented on #413
more improvements #697

[2016-07-24 19:25] #698 closed

[2016-07-24 19:32] Aiyubi commented on #691
can you show the python output and userdata.js ?

[2016-07-24 19:33] Fak3Tales commented on #703
i have mine in a service in ubuntu and then restart the service every hour via cron.

[2016-07-24 19:36] boriss579 opened #715 "[suggestion] Don't catch pokemon lower then X% IV"
### Expected Behavior
Config the bot to ignore and not catch a Pokémon with a lower IV then specified in settings.
Catch only if IV>0.85 - the bot will try to catch only Pokémon with that parameter and ignore all others.
Useful for player who don't want to waste pokeballs and rake extreme amount of candy

### Actual Behavior
The bot try to catch every Pokémon (if not on the ignore list) and keep/e

[2016-07-24 19:39] sebyx07 commented on #711
there is no farm mode on the master branch
i have problems when i try to run from the dev branch, the params parsing is not working

[2016-07-24 19:41] shaosh commented on #610
I uninstall the Python 2.7.6, Python 3.2 and Python 3.3, and install the Python 2.7.12, all the problems solved.

[2016-07-24 19:41] #610 closed

[2016-07-24 19:43] bimahp commented on #711
yeah param parsing not working on my mac too but runs well on windows, dunno what happened.
there is no farm mode on master, but i think farm is working fine on dev branch now

[2016-07-24 19:48] Aiyubi commented on #688
if you open the requirements.txt in the first line you can see a hash value in the middle of the link.
Delete everything including the @ but not the # and after.
This should make it pull the up-to-date version when you do "sudo pip install -r requirements.txt --upgrade"

[2016-07-24 19:57] koper89 commented on #703
Yep I think I'll make cron to handle those. I think this issue can be deleted.

Regards,
koper89

[2016-07-24 20:00] jle3 commented on #715
You can already do this with release_config.json

{
	"any": {
		"min_cp": 9,
		"min_iv": 0.85,
		"cp_iv_logic": "or"
	},
	"My Pokemon": {
		"min_cp": 0,
		"min_iv": 0,
		"cp_iv_logic": "or"
	}
}

[2016-07-24 20:05] MikeDX commented on #713
It's still moving around, but it cant perform any tasks as the session is expired (but isnt aware of it)

[2016-07-24 20:06] boriss579 commented on #715
But the bot will still catch the Pokémon first no?

[2016-07-24 20:08] Niespo commented on #646
SOLVED!

I had to remove pgoapi folder from project's root directory. I guess that has to link this old api version instead of new one which place in python lib dir

[2016-07-24 20:17] alexanderrock opened #716 "Map behavior when different bots are active"
I've started 4 bots and started the map.
All 4 are displayed but i have to manually zoom to them, under the Trainer" section it should defineable which one to follow and also in the config of the "web" define a start/default trainer to follow

[2016-07-24 20:18] gpires commented on #713
@MikeDX Its possible to check if the season is expired?
Then just needs to refresh the session.

[2016-07-24 20:21] MikeDX commented on #716
This is the wrong repo to report this in (probably) as the Web interface is now in a different repo.

[2016-07-24 20:28] phupabegim commented on #713
Or just renew it every hour anyway.

[2016-07-24 20:28] Fak3Tales commented on #703
@koper89 i think you can mark this as closed.

[2016-07-24 20:29] #703 closed

[2016-07-24 20:38] skydrome commented on #711
you can try this to speed up switching back to capturing, instead of waiting for a full inventory it waits for at least 40 pokeballs then continues
https://github.com/skydrome/PokemonGo-Bot/commit/9a2b4c1a47818ee298258d9c9f60d09659f4a78c

[2016-07-24 20:41] skydrome commented on #693
https://github.com/PokemonGoF/PokemonGo-Bot/issues/711#issuecomment-234800717

[2016-07-24 20:42] TheSavior opened #717 "Proposal: Stepper Refactor"
We have almost refactored everything we need to start implementing the [behavior tree proposal](https://github.com/PokemonGoF/PokemonGo-Bot/issues/142). The biggest hurdle we have left (that I know of) is the current stepper.

Right now the stepper keeps track of the spiral it needs to walk, and moves towards the center of each part the spiral, and then calls work_on_cell for each cell. In order f

[2016-07-24 20:42] bleachhun opened #718 "'Your request was denied.' geopy.exc.GeocoderQueryError: Your request was denied."
### Expected Behavior

Login

### Actual Behavior

$ python pokecli.py
[2016-07-24 22:39:55] [x] PokemonGO Bot v1.0
[2016-07-24 22:39:55] [x] Configuration initialized
Traceback (most recent call last):
  File "pokecli.py", line 219, in <module>
    main()
  File "pokecli.py", line 205, in main
    bot.start()
  File "C:\Users\kuros_000\Downloads\game\pok\pokbot2\PokemonGo-Bot\pokemongo_bot\__init

[2016-07-24 20:49] solderzzc commented on #717
The walker is hardly extenable. I agree the refactor. We may need more input or start ?

[2016-07-24 20:52] reddivision commented on #717
just to be clear, Spiral Walker is what's actually controlling the walk patterns/logic, in this case? `walk_towards` is just a dummy "I'm here, I'm told to go there, I go there" class?

[2016-07-24 20:57] reddivision commented on #717
I'm not well-versed enough in python to know off the top of my head, but would it be a good idea/possible to implement a factory pattern to enable custom class creation based off an inheritance heirarchy that has the "walk_towards" functionality baked in? then someone could config their bot to load the default walker, or someone could create a new walker class and config the bot to load that?

[2016-07-24 21:00] TheSavior commented on #717
@reddivision That is correct.

The biggest change of this proposal though isn't the splitting apart of those two things. The biggest change is that the stepper won't walk all the way to the end goal on each call. It will be called more frequently and be expected to take a few steps in the correct direction before returning control to the rest of the program.

Right now, the bot essentially says th

[2016-07-24 21:01] TheSavior commented on #717
@reddivision The approach we will be taking to let people configure different types of walkers they want to use is outlined in the behavior tree proposal: #142

[2016-07-24 21:05] MikeDX commented on #717
Can I suggest we use the tsp package for this https://pypi.python.org/pypi/tsp

From our starting location (wherever the bot starts) we should search the map around us (based on max steps) to find all the pokestops with the distance limit

then visit each one based on the solve() method of tsp

[2016-07-24 21:08] TheSavior commented on #717
@MikeDX I think something like tsp is good, but out of scope for this refactor. This refactor would enable us to replace the spiral walker with something that uses tsp, and with this refactor would have no impact on any other parts.

The ideal outcome of this refactor is to have no behavior change, but set ourselves up for better behavior modifications after.

[2016-07-24 21:12] MikeDX commented on #717
Sorry, I had assumed foolishly of course that the walk_towards was already independent and could read the 'next stop' from the tsp.solve() data.

I'll let you guys handle this refactor, whilst I go see if i can fix this blasted login expiry bug :)

[2016-07-24 21:14] reddivision commented on #717
Reading through the items in the other proposal, but, ultimately, I believe we're aiming for the same thing, so +1 from me.

[2016-07-24 21:20] nvhk commented on #691
Yes, the same problem. my config is correct.

 [24/Jul/2016 23:06:33] code 404, message File not found
 [24/Jul/2016 23:06:33] "GET /location-xqsdvhk1.json HTTP/1.1" 404 -
 [24/Jul/2016 23:06:33] code 404, message File not found
 [24/Jul/2016 23:06:33] "GET /catchable-xqsdvhk1.json HTTP/1.1" 404 -

[2016-07-24 21:26] alexanderrock opened #722 "Item Filter not working"
I've defined an itemfilter in the config file for 101-104 but they are not thrown away (no message about that appeared).
im just passing everyting with the config file pokecli.py -cf config.json an no other arguments

[2016-07-24 21:28] danny95djb commented on #718
Have you input your api key in the config.json and enabled google maps geocoding api?

[2016-07-24 21:31] Aiyubi commented on #691
if you want help I will need:
* "ls" in the directory to see what files
* the userdata.js to see what username is written in there
* the console output to see what filename it is failing on

If you want to check yourself - it should always be the same.

As for the last report here it should be:
* a file named "location-xqsdvhk1.json" in the web directory
* the user "xqsdvhk1" in the userdata.js
*

[2016-07-24 21:34] th3w4y commented on #413
more improvements #721

[2016-07-24 21:36] TCB13 commented on #142
If you really let the config be JSON files it would be a very nice and welcome addition!! Other older (XML?) bulkier / more complex formats are just not worth it.

[2016-07-24 21:36] bleachhun commented on #718
Google Maps JavaScript API Enable
Google Maps Geocoding API Enable
Google Maps Geolocation API Enable

[2016-07-24 21:41] surfaace commented on #415
condition statement updated in #477

[2016-07-24 21:41] #415 closed

[2016-07-24 21:42] silelmot commented on #688
i did so... Requirements already up-to-date :(

still the same

when i got the git 10h ago without any specification like dev/master/stable this worked fine.
but there was no web-folder in this version, and so i tried the dev and master ones... now nothing workes anymore

[2016-07-24 21:43] nvhk commented on #691
Ok, problem solved.
If i use gmail account, i need put in userdata.js my whole email adress name@gmail.com

[2016-07-24 21:47] ltotsas commented on #691
well, as i have played with the username the following results appear.
for start i had the same username as inside the bot folder aka "larrougos@gmail.com"
var users = ["larrougos@gmail.com"];
the errors i got was :
127.0.0.1 - - [24/Jul/2016 19:30:46] code 404, message File not found
127.0.0.1 - - [24/Jul/2016 19:30:46] "GET /location-larrougos.json HTTP/1.1" 404 -
after that i tried to remove th

[2016-07-24 21:49] surfaace commented on #512
Please update with git commit version if issue persists

Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-24 21:50] surfaace commented on #368
not a code issue

[2016-07-24 21:50] #368 closed

[2016-07-24 21:52] surfaace commented on #273
catching pokemon in dev branch f1933d3089b340392780da8fc9356e84e2fa2bf8

[2016-07-24 21:52] #273 closed

[2016-07-24 21:53] #646 closed

[2016-07-24 21:55] MikeDX commented on #710
I think this will be resolved with the new walker class, so I guess we have to just cope with it for now. Maybe do what I did and move your bot to a location with a much higher density of pokestops

[2016-07-24 21:55] surfaace commented on #540
Item_filter works by    "item_filter": "101,103,201,701" in commit f1933d3089b340392780da8fc9356e84e2fa2bf8
After PR #638 is merged both "item_filter": "101,103,201,701" and "item_filter": ["101","103","201","701"] will work

[2016-07-24 21:55] #540 closed

[2016-07-24 21:56] surfaace commented on #594
Please clarify if issue occures with altest dev branch

[2016-07-24 21:57] #620 closed

[2016-07-24 22:00] surfaace commented on #651
Please confirm if issue persists with commit ec1ba9b8c914ddb914e4901b632556ad840ccf42 as changes was made to code related to this issue

[2016-07-24 22:01] surfaace commented on #722
item_filter works accordingly, please see PR #638 which explains why it 'stopped' working

[2016-07-24 22:01] #722 closed

[2016-07-24 22:03] surfaace commented on #718
Related to Google Maps API Geocoding, not bot code

Generate a Google maps API key and enter it in config.json

[2016-07-24 22:03] #718 closed

[2016-07-24 22:05] MEGAMERICAN commented on #717
One thing I would love to see is the ability to import a list of GPS coordinates to be used as waypoints and I see you kind of have that proposed in #142. I live in a city with a lot of lakes that have paths around them and the current walking system is terrible near water.

[2016-07-24 22:06] surfaace commented on #710
actually its not a 'bug' but more of a enhancement as there currently is no option or code that should prevent this.

Adding it as enhancement

[2016-07-24 22:09] TheSavior commented on #717
@MEGAMERICAN That's the plan. Instead of a SpiralWalker we can have a WaypointWalker or a DestinationWalker or a WanderWalker. The code for that will be able to be completely separate from everything else.

[2016-07-24 22:10] surfaace commented on #7
Human walking logic - Done

[2016-07-24 22:10] surfaace commented on #7
All suggestions has been added in 'TODO' on readme.md file

[2016-07-24 22:10] #7 closed

[2016-07-24 22:11] surfaace commented on #710
duplicate of #10

[2016-07-24 22:11] #710 closed

[2016-07-24 22:12] #12 closed

[2016-07-24 22:13] tonz134 commented on #512
fixed using latest DEV version.

[2016-07-24 22:13] surfaace commented on #689
2-step is not yet supported, please see issue #16 which discribes how to get passed it

[2016-07-24 22:13] #689 closed

[2016-07-24 22:13] bleachhun commented on #718
Generate new Browser Google Maps api:
AIzaSyCbjKQM2S4fMGfDOSk4yeHGe7XHPUNss4g

Not Working

[2016-07-24 22:14] MikeDX commented on #710
How can this not be a bug just because there is no code to prevent it? You could apply that logic to all bugs! It is a bug because the bot should not do it.

[2016-07-24 22:14] kilabyte commented on #691
Ive tried all the options above. Ive put my gmail email into the array and i still get...
![screen shot 2016-07-24 at 3 13 48 pm](https://cloud.githubusercontent.com/assets/487948/17086843/3cd8f910-51b1-11e6-953a-3957e7ca1a13.png)

I can't see to find any file that has the location-XXXX or the catchable-XXXX. Am i suppose to have debug mode ON on the bot?

[2016-07-24 22:14] surfaace commented on #17
merged in #618

[2016-07-24 22:14] #17 closed

[2016-07-24 22:16] surfaace commented on #55
when 'interrupted' suggestion would to print startup details:

[2016-07-24 23:45:01] [#] Bag Storage: 281/350
[2016-07-24 23:45:01] [#] Pokemon Storage: 158/250
[2016-07-24 23:45:01] [#] Stardust: 122635
[2016-07-24 23:45:01] [#] Pokecoins: 0
[2016-07-24 23:45:01] [#] PokeBalls: 33
[2016-07-24 23:45:01] [#] GreatBalls: 17
[2016-07-24 23:45:01] [#] UltraBalls: 13
[2016-07-24 23:45:01] [#] -- Level:

[2016-07-24 22:17] MikeDX commented on #713
@gpires yes, since the PokemonGo-Map repo does exactly this, it gets the session token lifetime at login.

@phupabegim no that is just a dirty hack way of doing it.

[2016-07-24 22:19] surfaace commented on #70
is this still viable? taking in account if something like #55 is added, you can 'interrupt' or some other key combination to show your stats /inventory status

[2016-07-24 22:19] surfaace commented on #72
color added

[2016-07-24 22:19] #72 closed

[2016-07-24 22:20] #74 closed

[2016-07-24 22:22] #120 closed

[2016-07-24 22:24] surfaace commented on #76
@dominikue could you assist here since you are already working on item filtering?

[2016-07-24 22:24] surfaace commented on #344
@dominikue could you assist here since you are already working on item filtering?

[2016-07-24 22:27] surfaace commented on #82
function added

[2016-07-24 22:27] #82 closed

[2016-07-24 22:28] surfaace commented on #88
@aconite33 could you follow up on this, or confirm if it has been implemented please?

[2016-07-24 22:28] bleachhun commented on #718
Okay Work API.

[2016-07-25 00:28:30] Login Error, server busy

[2016-07-24 22:29] surfaace commented on #92
#88

[2016-07-24 22:29] #92 closed

[2016-07-24 22:30] #93 closed

[2016-07-24 22:33] surfaace commented on #100
please confirm if this issue persists in latest DEV branch

[2016-07-24 22:34] tonz134 commented on #713
This is my biggest issue right now :<

[2016-07-24 22:34] surfaace commented on #103
its better for bot to close instead of running with an open session just because if something is tracked

[2016-07-24 22:34] #103 closed

[2016-07-24 22:35] surfaace commented on #119
it was fixed at some point in DEV branch

[2016-07-24 22:35] #119 closed

[2016-07-24 22:36] #146 closed

[2016-07-24 22:37] surfaace commented on #179
good function added with probability in PR #618

[2016-07-24 22:37] #179 closed

[2016-07-24 22:39] surfaace commented on #205
@seadog007 please try again to reach us from slack so this can be handled

[2016-07-24 22:39] #208 closed

[2016-07-24 22:40] surfaace commented on #231
Evolve function added dd2b11af77f3546c204d0799dfe04becf7394ba1

[2016-07-24 22:40] #231 closed

[2016-07-24 22:43] surfaace commented on #252
was fixed at some point, working in latest DEV branch

[2016-07-24 22:43] #252 closed

[2016-07-24 22:43] #258 closed

[2016-07-24 22:44] #270 closed

[2016-07-24 22:44] surfaace commented on #275
loginservers was probably overloaded.

[2016-07-24 22:45] surfaace commented on #280
issue was fixed at some point in dev. also config.json file is now used

[2016-07-24 22:45] #280 closed

[2016-07-24 22:47] surfaace commented on #281
master branch closed, use stable or dev

[2016-07-24 22:47] #281 closed

[2016-07-24 22:48] surfaace commented on #297
IV implemented

[2016-07-24 22:48] #297 closed

[2016-07-24 22:52] surfaace commented on #325
web development is now done at https://github.com/OpenPoGo/OpenPoGoWeb for example

[2016-07-24 22:52] #325 closed

[2016-07-24 22:53] surfaace commented on #338
Please clarify if issue still persists for you with latest dev

[2016-07-24 22:55] clavat commented on #558
Better solution is: Initial transfer should use the "release_config.json" rules !

[2016-07-24 22:55] Devsome commented on #691
I got the same problem as @kilabyte . I can't find any of location-NAME or catchable-NAME in the folder.

[2016-07-24 22:57] surfaace commented on #347
This this has been merged at some point.

[2016-07-24 22:57] surfaace commented on #348
Please clarify if issue still persists for you with latest dev

[2016-07-24 22:58] surfaace commented on #349
This is in the todo list in README file

[2016-07-24 22:58] #349 closed

[2016-07-24 22:59] #361 closed

[2016-07-24 23:00] fr1tzz opened #729 "Safer Way to store Account information."
Is there a way to use the bot without storing my google account information in plain text? This seems very insecure.

[2016-07-24 23:00] surfaace commented on #366
How long has the bot been running for before this occures? Above 1h?

[2016-07-24 23:00] gpires commented on #338
Its Fixed. Thanks

[2016-07-24 23:00] surfaace commented on #370
web support is now a seperate project

[2016-07-24 23:00] #370 closed

[2016-07-24 23:01] surfaace commented on #348
#338 confirmed fixed

[2016-07-24 23:01] #348 closed

[2016-07-24 23:02] surfaace commented on #375
fixed in dev

[2016-07-24 23:02] #375 closed

[2016-07-24 23:03] surfaace commented on #382
please confirm if issue persists

[2016-07-24 23:04] gmkbenjamin commented on #696
Weird. It was working fine before even without protobuf installed now it complains I don't have it installed even though I do and I have it in PATH. I can even execute it directly from command prompt.

Traceback (most recent call last):
  File "pokecli.py", line 39, in <module>
    from pokemongo_bot import logger
  File "C:\Users\user\Desktop\pg\PokemonGo-Bot\pokemongo_bot\__init__.py", line 14,

[2016-07-24 23:04] surfaace commented on #385
please confirm if issue persists

[2016-07-24 23:05] gmkbenjamin commented on #729
If you are using Google account use 2 factor authentication and app specific password to improve security for now until there's a better way to store account information.

[2016-07-24 23:07] surfaace commented on #423
default values lowered and release_config.json is now used. please report new issue if you still have problems

closing due to alot of changes has been made to function

[2016-07-24 23:07] #423 closed

[2016-07-24 23:08] #514 closed

[2016-07-24 23:08] fr1tzz commented on #729
Thank you I will do this.

[2016-07-24 23:08] #729 closed

[2016-07-24 23:09] surfaace commented on #434
please clarify if issue persist, also pull latest git version to test with

[2016-07-24 23:13] surfaace commented on #517
will be fixed in #638

[2016-07-24 23:13] #511 closed

[2016-07-24 23:14] surfaace commented on #535
-it requires CP input

[2016-07-24 23:14] #535 closed

[2016-07-24 23:15] #534 closed

[2016-07-24 23:20] surfaace commented on #510
cp option is moved to release_config.json

[2016-07-24 23:21] surfaace commented on #510
not to release any pokemons:
        "release_under_cp": 0,
        "release_under_iv": 0,

[2016-07-24 23:22] surfaace commented on #510
you can specify specific configs with pokecli.py --cf yourconfig.json

[2016-07-24 23:22] #510 closed

[2016-07-24 23:23] surfaace commented on #532
please provide git commit

Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-24 23:23] LeaklessGfy opened #731 "Add test if user has the pokémon"
### Expected Behavior
The user can specified if he want to keep the pokemon (whatever CP or IV ) if this one isn't in his hand

### Actual Behavior
Transfer pokémon if he is under CP or IV specified, same if the user don't have this one

What do you think ?

[2016-07-24 23:24] surfaace commented on #537
Yes its planned for it, also its in README.md so closing this

[2016-07-24 23:24] #537 closed

[2016-07-24 23:25] #539 closed

[2016-07-24 23:26] surfaace commented on #551
please open new issue with details according to template

[2016-07-24 23:26] #551 closed

[2016-07-24 23:27] surfaace commented on #558
@dmateusp maybe something for you?

[2016-07-24 23:28] surfaace commented on #566
please check with latest DEV branch and paste git commit if issue persists

[2016-07-24 23:29] #590 closed

[2016-07-24 23:30] #599 closed

[2016-07-24 23:30] #602 closed

[2016-07-24 23:31] surfaace commented on #609
location is set in config.json

[2016-07-24 23:31] #609 closed

[2016-07-24 23:31] leadboots5 opened #733 "Issue starting(reading config)"
### Expected Behavior
The bot to start, or give a helpful error message if i was doing something wrong.

### Actual Behavior
Errors out with:

Traceback (most recent call last):
  File "pokecli.py", line 222, in <module>
    main()
  File "pokecli.py", line 199, in main
    config = init_config()
  File "pokecli.py", line 63, in init_config
    load.update(json.load(data))
  File "/System/Library/

[2016-07-24 23:31] surfaace commented on #617
should be updated now

[2016-07-24 23:31] #617 closed

[2016-07-24 23:33] HeIix commented on #733
I am also having this same issue with the latest dev branch.  Thanks.

[2016-07-24 23:33] surfaace commented on #676
duplicate of #643, maybe fixed in #701

[2016-07-24 23:33] #676 closed

[2016-07-24 23:33] surfaace commented on #694
duplicate of #643, maybe fixed in #701

[2016-07-24 23:33] #694 closed

[2016-07-24 23:33] surfaace commented on #658
duplicate of #643, maybe fixed in #701

[2016-07-24 23:33] #658 closed

[2016-07-24 23:34] surfaace commented on #643
maybe fixed in #701 , please confirm

[2016-07-24 23:36] SteffanLong commented on #733
You're missing a comma in the config.json most likely.

[2016-07-24 23:36] LeaklessGfy commented on #733
Can we see your config.json ?

[2016-07-24 23:38] HeIix commented on #733
Wow you are right, not sure how I removed a comma.  I appreciate your time, sorry it was such a simple fix.

[2016-07-24 23:39] #662 closed

[2016-07-24 23:39] LeaklessGfy commented on #733
To close :)

[2016-07-24 23:39] SteffanLong commented on #733
There was a brief moment where the example was missing a comma, not your fault. :)

[2016-07-24 23:40] surfaace commented on #663
please test with latest dev branch, also paste in git commit if issue persist

[2016-07-24 23:42] surfaace commented on #693
PR #655, issue #660

[2016-07-24 23:42] #693 closed

[2016-07-24 23:43] surfaace commented on #711
PR #655, issue #660

[2016-07-24 23:43] #711 closed

[2016-07-24 23:44] surfaace commented on #572
@earthchie please have a look at this

[2016-07-24 23:44] MikeDX commented on #713
Currently working on a fix for this as it is driving me insane :)

[2016-07-24 23:45] #733 closed

[2016-07-24 23:47] ro-puente opened #734 "Giving coordinates from PokéVision"
I've noticed that if I pass PokéVision coordinates, sometimes the bot walks away from the point given and don't catch the pokemon I want.

Given the walking algorithm this bot is using, is there a hint of where should I place the marker to make the bot walk in that direction?

[2016-07-24 23:48] surfaace commented on #673
use reporting template

[2016-07-24 23:48] #673 closed

[2016-07-24 23:48] #682 closed

[2016-07-24 23:49] surfaace commented on #695
fixed in merge #708

[2016-07-24 23:49] #695 closed

[2016-07-24 23:49] surfaace commented on #700
#656

[2016-07-24 23:49] #700 closed

[2016-07-24 23:50] solderzzc commented on #660
Commented on #655. We was on CI situation yesterday, now CI and PullApproval works.

[2016-07-25 00:00] ReqMid commented on #558
@clavat agree (y)

[2016-07-25 00:13] MikeDX commented on #713
Submitted Pull request #735

[2016-07-25 00:14] leadboots5 commented on #733
mine has proper commas:

{
    "auth_service": “ptc”,
    "username": “username”,
    "password": “pass”,
    "location": "43.number,-89.othernumber",
    "gmapkey": "keyyyyyyy",
    "max_steps": 5,
    "mode": "all",
    "walk": 1.9,
    "debug": false,
    "test": false,
    "initial_transfer": 0,
    "location_cache": false,
    "distance_unit": "km",
    "item_filter": “101,701”,
    "evolve_a

[2016-07-25 00:18] jtara1 opened #736 "[Question] How to enter in our own Google Maps API key ?"
### Expected Behavior

### Actual Behavior

### Steps to Reproduce

### Other Information
OS:
Git Commit: (run 'git log -n 1 --pretty=format:"%H"' and paste it here)

[2016-07-25 00:22] leadboots5 commented on #736
Depends on what version you are running.
Maybe -k
Maybe config
or changing the code

[2016-07-25 00:24] jtdroste commented on #736
Please fill out all the required information (such as version of the bot you are running).

[2016-07-25 00:24] #736 closed

[2016-07-25 00:39] leadboots5 opened #738 "Issue starting(reading config)"
### Expected Behavior
The bot to start, or give a helpful error message if i was doing something wrong.

### Actual Behavior
Errors out with:

Traceback (most recent call last):
File "pokecli.py", line 222, in
main()
File "pokecli.py", line 199, in main
config = init_config()
File "pokecli.py", line 63, in init_config
load.update(json.load(data))
File "/System/Library/Frameworks/Python.framework/V

[2016-07-25 00:48] TheSegfault opened #739 "Login Error, server busy"

[2016-07-25 00:50] TheSegfault commented on #739
Server busy error + unable to set an app password because no 2 step auth activated on my gmail.

:/

[2016-07-25 00:53] TheSegfault commented on #739
My bad I'm an idiot.

[2016-07-25 00:53] #739 closed

[2016-07-25 01:01] iDervy opened #740 "Transfering all pokemon regardless of Config/Issue found - devs need to change release_config.json"
Release_Config.json:
[code]

Config.json:
[code]

Bot parser:

[code]

I've already set it so it only releases pokemon if it's either <100 CP, OR <0.1 IV. However, it's doing it to everything. I have a feeling that huge list of pokemon that's in the current release.config has messed it up. This was not an issue with previous builds.

EDIT:  Yup. It was as I thought.

[code]

I went into the releas

[2016-07-25 01:04] TheSegfault opened #741 "Got KeyError: 'player_data' from start"
Traceback (most recent call last):
  File "pokecli.py", line 197, in <module>
    main()
  File "pokecli.py", line 183, in main
    bot.start()
  File "/Users/Admin/xDev/PokemonGo-Bot/pokemongo_bot/__init__.py", line 31, in start
    self._setup_api()
  File "/Users/Admin/xDev/PokemonGo-Bot/pokemongo_bot/__init__.py", line 179, in _setup_api
    player = response_dict['responses']['GET_PLAYER']['p

[2016-07-25 01:06] aslafy-z commented on #741
Please search before posting an issue: [https://github.com/PokemonGoF/PokemonGo-Bot/search?q=player_data&type=Issues&utf8=%E2%9C%93](https://github.com/PokemonGoF/PokemonGo-Bot/search?q=player_data&type=Issues&utf8=%E2%9C%93)

[2016-07-25 01:16] solderzzc commented on #741
https://github.com/PokemonGoF/PokemonGo-Bot/pull/727
Will solve this.

Thanks @aslafy-z

[2016-07-25 01:27] TheSegfault commented on #741
My bad !

[2016-07-25 01:29] fedden commented on #738
Getting this too. 99% sure config files are correct..

Also are the commandline parameters not available anymore?

Thanks

[2016-07-25 01:32] TSM-EVO commented on #740
I couldn't agree more. Also, I'm not sure what the list is based on, but it's set to keep things like

    "Magikarp":     { "release_under_cp": 91, "release_under_iv": 0.8, "cp_iv_logic": "and" },

and fuckin' zubats and weedles and shit.

Pre-populating these values is fine, but the values will fill your bag up with garbage pokemon incredibly fast.

[2016-07-25 01:46] #741 closed

[2016-07-25 01:55] TSM-EVO commented on #532
I get the same issue, usually after 30 minutes of running the bot, it seems. I'll keep an eye on this and post updates here.

[2016-07-25 01:59] SteffanLong commented on #740
It's only an example. Set the values to whatever you want, or delete the specific Pokemon values entirely.

[2016-07-25 02:00] TSM-EVO opened #743 "[ENHANCEMENT] - Use Razz Berries."
### Expected Behavior
Bot encounters a pokemon
(possibly uses logic to determine catch chance)

Checks inventory for RazzBerry
(possibly include logic to check that the number of razzberries that'll remain is above a certain amount)
(ie, keep 5 razberries in case people want to use them manually at some stage)

Uses RazzBerry
Catches pokemon

This would have the benefit of giving a higher catch ch

[2016-07-25 02:08] Nihisil commented on #743
There is a pull-request that implement this feature

https://github.com/PokemonGoF/PokemonGo-Bot/pull/655

I have merged it to my local repository and it is working like a charm. I hope it will be merged to the dev soon, when author will resolve merge conflicts.

[2016-07-25 02:12] Nihisil commented on #738
`“` is not valid character, you can check your json here - http://jsonlint.com/

You need to use `"` instead.

[2016-07-25 02:32] sonontse commented on #594
`Traceback (most recent call last):
  File "pokecli.py", line 222, in <module>
    main()
  File "pokecli.py", line 213, in main
    bot.take_step()
  File "/var/www/html/public/123/pokemongo_bot/__init__.py", line 37, in take_step
    self.stepper.take_step()
  File "/var/www/html/public/123/pokemongo_bot/stepper.py", line 62, in take_step
    self._work_at_position(position[0], position[1], posi

[2016-07-25 02:43] doomrider666 opened #744 "[suggestion] pokestop farming"
anyway to use the code for just pokestop farming? i know --spinstop will do the pokestop, but im only really interested in farming the stops, not the pokemon itself.

[2016-07-25 02:47] MikeDX commented on #744
In your config.json, set "mode": "all" to "mode": "farm"

[2016-07-25 02:53] TSM-EVO commented on #532
`[2016-07-25 12:47:22] [#] Need to move closer to Pokestop
[2016-07-25 12:47:22] [#] Walking from (-33.865762, 151.190796) to (-33.864821, 151.192112) for approx. 39.00 seconds
[2016-07-25 12:48:32] [#] Finished walking
[2016-07-25 12:48:32] [#] Arrived at Pokestop
[2016-07-25 12:48:34] [#] Now at Pokestop: Unknown - Spinning...
[2016-07-25 12:48:41] [#] Found fort 67d0a962795d4a4781ca55e7e64da8d6

[2016-07-25 02:54] skyl1ne94 opened #745 "[TUTORIAL] How to run multiple accounts at the same time"
* Needs to be added to the README.md

## How to run multiple accounts at the same time
    Before u start with this, make sure you create a copy of the config file for a second account by typing
    "cp config.json.example config_acc1" in the Terminal. Fill in your details in the file "config_acc1"

    To actually make PokemonGo-Bot run multiple accounts, you can follow this tutorial:

    Linux: