[2016-08-25 15:18] r3pek commented on #4718
thx.... I open to ideas then ;) this is a fresh install...

[2016-08-25 15:21] r3pek commented on #4718
OK, mine is fixed too... pgoapi was too old ;)

[2016-08-25 15:47] sohje commented on #4704
I think it fixed after merge.

[2016-08-25 16:13] 4IbWNsis3S commented on #4597
TL;DR Bot doesn't emulate analytics actions of the app and a third party queues up bans for the app vendor. Timing and statistics don't actually matter till the bot properly emulates.

[2016-08-25 16:21] 4IbWNsis3S commented on #4673
I just use this. I haven't had time to reverse engineer the undocumented config system off python code.. The optimizer JSON seems to just duplicate other JSON but in a single object. A lot of the objects depend on other objects to be enabled and their execution order isn't documented so there is plenty of room for bad conflicting configs.

[code]

[2016-08-25 16:36] 4IbWNsis3S commented on #4693
"EvolvePokemon" in "tasks" already does exactly what you describe..

[2016-08-25 16:45] Calcyfer commented on #4704
You don't want to use snipe anyway, it will result in a ban, Confirmed with 4 different accounts.

[2016-08-25 16:55] Calcyfer commented on #4597
@4IbWNsis3S Good summary. In one word .. sensors. :)

[2016-08-25 17:10] mshi commented on #4387
Not sure if directly related, but after this incident, I think I'm banned. I'm getting "Failed to get game data from the server" for a few days now.

[2016-08-25 17:15] supergithubo commented on #4715
@pranavperfect you're bot is already the latest. Could you verify if the problem still happening on the latest update?

[2016-08-25 17:16] pranavperfect commented on #4715
It is releasing as i'm typing. Will update.

[2016-08-25 17:23] krishven commented on #4536
Anyone working on this issue? It would really help. Please

[2016-08-25 17:43] GrosCep commented on #4597
I completely agree with @willzetricksta

I was wondering last week why permabans were not instantaneous, as opposed to the softbans (old or new ones), suggesting that they probably needed to analyse some data to flag and ban accounts.
I never believed in the IP stuff, because I always botted from the same ip, and was always able to create a new account and bot for a few days. Plus, it's not forbid

[2016-08-25 17:46] MartinTerp commented on #4722
if you remove the "--rm" part of the docker run command, it wont "reset" every time, but just stop.
Then if you need to stop: docker stop BOTNAME, or start: docker start BOTNAME

[2016-08-25 17:53] MartinTerp opened #4729 "Dokcker - UpdateWebInventory create json files if dosnt exist"
### Short Description
UpdateWebInventory dosnt seem to create the json files, that it needs to write to, if i create a empty json file with content: `[]` it registers the inventory, but not player_stats ( i guess it expects the player_stats data to be in the file, so it can append )
Then we cant see lvl/xp on the web gui

### Possible solution
if the inventory.json file dosnt exist, create it with

[2016-08-25 18:46] jomarocas commented on #4114
Hi, They are not occurred, that Niantic see all open source project to detect the player that use the bot? If i programmer and i see my app use bots, how can i detect what bots are doing? i go to google and find pokemon bots, and i see this repo first, is obviously, i consider this repo need start private, Niantic see all comments that are you doing here, while you think how evade the restrictions

[2016-08-25 19:08] MartinTerp commented on #4729
maybe this is more a bug when i think about it.
recreate as bug or what do you guys say

[2016-08-25 19:10] RedViper9 commented on #3773
@jrjhealy I don't expect it would be a manditory task, but many people have noted that they bot around their home areas. In any case, there have been a number of requests for such a feature.

For your use, the "go home" function could walk you back to a particularly rich area in Santa Monica if your bot has wandered off, for example.

[2016-08-25 19:12] 4IbWNsis3S commented on #4597
I'm also pretty sure they use IP-geography or will very soon. I think g-maps already provides such data to API users.

Only solution is SOCKS5 or TOR or I2P with TLS stream support but then there is a major performance issue given the compression and encryption used in those protocols and the potential volume of traffic given this game's popularity.

[2016-08-25 20:16] maxprzemo commented on #4729
I got the same error https://github.com/PokemonGoF/PokemonGo-Bot/issues/4682#issuecomment-242310674

[2016-08-25 20:23] Rizbe commented on #4114
@jomarocas by that logic no one should use open source software, because everyone knows how it works, so it can be easily hacked right? Because the developers can see what the bot community is doing, they can't always implement a fix right away because it could impact another part of the game. By the time they implement a fix, the community is already doing something else. If Niantic can keep up w

[2016-08-25 20:25] Rizbe commented on #4114
Private repo is how you kill an open source project because you have to vet who has access and this causes you to lose a ton of support from the open source community. Because this is open, anyone can jump in and fix something if its broken or make a new feature when they want, that's the beauty of opensource, contribute when and what you want regardless of who you are.

[2016-08-25 21:19] macio525 opened #4736 "mapchat"
how to start that mapchat?

[2016-08-25 21:24] sohje commented on #4227
Merged, check it out guys.

[2016-08-25 22:11] Gobberwart commented on #3718
PR #4739

[2016-08-25 22:14] r3pek commented on #4718
just an update, occasionally i still get this error.... so, it's not  completely solved

[2016-08-25 22:28] Bilibox commented on #4736
go into the map-chat folder and open index.html. Use slack for questions like these so it doesnt bog up the real bugs/issues.

[2016-08-25 22:36] thereyrey commented on #4227
Really great! Thanks alot for filling the request :)

[2016-08-25 22:41] Gobberwart commented on #4729
Looks like a bug. Not sure where this file was originally created but appears not to be doing it now. PR to follow.

[2016-08-25 22:52] mjmadsen commented on #4700
Merged.

[2016-08-25 22:52] #4700 closed

[2016-08-25 22:59] Gobberwart commented on #4682
PR submitted #4740

[2016-08-25 23:07] dezayner opened #4741 "DeadlockWrap, TypeError: String or Integer object expected for key, unicode found"
### Expected Behavior

Bot running.

### Actual Behavior

Error message, see traceback below

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

http://pastebin.com/rGySE5GR

### Output when issue occurred

2016-08-26 05:51:22,707 [       cli] [INFO] PokemonGO Bot v1.0
2016-08-26 05:51:22,707 [       cli] [INFO] commit: not found
2016-08-26 05:51:22,723

[2016-08-25 23:10] Bilibox commented on #4741
I've added the full terminal output here http://pastebin.com/2QEd4g5H
commit: 5e50264e7644b007dff7e0e057375cc433c36805

[2016-08-25 23:11] oralunal commented on #3925
[code]

I'm using this in my config file. And it connects to websocket.

[2016-08-25 23:15] karloow102 commented on #4741
I have the same error.

2016-08-26 07:14:41,699 [       cli] [INFO] PokemonGO Bot v1.0
2016-08-26 07:14:41,707 [       cli] [INFO] commit: 5e50264e7644b007dff7e0e057375cc433c36805
2016-08-26 07:14:41,715 [       cli] [INFO] Configuration initialized
2016-08-26 07:14:41,716 [pokemongo_bot.health_record.bot_event] [INFO] Health check is enabled. For more information:
2016-08-26 07:14:41,716 [pokemon

[2016-08-25 23:20] Gobberwart commented on #4741
Same here.

[2016-08-25 23:22] Anakin5 commented on #4693
@hobbes3
The PokemonOptimizer tries, as much as possible, to not require static names and values from you since they tend to change over time.

However you achieve what you describe by setting evolve=false in all your "keep" condition, and then have another with names=[your list] and evolve=true.

About you comment on moves, what do you mean exactly ? what decision are you taking manually that the

[2016-08-25 23:23] orchid666 opened #4743 "TypeError: gdbm key must be string, not unicode"
The last dev gave me this weird error.

2016-08-25 18:17:23,739 [       cli] [INFO] PokemonGO Bot v1.0
2016-08-25 18:17:23,748 [       cli] [INFO] commit: 5e50264e7644b007dff7e0e057375cc433c36805
2016-08-25 18:17:23,751 [       cli] [INFO] Configuration initialized
Traceback (most recent call last):
  File "pokecli.py", line 705, in <module>
    main()
  File "pokecli.py", line 103, in main
    bo

[2016-08-25 23:33] Anakin5 commented on #4673
- "any" is uses if there is no configuration under the specific Pokemon name. It is a default value in case you do not have a specific Pokemon config.
- release_below_iv create a list of Pokemon under that iv to release.
keep_best_iv create a list of Pokemon to not release.
So at the end, you release everything in release_below_iv minus what is in keep_best_iv.
This configuration simply means: rel

[2016-08-25 23:36] Jasperrr91 opened #4744 "Double MQTT emit"
@solderzzc @BreezeRo @sohje guys, what's up with the double emitting of the found pokemon:

[code]

The first one is comma seperated and the second one is JSON but it's entirely the same data. So why is it sent twice? 😛

[2016-08-25 23:44] Gobberwart commented on #4743
#4741 Looks like a lot of people are getting this at the moment (including me)

[2016-08-25 23:46] loflol commented on #4743
Hello me too :(

[2016-08-25 23:56] Gobberwart commented on #4729
PR #4740 submitted

[2016-08-25 23:57] josegrobles commented on #4741
Same error here :(

[2016-08-26 00:03] loflol commented on #4741
Same here

[2016-08-26 00:07] orchid666 commented on #4741
same here :)

[2016-08-26 00:10] Gobberwart commented on #4741
Quick and dirty workaround:

In pokemongo_bot/__init__.py, remove lines 104 to 112.

That will at least allow the bot to run for now (might need to set enable_social to false as well, I haven't tested that).

Waiting on a proper solution.

[2016-08-26 00:16] Bilibox commented on #4741
In other words revert commit: dcda7a144508285dfc99d736aab75254bd489edc

[2016-08-26 00:17] Gobberwart commented on #4741
Pretty much @Bilibox

[2016-08-26 00:19] Gobberwart commented on #4741
IMHO nothing mqtt-related should happen if enable_social = false.

[2016-08-26 00:20] DeXtroTip commented on #4687
Seems like when incubating first egg the `start_km_walked` is not found and the bot will use 9001. Maybe if we set it to 0 it might work, since after this, every other time the `start_km_walked`is found.

[2016-08-26 00:22] Bilibox commented on #4741
@Gobberwart No, removing lines 104-112 with enable_social = false should work fine. If you want to keep enable_social = true you have to revert social_handler.py back to self.mqttc = MyMQTTClass(bot)

[2016-08-26 00:23] Gobberwart commented on #4741
I meant in general, not at the moment. No reason to have this stuff do anything if enable_social is false.

[2016-08-26 00:25] Gobberwart commented on #4741
Currently, regardless of what enable_social is set to, this bit of code breaks everything. Since its only related to the social stuff, it shouldn't even be running if enable_social is false.

But it is, so yeah just remove/comment those lines and it should work for now.

[2016-08-26 00:26] Gobberwart commented on #4741
@solderzzc your thoughts?

[2016-08-26 00:26] #4227 closed

[2016-08-26 00:33] Bilibox commented on #4741
Since init.py runs whether or not enable_social is true or false that's why it causes the error. With it set to false removing the lines from init.py fixes the problem.
With it set to true it then calls upon social_handler.py which then throws an error because of the added code. just needs to be fixed up and should be good. hopefully that explains it?

[2016-08-26 00:37] Gobberwart commented on #4741
That's exactly what I'm saying, mate :)

Just noting for *future reference* that the code should be changed NOT to run if enable_social = false.

Note that removing the lines was my suggestion, I'm not having trouble understanding it :)

[2016-08-26 00:41] Gobberwart commented on #4718
I've put in a PR to fix this (create a "default" inventory file if it doesn't already exist). Hopefully that will resolve it.

@r3pek This specific error should only occur if the inventory file doesn't exist. When you say it "occasionally" still happens, is it exactly the same or something different? I'd like to know so I can track/fix any other bugs.

[2016-08-26 00:46] #4704 closed

[2016-08-26 00:56] r3pek commented on #4718
This is what i have at start now (can't start it again, even with "empty" inventory)
http://pastebin.com/yLpVuvA7

[2016-08-26 00:58] Gobberwart commented on #4718
@r3pek create inventory file just with [] at the top (nothing else) and restart. Does that work?

[2016-08-26 01:01] k4n30 commented on #4722
@ntanto does this solve your issue?

[2016-08-26 01:03] r3pek commented on #4718
@Gobberwart no. same error. with {} or []

[2016-08-26 01:04] #4729 closed

[2016-08-26 01:04] fengxia41103 commented on #4114
Same ban story here.

After reading these threads, I feel it will be helpful compile these reports into something (matrix) that we could sit down and look at the pattern together see if we could spot something.

If you think this is a track to take, I'll start the list first and put it somewhere so we could all fill in:

1. lvl banned
2. played time
3. banned date
4. banned weekday
5. have telepor

[2016-08-26 01:05] #4736 closed

[2016-08-26 01:07] #4743 closed

[2016-08-26 01:13] k4n30 commented on #4323
Going to close this in 24 hours, if there are no longer any issues

[2016-08-26 01:15] r3pek commented on #4718
Same error as Issue #4380. Just at another place

[2016-08-26 01:16] #4597 closed

[2016-08-26 01:18] #4620 closed

[2016-08-26 01:18] Jasperrr91 commented on #4744
@k4n30 wtf.. Leave this open.

[2016-08-26 01:19] Gobberwart commented on #4718
@r3pek looks like your error is different and not related to inventory json file.

[2016-08-26 01:24] k4n30 commented on #4691
https://github.com/PokemonGoF/PokemonGo-Bot/pull/4070#issuecomment-240082814

[2016-08-26 01:24] r3pek commented on #4718
yeah.... same error message though :(

[2016-08-26 01:26] Gobberwart commented on #4718
@r3pek I assume you've tried updating requirements? This looks like pgoapi error which might be solved by updating.

Try: pip install -r requirements.txt --upgrade

[2016-08-26 01:34] r3pek commented on #4718
Nothing to upgrade. Same problem.

On Aug 26, 2016 02:27, "Stuart Travers" <notifications@github.com> wrote:

[2016-08-26 01:39] Gobberwart commented on #4718
Please paste your most recent output/error

[2016-08-26 01:40] k4n30 commented on #4744
@Jasperrr91

1. This is not a bot "issue" (and if it were, see point 2)
2. It doesn't follow the issue template

I'll let you decide how you's like to proceed

[2016-08-26 01:44] r3pek commented on #4718
It's the one on the pastebin. Nothing changed.

On Aug 26, 2016 02:39, "Stuart Travers" <notifications@github.com> wrote:

[2016-08-26 01:51] Gobberwart commented on #4718
Hmmm have you got the latest build?

[2016-08-26 01:56] r3pek commented on #4718
Yes... Running dev branch.

On Aug 26, 2016 02:52, "Stuart Travers" <notifications@github.com> wrote:

[2016-08-26 02:18] krishven commented on #4114
What's the maximum level anyone has got to before getting banned?

The following are my stats:
banned yet? - NO
lvl banned? - NA
played time? - dont know
banned date - NA
banned weekday - NA
have teleported - NO
has been softbanned - NO
avg bot hour per run? per day? - 5 to 6 hours
walking speed - 1 or 2 miles per hr
Pokemon Caught: 1634
PokeStops Visited: 2712
Kilometers Walked: 115.91
No.of days

[2016-08-26 02:18] PokemonGoZ opened #4750 "TypeError: String or Integer object expected for key, unicode found"
### Expected Behavior
Bot starts normally.

### Actual Behavior
TypeError after updating dev branch.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
`
{
        "auth_service": "ptc",
        "username": "user",
        "password": "pass",
        "location": "40.764726, -73.973134",
        "gmapkey": "GOOGLE_MAPS_API_KEY",
        "websocket_server

[2016-08-26 02:59] rawgni opened #4751 "Better bot movement"
### Short Description

Human does not go through building and bot shouldn't too.

Currently, the bot destination is being decided on every `tick()`, ie. the destination can change between `tick`. It will just get the nearest fort and take the shortest route (usually, straight path).

### Possible Solution

Bot should decide which destination to go to, ie which fort to visit next, and stay that way

[2016-08-26 03:14] supergithubo commented on #4114
One of our problems here is we fail to test on every official app update if the api still sending similar requests and parameters. It's easy for them to filter out request coming from a bot and from the official app. We don't know the changes. Like the latest update, UK6 signature has changed and many botters did not stop and wait for the api update (we are not even sure if pogo api is maintained

[2016-08-26 04:09] supergithubo commented on #4114
Here's the latest Android permission asked by the app (Pokemon Go 0.3.5) taken from this [reddit](https://www.reddit.com/r/pokemongodev/comments/4zeynl/pokemongo_0350_android_permissions_as_asked_on/). We're using iOS but I think it would worth a read.

![147218411249228](https://cloud.githubusercontent.com/assets/8290481/17993744/0030fe3e-6b85-11e6-9288-88b77a99bc4d.png)

[2016-08-26 04:11] k4n30 commented on #4751
@rawgni love the FR, but unless you intend on developing both of these, do you mind splitting them into 2 separate feature requests, because although they are related, they do not need to be achieved together and therefore one could be met independently of the other

[2016-08-26 04:14] lntn commented on #4751
Google direction API doesn't work for a very short distance, i.e. it will just tell you to walk straight to the destination. Hence when two pokestops are close to each other, direction API won't help.

Altitude algorithm is important though. I too believe that randomizing the altitude is not a good choice because one's altitude should not keep jumping up and down unless you're walking in a mountai

[2016-08-26 04:18] lntn commented on #4693
can we use PokemonOptimizer in conjunction with EvolvePokemon?

[2016-08-26 04:22] hobbes3 commented on #4718
Latest commit 3622c032257887e5898778635c7382017879dafe fixes the problem for me.

[2016-08-26 04:31] rawgni commented on #4751
@lntn I am not sure what you mean by not work. Are you saying that if the pokestop is close to each other , you shouldn't walk straight to it ?

[2016-08-26 04:37] lntn commented on #4751
@rawgni what I mean is Google maps and its API is not accurate down to every meter, or at least the distance from where you can spin a pokestop. If you do a map search, it will only show you the direction (driving/walking) to the nearest road point, then tell you to walk over to your destination. This walking over part likely to be through building.

Another possible issue is walking direction API

[2016-08-26 04:46] oralunal opened #4752 "inventory-username.json File Is Not Being Updated"
### Expected Behavior
Every second it was being updated and I can follow my pokemons via the Web interface.

### Actual Behavior
It's being updated when bot starts then no updates untill next restarting the bot.

[2016-08-26 04:53] krishven commented on #4114
@supergithubo but what about people who haven't updated the app?
isn't that a possibility for someone to make requests with the old api?

[2016-08-26 05:04] brantje commented on #4744
@k4n30 Please leave this open

[2016-08-26 05:05] lntn commented on #4752
I found that it does update, but at a very slow rate or only occasionally. It should be updated after every change in the inventory.

[2016-08-26 05:06] rawgni commented on #4751
@lntn If the pokestop happens to be far from road point, then we can't stop it from walking through building. A human would probably need to get off the road to do the same.

I would think direction API will be quite accurate for most location that people bot in. Does it really matter if the bot ask you to drive a few more km for an exit ?

![screen shot 2016-08-26 at 11 57 33 am](https://cloud.gi

[2016-08-26 05:11] mjmadsen commented on #4741
Please try #4753

[2016-08-26 05:29] mjmadsen commented on #4744
From line 73 of social_handler.

It looks like we're emitting to two different places, I think? From the comments just before, it looks like the two have different formatting. Either way, I'm not very familiar with this section.

[2016-08-26 05:31] mjmadsen commented on #4752
What branch, commit, etc. It is difficult as a dev to know where to look without completing the issue template.

[2016-08-26 05:38] mjmadsen commented on #4687
Appears these are fixed now. @DeXtroTip thanks for the PR. I need to go through and clear up the variables names - I was having a terrible time keeping track of which was what.

[2016-08-26 05:38] #4687 closed

[2016-08-26 05:40] mjmadsen commented on #4682
Merge is on dev. Please try. If it does not work, please create a new issue.

[2016-08-26 05:40] #4682 closed

[2016-08-26 05:42] mjmadsen commented on #4678
@lwq008 keep in mind a lot of botters are using VPNs. It's only a matter of time before their IP range is also blocked. Perhaps using the TOR network is a better solution (though recent update seems to get the client's network info).

@iakovoszournatzis Any luck?

[2016-08-26 05:43] mjmadsen commented on #4673
@intn does that answer your question?

[2016-08-26 05:45] mjmadsen commented on #4557
@Jcolomar Did you get it working?

[2016-08-26 05:47] mjmadsen commented on #4540
@jane0815 Still having the same issue? I don't think we've resolved very close edge cases (very close to fort/pokemon and darting back and forth).

[2016-08-26 05:59] Bilibox commented on #4741
Issue is gone and bot is running fine

[2016-08-26 06:06] mjmadsen commented on #4741
@Bilibox awesome. I'll send the merge through.

[2016-08-26 06:06] #4741 closed

[2016-08-26 06:15] mjmadsen commented on #4751
This can be achieved through using path.json

Applying it to all walkers would be rather difficult. But still a FR regardless. In the mean time, try to setup the dedicated paths.

[2016-08-26 06:17] mjmadsen commented on #4693
I wish all of these were merged. I'll take a gander (soonish).

[2016-08-26 06:21] Jcolomar commented on #4557
mjmadsen YES! i was testing and testing and the problem was in how to type the route to the config file to path file. If u type "path_file": "/configs/espigon.json" gives error, but if u type the complete path like "path_file": "C:/Juegos/PokemonGO/PokemonGo-Bot/configs/espigon.json" works.

[2016-08-26 06:22] avexus commented on #4114
i don't know if this is a mandatory update. i checked my phone, and it's the latest version.

[2016-08-26 06:24] duttonw commented on #4114
My iPhone has not asked to be updated so they are not forcing everyone onto
it yet. Maybe if they notice you abusing it they may prompt to upgrade to
unlock recaptcha
On Fri, 26 Aug 2016 at 4:22 PM, avexus <notifications@github.com> wrote:

[2016-08-26 06:25] Gobberwart commented on #4752
See latest config example. Add UpdateWebInventory task to make web inventory update every bot tick. Otherwise it will only happen on bot start.

[code]

[2016-08-26 06:33] lntn commented on #4752
@Gobberwart dev branch? I setup.sh -u updated the bot but still don't see this in config example

[2016-08-26 06:33] mjmadsen opened #4754 "Decoupling and refactoring"
Our task order is currently static. Some of our tasks need to be performed on a state change. My thoughts that turn into ramblings:

- We should always try to collect level up rewards on exp change
- We should always check for badge responses (on each heartbeat?)
- Our API requests should be detached from bot decisions (store what we want locally, but only send recent when a response is required)

[2016-08-26 06:34] mjmadsen commented on #4557
Ah yes, pathing on a cross platform application can be tricky. :+1:

[2016-08-26 06:36] Amzix commented on #4557
Why you closed the issue, i'm the one who created it , and i still have the problem ???

[2016-08-26 06:37] lntn opened #4755 "[help needed] explanation on FollowCluster & FollowSpiral"
We all see example config file for FollowCluster & FollowSpiral but I have no idea what it does. Can someone please help? A simple comment in config file will do.

[2016-08-26 06:38] mjmadsen commented on #4557
My bad, I was looking at the wrong username.

[2016-08-26 06:39] Amzix commented on #4557
thank you :)

[2016-08-26 06:42] mjmadsen commented on #4557
Sorry you're still having troubles. Have you tried the following (I'm sure you're tired of hearing that):
git reset --hard
git checkout dev
git pull
pip install -r requirements.txt --upgrade

[2016-08-26 06:46] Amzix commented on #4557
already tried it, can you tell me when Niantic ban an IP adress  of a server, what answer/message we have when we start the bot ?

[2016-08-26 06:50] krishven commented on #4114
@avexus u must have auto update on Play Store turned on :)
@duttonw so it odes mean that there can be a legit old api request right?

[2016-08-26 06:56] rawgni commented on #4751
@mjmadsen yep it's achieveable using path.json but wouldn't be nicer if we could do it without. not everyone wants/knows how to generate a path.json

Initially, i thought why can't we have the bot spawn at a position. look at all the available forts in the area, plans the route it wants to take for the day and execute it.

[2016-08-26 07:01] mjmadsen commented on #4557
I think that just send us garbage or info we don't break down well / respond well to (pgo not us). Or they only send some info (maybe no stops, pokemon, etc).

As far as the API and the network traffic, I'm well out of my realm of knowledge. Hopefully I can learn from the fine folks working on that end (at some point in time).

Since none of the solutions have worked for you, I would lean to say I

[2016-08-26 07:02] mjmadsen commented on #4751
Yeah, that's while I'll leave it open as a FR. Once we can get all these basic elements in, it'll be fun to work on AI elements.

[2016-08-26 07:08] Amzix commented on #4557
Thanks for the reply, i tested the bot in 4 servers, the same bot works fine in two of them but not in the others.

N.B : the two servers where the bot can't start are in the same subnet of public adress, i think that Niantic ban all the subnet of  these VPS.

[2016-08-26 07:10] mjmadsen commented on #4557
Ah, there we go.

[2016-08-26 07:12] Amzix commented on #4557
:D we can close this issue and thanks for your help

[2016-08-26 07:12] hobbes3 commented on #4693
@4IbWNsis3S Ya, but `PokemonOptimizer` can automatically evolve after there is enough pokemons to evolve for 1 lucky egg. For `EvolvePokemon` you'll have to do it manually since from my experience, it only pops a lucky egg in the beginning (so if you are still evolving after 30 minutes then it won't pop another egg).

@Anakin5 Sometimes I don't want to evolve Dratinis when I have over 25 candies s

[2016-08-26 07:12] rawgni opened #4756 "Better bot altitude"
### Short Description

Human doesn't hover above ground and bot should not too.

### Possible solution
Pass destination and it's intermediate points to Google Elevation API. This will return altitudes for each of the coordinates. As we move, we can slowly inc/dec the altitude depending on the current and next coordinate. For example, we are moving from **A** with alt 8 to **B** with alt 10. The al

[2016-08-26 07:14] mjmadsen commented on #4557
Glad to help (and sorry about the bans)

[2016-08-26 07:14] #4557 closed

[2016-08-26 07:15] MartinTerp commented on #4729
Hi

this dosnt solve the player_stats issue

[2016-08-26 07:18] cbogithub opened #4758 "false UpdateLiveStats"
UpdateLiveStats show Caught 1,958 pokemon when i setting "daily_catch_limit": 800, in config .

2016-08-26 14:12:36,618 [UpdateLiveStats] [INFO] [log_stats] Uptime : 0:13:36 | Level 23 | Earned 226,666 Stardust | +490,220 XP | 2,162,923 XP/h | Visited 1,838 stops | Caught 1,958 pokemon

config  :
[code]

[2016-08-26 07:18] supergithubo commented on #4114
@krishven oh see we're still lucky the update is not mandatory. But if they add something to filter us out, it's now easier for them to filter bot users from users with outdated app since majority of legit users will choose to update for the new features. Let's hope someone maintain the api just in case they force all users to update :)

[2016-08-26 07:20] lntn opened #4759 "[FR] email notification"
### Short Description
Enable us to configure the bot to send email notification on certain remarkable events of our choice.

### Possible solution
It can be a new task with various option to toggle notification on/off for various events. However this can be hard because such task will need to hook into other tasks to sniff the event.

Another possible way is to add new option into every other task

[2016-08-26 07:21] mjmadsen opened #4760 "Noise / Actual location and pathing"
Currently our pathing is effected by our noise. While it should be effected by human variance (walking side to side), noise should not effect it as it is a device issue. After we apply noise, we're pathing from the noise location rather than the location we're pretending to be at. Basically, noise should only effect API requests and not our internal, "where I want to go from here" bits of goodness

[2016-08-26 07:24] Gobberwart commented on #4752
In latest dev, it's on line 192 of config.json.example (and in the other examples at different lines)

[2016-08-26 07:25] Gobberwart commented on #4752
Not in master yet to my knowledge. Master probably still only updates when recycle is run, so... depending on your min_empty_space setting.

[2016-08-26 07:35] ravenda900 opened #4761 "Bot not functioning when bot restarts after `Possibly searching too often` message comes once."
### Expected Behavior
I run bot once, and it shows `Possibly searching too often`, take a rest. I tried to restart it if it will gone after a couple of mins.

### Actual Behavior
After I restarted the bot is not walking to proper location already(not moving to pokestops, not finding pokemon)

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
http://past

[2016-08-26 07:40] Gobberwart commented on #4758
What exactly do you mean? The number of pokemon caught doesn't have anything to do with your catch limit as far as I can tell. It takes into account everything you've caught all day today.

[2016-08-26 07:44] Gobberwart commented on #4543
What do you mean there's a limitation in windows preventing printing "special" characters? In what way does this limitation exist?

[2016-08-26 07:44] Gobberwart commented on #4729
@MartinTerp It sure doesn't. See PR #4757 for this fix.

[2016-08-26 07:48] r3pek commented on #4718
commit 09403f5 also works

[2016-08-26 07:52] MartinTerp commented on #4729
@Gobberwart thanks for clearing this up :)

[2016-08-26 08:03] cbogithub commented on #4758
"daily_catch_limit": 800 ==> bot wont catched pokemon number 801 per a day , value pokemon_caught in UpdateLiveStats:

[code]

- pokemon_caught : The number of caught pokemon.  ==> i think mean of is number of caught pokemon when bot start not caught pokemon per a day

[2016-08-26 08:16] Gobberwart commented on #4758
So, are you saying the bot is catching too many pokemon (ignoring catch limit)? Or that the UpdateLiveStats output is incorrect?

[2016-08-26 08:18] Alino commented on #4114
Maybe they are also checking IP. By IP you can somehow guess the ISP. And if it is not common for your ISP to provide mobile data. That might be another factor to flag an account.

[2016-08-26 08:31] scarfield opened #4762 "[Dev/Issue] Bot not transfering caught pokemon except on startup"
### Expected Behavior
Bot triggers Transfer Pokemon when pokemon bag reaches "min_free_slot": 5, according to release config  "any": {"keep_best_cp": 2},

### Actual Behavior
Pokemon transfer only happens on bot startup. Not while running. After a while you get "Could not Catch, Pokebag is full.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
[code]

[2016-08-26 08:36] Gobberwart commented on #4592
It would be great if you could press a key and have the bot process it accordingly, eg.

i = use incense
l = use lucky egg
p = pause (and resume)
f = farm pokestops on/off
c = catch pokemon on/off
+ = increase walk speed
- = decrease walk speed

etc. (just random ideas off the top of my head)

Would need some kind of listener that would catch any keypresses and interpret them with appropriate feed

[2016-08-26 08:41] razithekillers opened #4763 "Bot walking on water?"
### Expected Behavior
Bot walking on water?

### Actual Behavior
![image](https://cloud.githubusercontent.com/assets/20743071/17999424/d02f53e4-6bab-11e6-91ed-cf3debf89569.png)

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

### Output when issue occurred

### Steps to Reproduce

### Other Information
OS:

Branch:

Git Commit:

Python Version:

Any

[2016-08-26 08:42] Gobberwart commented on #4759
The bot currently writes output to the data folder. Depending on your OS, you could write a custom script to parse it and email you anything you want to know about.

For example, data\caught-username.json records every pokemon catch, along with its CP and IV. You could write something to monitor that file and email you anything with cp above 1000 or IV above 0.8.

[2016-08-26 08:44] Gobberwart commented on #4759
Not saying this isn't a good idea, but it could be a standalone thing, rather than over-complicating the bot (any more than it already is)

[2016-08-26 08:54] lntn commented on #4759
I wish I could do Python then I will write a task for this - based on the data output folder.

[2016-08-26 08:57] beltoft commented on #4752
I've put
{ "type": "UpdateWebInventory",
        "config": {
          "enabled": true
        }
      },

in my config but the info button stil don't work.
After i updated to newest dev the info button now just open whatever other windows i had open before. (pokedex, items, whatever)

[2016-08-26 09:07] supergithubo commented on #4114
Here's another batch of banned accounts of mine. I think it's not on the level but probably flagged as bot on the first run because all of them lives just for a week. This is my second batch of banned accounts. First batch of accounts (plus my friend accounts) also runs exactly just a week.

levels:
- lvl 6, lvl 11, lvl 12, lvl 16

config:
- no teleports
- no snipe (just walk / no scanner)
- no ev

[2016-08-26 09:08] Gobberwart commented on #4752
See PR #4757

[2016-08-26 09:23] davidspeijer commented on #4758
At this moment my UpdateLiveStats are incorrect.

[2016-08-26 09:31] hectorcorral opened #4764 "Log spammed with useless information (printing object: pokemon)"
## The log is spammed with useless information

### Expected Behavior
Log should only contain information about what the bot is actually doing when debug=false, not script steps etc...

### Actual Behavior
```print pokemon``` <--- WHY?
The log is spammed because the object 'pokemon' is printed without any logical reason.
Printed in class **MyMQTTClass** in method **mqtt_on_message** in file ```pok

[2016-08-26 09:53] beltoft commented on #4758
I see the same - stats are incorrect

[2016-08-26 10:45] tiagoAnon opened #4765 "Bot detection: Extra experience out of nowhere"
If you play legit, you'll notice that sometimes, the total XP doesn't add up to the actual XP you got from catching pokemon, evolving, hatching eggs or spinning pokestops. AFAIK, the smallest unit of XP you can get is 10 (or, any XP you can obtain is always divisible by 10), but on my current legit account I have 245655 XP. I can't find out where that 5 extra XP comes from but it might be from a r

[2016-08-26 11:02] Bashin opened #4766 "[DEV] Bot ignores incubate eggs config"
### Expected Behavior

Bot incubates only 10km eggs in breakable incubators with the following config and leaves them unused if no 10km is available:

"infinite": [2,5,10],
"breakable": [10]

### Actual Behavior

Eggs incubating: [0.71/5.0 km, 0.71/5.0 km]
-> 1 infinite, 1 breakable

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

Unmodified config.e

[2016-08-26 11:03] askovpen opened #4767 "[FeatureRequest] Evolve pokemon exception"
I need evolve pokemons, except some pokemons, eg:

[code]

[2016-08-26 11:08] askovpen commented on #4764
update to latest revision or "enable_social": false` in config

[2016-08-26 11:09] Bashin opened #4768 "[DEV] Errors in config.example.json"
### Expected Behavior

Start bot with unmodified config.example.json without errors.

### Actual Behavior

1 - Warning on startup.
2 - RandomAlivePause output even though disabled by default.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

Unmodified config.example.json.

### Output when issue occurred

1:
2016-08-26 13:04:57,681 [cli] [WARNING] The

[2016-08-26 12:04] nugrahawahyu commented on #4767
+1

[2016-08-26 12:10] Jasperrr91 commented on #4744
@mjmadsen yea, we're emitting to two different topics on the same MQTT broker. Once with a comma separated data list and once with a JSON object.

@k4n30 it is not an issue with the bot. Therefor the issue template does not apply. It is however an issue with the bot's code and @BreezeRo mentioned on Slack that he'd preferred it if we opened issues here instead of discussing it on slack.

[2016-08-26 12:17] Bashin commented on #4766
2016-08-26 14:15:55,105 [IncubateEggs] [INFO] [incubate] Incubating a 5.0 egg.
2016-08-26 14:15:55,308 [IncubateEggs] [INFO] [incubate] Incubating a 2.0 egg.

[2016-08-26 12:22] r3pek commented on #4763
It's not walking... it's on ferry to cross the "river" O:-)

[2016-08-26 12:23] r3pek commented on #4765
Gym fights don't give "divisible-by-10" XP

[2016-08-26 12:57] acurioustale commented on #4758
Same here:

[2016-08-26 13:02] kanemasa1987 commented on #4760
Aren't the positions changed through api.set_position and retrieved from api.get_position/bot.position (which manipulates actual position)?
The only strange code code I found was in follow_path
https://github.com/PokemonGoF/PokemonGo-Bot/blob/ae314b666a1eb71de8872289ef3a298af09e4637/pokemongo_bot/cell_workers/follow_path.py#L145-L146
which is using noised position for logging. Other parts seem to

[2016-08-26 13:07] #4762 closed

[2016-08-26 13:10] kanemasa1987 commented on #4760
Oh no! you were right
https://github.com/PokemonGoF/PokemonGo-Bot/blob/master/pokemongo_bot/walkers/polyline_walker.py#L29

[2016-08-26 13:11] scarfield commented on #4758
Same here. No config changes done, but did a Git Pull
[code]

[2016-08-26 13:11] danielmouraa commented on #4767
It would be a nice feature, if we could evolve only the first evolution of the pokemon.

Example:
`
"type": "EvolvePokemon",
  "config": {
    "enabled": true,
    "evolve_all": "all",
    "first_evolve_by": "iv",
    "evolve_above_cp": 500,
    "evolve_above_iv": 0.9,
    "logic": "or",
    "min_evolve_speed": 25,
    "max_evolve_speed": 30,
    "use_lucky_egg": false,
    "max_evolution_stage":

[2016-08-26 13:30] jane0815 commented on #4540
Did not happen for me again. But i also changed my bot config to low speed and let them run only 1-2h hours a day.

[2016-08-26 13:31] kanemasa1987 commented on #4760
This is totally unintended, but cached polyline is returning the position you are supposed to be, regardless of this bug, so the behavior itself is correct after all (we are not affected by noise.)

That line in polyline is not used, if we look at it carefully.
I will do some cleanups and add the long waited altitude thingy, after taking some sleep...

[2016-08-26 13:43] cbogithub commented on #4768
run git pull to update bot

[2016-08-26 13:43] Gzerox commented on #4719
After merge, you can use something like:

[code]

[2016-08-26 13:46] Bashin commented on #4768
I am on the latest commit.. no need to update

[2016-08-26 14:04] acurioustale commented on #4768
See #4742.

Unfortunately the example configurations haven't been updated accordingly.

Move `"daily_catch_limit": 800,` into the CatchPokemon task.

[2016-08-26 14:13] pranavperfect opened #4770 "[Query/Issue] Maximum distance from start point based on step size and diameter?"
### Expected Behavior
The step size in my config file is set at 20 and the diameter is set at 2. I'd expect the bot to stay quiet close to the starting point.

### Actual Behavior
However, at present instance it is 6.3 miles away from starting location.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
Start location: Santa Monica Pier, Santa Monica
Pr

[2016-08-26 14:16] tuudik commented on #4762
@scarfield Why the issue was closed? I have same issue.

[2016-08-26 14:18] acurioustale commented on #4765
Training at a gym can net you anything from 1-50 XP depending on your level difference.

[2016-08-26 14:52] pranavperfect commented on #4770
If there is no maximum distance from start point, can that be made into a feature request?

[2016-08-26 15:15] pranavperfect opened #4773 "[Query/Feature Request] Reload config from time to time"
### Short Description
If i make changes to config.json, i shouldn't have to restart the bot to reload the config file

### Possible solution
Reload config file at fixed time intervals (possibly Hourly)

### How it would help others
If i come across an area with excess of one pokemon that is not in my evolution list, i can add it to evolution list and it will get reloaded and then i can have its ev

[2016-08-26 15:26] rdeeb opened #4774 "Bot not trasfering any pokemon even with full bag"
### Expected Behavior
The bot should transfer the pokemon when the amount left in the pokemon bag is less or equal to the ```min_free_slot```config

### Actual Behavior
The bot doesn't start the transfer procedure

### Your FULL config.json
http://pastebin.com/rxTyrFdV

### Output when issue occurred
[code]
![screen shot 2016-08-26 at 10 22 30 am](https://cloud.githubusercontent.com/assets/456490/

[2016-08-26 15:37] maxprzemo commented on #4773
It is already added
    "live_config_update": {
      "enabled": false,
      "tasks_only": false
    },

Just turn on

    "live_config_update": {
      "enabled": true,
      "tasks_only": false
    },

[2016-08-26 15:51] Gzerox commented on #4773
mh, i was starting to write down some code about this.
@maxprzemo on dev i can't find anything about "live_config_update" neither on pull request.
Am i missing something ?

[2016-08-26 15:55] maxprzemo commented on #4773
Compare your file config.json with config.json.example
https://github.com/PokemonGoF/PokemonGo-Bot/blob/dev/configs/config.json.example#L14

[2016-08-26 15:59] Gzerox commented on #4773
You're right.
But, Why if i use "search on repository" the string "live_config_update", does not show anything about it? :\

[2016-08-26 16:06] pranavperfect commented on #4773
In that case, i will just close the issue and wait for the dev to be merged with master as i'm relying on using the master branch.

Many thanks @maxprzemo

[2016-08-26 16:06] #4773 closed

[2016-08-26 16:06] maxprzemo commented on #4773
It is added only here https://github.com/PokemonGoF/PokemonGo-Bot/blob/dev/pokecli.py#L127
and here https://github.com/PokemonGoF/PokemonGo-Bot/blob/dev/pokecli.py#L625

[2016-08-26 16:14] goodmorning1234 opened #4775 "No XP walking to to the next pokestop"
It shows that waling to the next pokestop at {XXXX,XXXXX) using realistic ROAD_WALK routes. Gained 0 XP.
Anyone knows how to resolve this issue?

[2016-08-26 16:22] kirikay commented on #4763
better use FollowPath to avoid walking over water or thru buildings...

[2016-08-26 16:26] zeronivram commented on #4763
how to used new update?

[2016-08-26 16:27] krishven commented on #4114
Has anyone else's bot been banned before 1 week i.e 7 days? or after 1 week?

[2016-08-26 16:53] rdeeb commented on #4775
Walking don't yield XP, spinning Pokestops or capturing Pokemon does.

[2016-08-26 16:54] wearysky commented on #4689
I tried keep_best_custom using the default setting from config.json.example (for "any", not just Zubat lol), and it wasn't doing any transferring.  Couldn't figure out for the life of my why my bag kept being full.

[2016-08-26 16:55] lucas7bm opened #4776 "[Calculation Bug?] UpdateLiveStats showing a huge and unknown amount of earned EXP"
Well, I updated the bot earlier today and it's working well, but something strange happened, and I don't know if it's a bug or something else.
It doesn't matter how many times I restart the bot, it keeps showing a huge amount of earned EXP.
Apparently, the bot is assuming that the total PokeStops that I've visited is the amount that I've visited in the uptime. But the EXP simply came from nowhere,

[2016-08-26 16:59] danijov88 commented on #4774
I have the same issue, using linux.

[2016-08-26 17:04] mjmadsen commented on #4776
@k4n30 looks like you were right. :(

@lucas7bm Could you show me what it prints for your account details when you log in (level, current exp, etc)?

[2016-08-26 17:05] mjmadsen commented on #4774
@danijov88 were you also using keep best custom?

[2016-08-26 17:14] mjmadsen commented on #4760
https://github.com/PokemonGoF/PokemonGo-Bot/blob/master/pokemongo_bot/cell_workers/follow_spiral.py#L70
https://github.com/PokemonGoF/PokemonGo-Bot/blob/master/pokemongo_bot/cell_workers/follow_path.py#L102
https://github.com/PokemonGoF/PokemonGo-Bot/blob/master/pokemongo_bot/cell_workers/random_alive_pause.py#L141 (this code should be called from somewhere else)
https://github.com/PokemonGoF/Poke

[2016-08-26 17:16] mjmadsen commented on #4758
Can any of you please list what it has for your starting stats (level, exp, startdust, etc) and then the live update message. This is probably due to one of my PRs.

[2016-08-26 17:17] mjmadsen commented on #4776
Please bring conversation to #4758

[2016-08-26 17:17] #4776 closed

[2016-08-26 17:21] roeloffs commented on #4592
+1

[2016-08-26 17:24] mjmadsen commented on #4763
This is related to #4751

[2016-08-26 17:24] #4763 closed

[2016-08-26 17:28] mjmadsen commented on #4758
2016-08-26 02:51:16,622 [PokemonGoBot] [INFO] Level: 6 (Next Level: 2680 XP) (Total: 18320 XP)
2016-08-26 02:51:16,623 [PokemonGoBot] [INFO] Pokemon Captured: 38 | Pokestops Visited: 73
------------------------
2016-08-26 02:52:32,588 [       cli] [INFO] Ran for 0:01:25
2016-08-26 02:52:32,588 [       cli] [INFO] Total XP Earned: 18320  Average: 779562.16/h
2016-08-26 02:52:32,588 [       cli] [IN

[2016-08-26 17:31] goodmorning1234 commented on #4775
@rdeeb But it seems that I haven been in the same place for a very long time. It shows "walking to the next pokestop at {XXXX,XXXXX) using realistic ROAD_WALK routes. Gained 0 XP" thousands of times.

[2016-08-26 17:43] mjmadsen commented on #4758
PR #4778 should fix.

[2016-08-26 17:47] mjmadsen commented on #4775
Please actually post logs and fill out the issue template.

[2016-08-26 17:48] akmorgandk10 opened #4779 "can start the bot"
i cant start the bot i just get Fri, Aug 26, 2016 7:48:21 PM Pokebot  Stopped.

[2016-08-26 17:50] mjmadsen commented on #2770
@daniel100097 Get it working?

[2016-08-26 17:51] mjmadsen commented on #4770
#3580 has a FR for this.

[2016-08-26 17:51] #4770 closed

[2016-08-26 17:54] mjmadsen commented on #4752
Merged to dev branch. Please give that a go.

[2016-08-26 17:55] danijov88 commented on #4774
@mjmadsen sorry for late reply.. I use the default config, no changes.

[2016-08-26 17:55] mjmadsen commented on #4091
@JonnyBoy333 Still an issue?

[2016-08-26 17:57] mjmadsen commented on #4774
@danijov88 Your bag is fuller than the minimum you have set?

@rdeeb I think there are issues with the keep best custom release tag.

[2016-08-26 17:58] mjmadsen commented on #4779
We can't really help you if you don't fill out the issue template.

[2016-08-26 17:59] mjmadsen commented on #4765
@tiagoAnon Those answers suffice?

[2016-08-26 18:01] mjmadsen commented on #4774
#4689

[2016-08-26 18:01] #4774 closed

[2016-08-26 18:01] mjmadsen commented on #4764
What @askovpen said.

[2016-08-26 18:01] #4764 closed

[2016-08-26 18:03] mjmadsen commented on #4718
Since the original poster's issue is resolved, I am closing.

[2016-08-26 18:03] #4718 closed

[2016-08-26 18:06] mjmadsen commented on #4767
You can do it the other way around by adding specific pokemon to evolve_all. Most people set evolve_all to common pokemon (for exp) and save the candy for non common.

Can I ask why you wouldn't want to evolve zubats and rattatas?

[2016-08-26 18:09] mjmadsen commented on #4758
Merged to dev branch.

[2016-08-26 18:09] #4758 closed

[2016-08-26 18:10] mjmadsen commented on #4752
Closing as it is not fixed in dev branch.

[2016-08-26 18:10] #4752 closed

[2016-08-26 18:20] askovpen commented on #4767
i don't want write my common pokemons, because i write zubata and rattata :-)

[2016-08-26 18:23] mjmadsen commented on #4767
What?

[2016-08-26 18:24] askovpen commented on #4767
e.g. i want evolve all pokemons for exp, but i have best Magikarp with 0.7 iv. I don't want waste 400 candy for evolve Magikarp. i want wait Magikarp with more iv to evolve.

[2016-08-26 18:27] mjmadsen commented on #4767
So that is what I am saying. Don't list magikarp in evolve_all.

Evolves only zubat, rattata, pidgey and drowzee.

[2016-08-26 18:31] askovpen commented on #4767
ok. my config:
[code]

[2016-08-26 18:32] askovpen commented on #4767
more like config:
[code]

[2016-08-26 18:33] mjmadsen commented on #4767
I put a tag for this as a Feature Request. As I said, I realize that isn't exactly how you want to go about it, but I gave you a solution given the current setup. If you want to reduce the config to your latter post, you'll have to wait for the requested feature to get finished.

[2016-08-26 18:57] JonnyBoy333 commented on #4091
I'll shut it down for now, will need to test more when I get a chance.

[2016-08-26 18:57] #4091 closed

[2016-08-26 19:07] ntanto commented on #4722
i think this solve my problem
thanks a lot and close my case

[2016-08-26 19:44] askovpen commented on #4767
[code]

[2016-08-26 19:58] mjmadsen opened #4781 "Separate account from base configs"
We should have an account file with just the following:
`{
    "auth_service": "",
    "username": "",
    "password": "",
    "location": "",
    "gmapkey": "",
    "encrypt_location": "",
    "config_location": ""
}`

Then the config_location is our base settings. We update the configs a whole lot and if you have multiple bots, that can be a lot of editing if you want to change default values.

[2016-08-26 19:59] solderzzc commented on #4781
yes, very needed. Since the merging of work config and account config, I've done much work on the copy between configuration files.

[2016-08-26 20:00] tokarevi commented on #4456
@nugrahawahyu can you elaborate on using torify?

[2016-08-26 20:29] lucas7bm commented on #4776
@mjmadsen I'm not at home right now, but I'll send the account details soon.

[2016-08-26 20:30] mjmadsen commented on #4776
@lucas7bm I reverted the changes causing the problem. Should be fine now (in dev branch).

[2016-08-26 20:34] lucas7bm commented on #4776
@mjmadsen Oh, I see, thank you!
I'll be updating soon.

[2016-08-26 21:34] th3w4y commented on #4760
@kanemasa1987  @mjmadsen  let me know if there is a bug in polyline but the instant location returned by .get_pos() should not deviate by more then ~50cm [because of round(pos, 5)] from the calculated position on the Google Directions API polyline.

[2016-08-26 21:37] Gobberwart commented on #4752
@mjmadsen "not" fixed or "now" fixed? Just clarifying whether my PR worked or not.

[2016-08-26 21:39] mjmadsen commented on #4752
@Gobberwart Oops. I meant "now"

[2016-08-26 21:48] th3w4y commented on #4756
@rawgni  this is done in the case of polyline class

the .get_alt() method returns the Elevation at the point in time...

someone will have to use that method in the cell_workers for the PolylineWalker use case and I believe @kanemasa1987  is planing to do so...

I don't dare to modify any of the cell_workers since i am not using this bot and thus i would not be able to verify (i am banned from pl

[2016-08-26 22:26] alexyaoyang commented on #4781
Agreed, having an account file will make things a lot easier for both new users and old. Your idea of switching between series of bot accounts **might** be easier with the live update code.

[2016-08-26 22:33] alexyaoyang commented on #4768
1 has been fixed. Just did a quick test on 2, seems like the the random alive pause is scheduled, but when the time comes, it does not pause if the task is disabled. Can someone confirm?

[2016-08-26 22:41] alexyaoyang commented on #4766
I think that is the expected behavior. If you want to use the breakable incubator for other x km eggs, you have to include x into the breakable array.

[2016-08-26 22:47] alexyaoyang commented on #4756
Gradual increase/decrease of altitude as been implemented in `StepWalker` with a random delta range of 0.4m. But your `FollowX` task has to support altitude too. I can confirm that `FollowPath`'s gradual altitude change works great as long as your path file has altitude in them.

[2016-08-26 22:58] alexyaoyang commented on #4755
This is from what I understand by reading the code, so pardon me if there are any errors on my part. I'll be happy to add it to the docs if there aren't any errors.

FollowCluster: Find the biggest cluster of pokestops within `radius`. `lured` specifies if you want to prioritize lured pokestops, if no lured pokestops are found, it will go back to normal behavior of finding the biggest cluster of p

[2016-08-26 23:02] iakovoszournatzis commented on #4678
@mjmadsen you guys are right. i got something like ban...

[2016-08-26 23:03] krishven commented on #4114
I made a Google form, pls enter ur results for as many bots as you can.

https://docs.google.com/forms/d/e/1FAIpQLSe2ZXrDmrC8RnZLfWGa5O2qlxyr_eeiDA1AAXj0DnWnaUWrsQ/viewform

[2016-08-26 23:04] pranavperfect opened #4785 "[Issue] Bot gets stuck randomly at any activity"
### Expected Behavior
Perform activities non stop unless it is taking a break/sleep

### Actual Behavior
It gets stuck at a point for quite some time. If i press any key on the command prompt after it gets stuck, it resumes.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
N/A

### Output when issue occurred
**2016-08-26 15:38:51,344** [PokemonCatchWo

[2016-08-26 23:05] alexyaoyang commented on #4751
Using google direction api is already implemented with Polyline walker.
<img width="200" alt="screenshot 2016-08-23 at 6 48 55 pm" src="https://cloud.githubusercontent.com/assets/4772843/18022810/e0706c0c-6ba6-11e6-9c4e-76ff7efbfd4b.png">

[2016-08-26 23:14] crvfts commented on #4785
This was happening to me previously (no longer occurring on current dev). I found that usually when UpdateLiveInventory logged that it would suddenly log everything else that happened in between (never more than a handful of actions).

There were a few times I returned to my computer to find the completely had completely froze, though.

[2016-08-26 23:42] oralunal opened #4786 "Bot Doesn't Work"
### Expected Behavior
Bot should start

### Actual Behavior
Bot doesn't start

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
http://pastebin.com/eATK5yUf

### Output when issue occurred
http://pastebin.com/kPzwdvE1

### Steps to Reproduce
I've reinstalled the python. Then run "pip install -r requirements.txt" and "pip install virtualenv"

### Other

[2016-08-26 23:56] kanemasa1987 commented on #4760
@th3w4y
Polyline itself is fine, the PolylineWalker is wrong.

[2016-08-27 00:06] kanemasa1987 commented on #4760
https://github.com/PokemonGoF/PokemonGo-Bot/blob/master/pokemongo_bot/cell_workers/follow_spiral.py#L70 <- bug
https://github.com/PokemonGoF/PokemonGo-Bot/blob/master/pokemongo_bot/cell_workers/follow_path.py#L102 <- bug
https://github.com/PokemonGoF/PokemonGo-Bot/blob/master/pokemongo_bot/cell_workers/random_alive_pause.py#L141 (this code should be called from somewhere else) <- periodically upda

[2016-08-27 00:34] oralunal commented on #4786
Now I made a fresh install. It was causing pgoapi 1.1.6. I deleted the folders and reinstall. Then again there was a problem with my encrypt.dll file. It wasn't accept 64Bit file. I don't know why, I used 32bit version and it started to work.

[2016-08-27 00:37] duttonw commented on #4756
the reverse engineering chat seems to be making progress on getting alt into more correct locations. https://github.com/AeonLucid/POGOProtos/pull/214
It also seems that when they are testing getting map data, if the alt is too high it does not return any results so it seems they have stopped people playing in planes/space ;).

if you are running your bot near your or in your local town centre, jus

[2016-08-27 01:02] pranavperfect opened #4788 "[BUG] Bot auto assigned gym team. Bot auto-renamed player. Bot changed looks of player"
### Expected Behavior
Continue botting

### Actual Behavior
Player name changed to AYOUBTBBLEBG
Player assigned to Team Mystic
Player appearance changed from default male to dark skinned male
Possibly got soft banned also. Did no teleportation activities.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
{
    "auth_service": "ptc",
    "username": "",

[2016-08-27 01:31] avexus commented on #4788
looks like this bot has been hacked.

[2016-08-27 01:32] pranavperfect commented on #4788
Disappointed. @solderzzc , @nivong , @mjmadsen

Please update if this is the case.

[2016-08-27 01:42] kanemasa1987 commented on #4760
#4789

[2016-08-27 01:45] db-coder opened #4790 "Error: Gap of around 2 mins between every task"
===============ISSUE SECTION===============

### Expected Behavior
Bot should start normally without much lag.

### Actual Behavior
Bot is taking a lot of time to do the tasks. Approx a gap of 2 mins between every task.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
[code]
### Output when issue occurred
[code]

### Steps to Reproduce
Run the bot in

[2016-08-27 01:52] etiennebechara commented on #4766
This bug also happened to me, I'm using the same config:

`{
			"type": "IncubateEggs",
			"config": {
				"longer_eggs_first": true,
				"min_interval": 50,
				"infinite": [2, 5, 10],
				"breakable": [10]
			}
		},`

[2016-08-27 01:54] rawgni commented on #4751
@alexyaoyang this FR wants it to not have to depend on followpath. please read my reply to @mjmadsen above

[2016-08-27 02:01] db-coder commented on #4790
It also shows this:
`2016-08-27 07:26:20,352 [RandomAlivePause] [INFO] [next_random_alive_pause] Next random alive pause at 08:26:35, for a duration of 0:03:34`
`2016-08-27 07:28:27,585 [RandomPause] [INFO] [next_random_pause] Next random pause at 08:27:42, for a duration of 0:09:59
`
But I've not enabled Random Alive Pause or Random Pause in my config.

[2016-08-27 02:25] db-coder commented on #4790
The same code after running for some time gives this error:
[code]

[2016-08-27 03:00] alexyaoyang commented on #4766
@supercourgette

[2016-08-27 03:11] supercourgette commented on #4766
From what I can tell there are no issues here. With the config "infinite": [2,5,10],
"breakable": [10] then you will incubate the 2 5 and 10 km egg. The 2 and 5km would go to the infinite incubator and the 10 km either to the infinite or to the breakable incubator. Please have a look at the docs to make sure it is OK. Still, there may be a bug since the timing in your log is a bit strange. Could y

[2016-08-27 03:26] alexyaoyang commented on #4751
@rawgni Hmm ok, the only other move task which allows you to use polyline walker is move to map pokemon for now. As time goes by, the other move tasks will implement using polyline walker too.

[2016-08-27 04:18] #4786 closed

[2016-08-27 04:19] lntn opened #4791 "[enhancement] Move most of FollowPath configuration to path.json files"
FollowPath configuration variables such as walker, mode, start_mode, no. of laps are heavily depending on the path itself. For example, if the path points are placed along the roads, polylinewalker is not needed.

One may have multiple path files (like I do) with different way of placing map points, different areas, hence the path configuration should follow each path file or at least can be overr

[2016-08-27 04:31] zhanglongqi commented on #4762
@tuudik You need set an appropriate min_free_slot value. It will start transfer only when there are min_free_slot left in your pokemon poket.

[2016-08-27 04:50] nugrahawahyu commented on #4456
@tokarevi
install tor:
`apt-get install tor`

install torsock:
`sudo aptitude install git autoconf automake build-essential libool`
`git clone --depth 1 https://git.torproject.org/torsocks.git/ #download`
`cd torsocks*`
`./autogen.sh`
`./configure`
`make`
`sudo make install #as root, admin, super-user, supercow, pretty please`

run the bot:
`torify ./run.sh`

[2016-08-27 04:51] sfbakin opened #4792 ""Keep_best_custom" preventing from transferring all pokemon selected"
Running latest dev, notice I was pokemon slots full but had free slots set to 200.
After troubleshooting with slack I removed this line

"Magikarp": {"keep_best_custom": "iv, cp, hp_max", "amount":5}

And it allowed the bot to then transfer out over 100 karp instead of the five I wanted to keep.

Win10 latest dev build.

Thanks!

[2016-08-27 05:35] doctordo0m commented on #4788
Somebody else must have your account data, because the bot does not handle gyms, which would be needed to assign a team.

[2016-08-27 05:40] mjmadsen commented on #4788
Yeah, there isn't anything in our bot that would do that.

Don't go wagging your finger at some devs who are working for free. :)

[2016-08-27 05:42] doctordo0m commented on #4792
I do not really understand your problem, it might be helpful, if you filled out the Issue/Feature request template, that appears when you create a new issue. Keep that in mind for next time at least.

So, what was the expected behaviour, and what happened?

[2016-08-27 05:48] solderzzc commented on #4781
It can't be real! https://github.com/PokemonGoF/PokemonGo-Bot/pull/4793 works as charming

[2016-08-27 06:16] mjmadsen commented on #4781
Awesome. Thanks you @rawgni

[2016-08-27 06:16] #4781 closed

[2016-08-27 06:22] Bashin commented on #4766
Yes, the app displays the eggs in the same place as the log told me. I had a quick look at the code and as far as I unterstand the code it loops through all eggs and incubates only if the egg km appears to be in the array so even if the timing is as bad as in this case it should not happen anytime. I think we need action wait here too because hatching and incubating takes quite a long time in the

[2016-08-27 06:24] mjmadsen commented on #4792
#4689 keep_best_custom doesn't work right now.

[2016-08-27 06:24] #4792 closed

[2016-08-27 06:25] mjmadsen commented on #4790
Last post was resolved with a recent merge to the dev branch.

[2016-08-27 06:30] mjmadsen commented on #4760
Nice work @kanemasa1987. We seem good to close this now?

[2016-08-27 06:33] mjmadsen commented on #4766
@supercourgette I have mine setup for 10k only in breakable as well and saw it with three 5ks going. Not sure why that's happening from the code I've looked at. I haven't checked in the app to see if it's an egg distance output error.

[2016-08-27 06:35] mjmadsen commented on #4678
@pmwoodward3 How about you?

[2016-08-27 06:36] #4765 closed

[2016-08-27 06:36] mjmadsen commented on #4722
Glad we could help

[2016-08-27 06:36] #4722 closed

[2016-08-27 06:38] mjmadsen commented on #4744
@Jasperrr91 I'm told we are emitting to two channels. We can't merge the two channels. But we want to support both, so we send to both.

[2016-08-27 06:38] #4744 closed

[2016-08-27 06:40] mjmadsen commented on #4719
Recent merge fixes this.

[2016-08-27 06:40] #4719 closed

[2016-08-27 06:57] YoannChabert opened #4797 "Bot crashed for Most Perfect Pokemon"
===============ISSUE SECTION===============

### Expected Behavior
Bot running

### Actual Behavior
Bot crashed when displaying "Most Perfect Pokemon"

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
[code]

### Output when issue occurred
[code]

### Steps to Reproduce
Run the bot in the latest config

### Other Information
OS: Linux
Branch: dev
Git C

[2016-08-27 07:04] db-coder commented on #4790
Getting this error now. Any ideas?

[code]

[2016-08-27 07:07] YoannChabert commented on #4797
I updated dev branch and its OK now !

[2016-08-27 07:07] #4797 closed

[2016-08-27 07:26] th3w4y commented on #4756
@duttonw they are 9-90m off due to rounding maybe? 2 decimals gives that precision.. ( Polyline.get_alt() method also returns a round(pos, 2))

[2016-08-27 07:52] duttonw commented on #4756
Last I read from the reverse engineer group alt may actually be horizontal
accuracy offset. Will need to wait and see on the api updates

On Saturday, 27 August 2016, Ovidiu Ghinet <notifications@github.com> wrote:

[2016-08-27 07:53] avexus commented on #4114
@supergithubo, like i said in the postings, they are using a bot to ban too, it's just parameters for them, like in the config file. So they can set which levels to start from. It's other flags for them to use to detect bots.
I checked my banned account, it says "unable to authenticate". So, I guess it is wiped clean.

[2016-08-27 08:56] LitRidl commented on #4468
@Anakin5 By the way, will it be useful to add the same feature to pokemon optimizer?
As far as I know, PokemonOptimizer is great for leveling up new accounts, while old Transfer/Evolve is great for leveling up other players' accounts because it is kind of more conservative.
But may be it's just for me -- so I am asking if the same thing may be useful for Optimizer.

[2016-08-27 08:59] supergithubo commented on #4114
@avexus yeah of course they automate the detection of bots and our goal here is to determine their detection criteria. The fact that all accounts (different levels) created same day were banned together at the same day is weird. So I guess they've been detected on their first run and been scheduled for wiping on their next ban wave considering the level 6 account of mine botted just for the first

[2016-08-27 09:13] Gurzeh opened #4799 "moving_to_pokemon_through_port instead of teleporting"
### Expected Behavior
The bot should teleport to Pokemon, then teleport back and catch

### Actual Behavior
in two occasions (both Snorlax) it keep moving to it (and of course not reaching it

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
http://pastebin.com/XzFy46Tv

### Output when issue occurred
http://pastebin.com/Zwb4Bi9X

### Other Information

[2016-08-27 09:17] Anakin5 commented on #4468
I added two modes and I am currently testing it. One mode for applying filters on each Pokemon instead of the whole family and another to apply it to the full bag.
I will commit when I am sure things are fine.

[2016-08-27 09:32] sohje commented on #4799
@Gurzeh Seems Snorlax not added to catch option and have no priority like
[code]
Cause you have option
[code]
Bot just ignore snipping functionality.

[2016-08-27 09:59] duttonw commented on #4756
looks like its changed from alt to accuracy https://github.com/AeonLucid/POGOProtos/commit/0170d19e1a02e65d1f600904a915b5988af39bd4

[2016-08-27 10:07] nirvana7777 opened #4800 "Removing date/time from bot output"
### Expected Behavior

Moving towards pokestop Keppel Island Marina - 0.14km

### Actual Behavior

2016-08-27 18:04:19,285 [MoveToFort] [INFO] [moving_to_fort] Moving towards pokestop Keppel Island Marina - 0.14km

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

### Output when issue occurred

### Steps to Reproduce

I have tried looking for the doc

[2016-08-27 10:51] lntn commented on #4800
what is the problem?

[2016-08-27 10:52] #4799 closed

[2016-08-27 10:53] nirvana7777 commented on #4800
Problem is how to remove "<date> <time> " from bot line outputs. Thank you.

[2016-08-27 10:54] nirvana7777 commented on #4800
remove " (date) (time) " *

[2016-08-27 10:54] Gurzeh commented on #4799
@sohje thx buddy!

[2016-08-27 10:55] sohje commented on #4799
@Gurzeh no problem ;}

[2016-08-27 10:55] nirvana7777 commented on #4800
I want it to be " moving towards pokestop XXX - X.Xkm "

Instead of " (date) (time) moving towards pokestop XXX - X.Xkm "

[2016-08-27 11:16] kanemasa1987 commented on #4756
woot, does that mean we should send accuracy rather than altitude?

[2016-08-27 11:20] kanemasa1987 commented on #4760
I believe so, we are using actual positions, except spin fort thingy which we should use the noised position (there are cases that actual position is out of radius, while the noised position we are sending is not)

[2016-08-27 11:39] lntn commented on #4800
I believe date, time, component's name & action is the standard log output template and there's very little reason we should remove them.

[2016-08-27 11:42] lntn commented on #4114
Well Ninatici may have someone observing this project here so fighting again their bot detection isn't very promising lol.

[2016-08-27 11:43] mjmadsen commented on #4766
#4803 merged. Should be working in dev branch now. Thanks again @rawgni

[2016-08-27 11:43] #4766 closed

[2016-08-27 11:52] mjmadsen commented on #4800
We can mark it as a feature request. Some folks might like this!

[2016-08-27 11:53] #4788 closed

[2016-08-27 11:54] mjmadsen commented on #4688
Pretty sure our new social setting covers this. If you feel it does not, please elaborate and reopen.

[2016-08-27 11:54] #4688 closed

[2016-08-27 11:56] mjmadsen commented on #4673
Since I've seen you make some other posts since I asked, I'm going to assume you have your answer.

[2016-08-27 11:56] #4673 closed

[2016-08-27 12:00] duttonw commented on #4756
numbers between 6 - 250 would be doable. and should really be big and go
smaller and if in a cbd, should actually fluctuate quite a bit with the
buildings blocking the signal. always having perfect reception in the cbd
while others were getting 100m etc would be an easy way to know its a bot.

 sadly this piece of information is very hard to get right and if say 100
or even 1000 players are in the

[2016-08-27 12:04] Gurzeh opened #4805 "random() for hit rate is not accurate"
Expected Behavior
the throw should be 90% ("hit_rate": 0.9)

Actual Behavior
in fact, random() - which is used to code the %
if random() >= self.catch_throw_parameters_hit_rate
- gives inaccurate results (this is know behavior)
check the log for actual result

Your FULL config.json (remove your username, password, gmapkey and any other private info)
http://pastebin.com/XzFy46Tv

Output when issue

[2016-08-27 12:05] Gurzeh commented on #4800
I agree. It should be possible to remove this info - even if I DO find it useful

[2016-08-27 12:35] rawgni commented on #4800
@nirvana7777
[code]
change line 64 to `format='%(message)s'`

[2016-08-27 12:40] Anakin5 commented on #4693
@hobbes3
Even if those Dragonies are inferior to your Dratini ?

[2016-08-27 12:44] maxprzemo commented on #4805
@Gurzeh
On 13 shots did not hit only 4 ([pokemon_capture_failed] Pokeball thrown to Pikachu missed.. trying again!)
The rest depends on Capture Probability https://docs.google.com/spreadsheets/d/1Jj4_DGoaI-KZsm7vqNv1RVi3tZWrjiFoSPagwO9qfQM/pubhtml#

[2016-08-27 12:50] Darkayer opened #4807 "Error when starting bot since dev pull this morning."
OS: MacOS
Branch : DEV (Pulled this morning)
Standard: Dev Config.example.json (Using auth.json)

Since this morning i'm getting : (PokemonGo-Bot) nieks-mbp:PokemonGo-Bot Niek$ python pokecli.py -cf configs/config.json -af configs/auth.json
2016-08-27 14:46:54,115 [       cli] [INFO] PokemonGO Bot v1.0
2016-08-27 14:46:54,123 [       cli] [INFO] commit: f0623bd014ac4ef2e119f332a4dc6d73eed09f12
201

[2016-08-27 12:57] lntn commented on #4800
ok I'm not familiar with Python and not much with git, so if someone gonna do this, you may add a new config "simplified_log" with default value false to make it more flexible.

[2016-08-27 12:58] lntn commented on #4673
oops sorry somehow I missed out all the comments on this thread. Yup questions were answered. Thank you.

[2016-08-27 13:10] mjmadsen commented on #4673
@lntn awesome. Glad you got it figured out!

[2016-08-27 13:18] nirvana7777 commented on #4800
@rawgnii Thank you !

[2016-08-27 13:30] kolinchang opened #4808 "Failed to run bot base on docker instructions for windows"
### Expected Behavior
Docker builds successfully and volume mounts to the correct locations.

### Actual Behavior
Base on installation.md:

running "docker build --build-arg timezone=Europe/London -t pokemongo-bot ." failed with error: One or more build-args [timezone] were not consumed, failing build.

running "docker run --name=bot1-pokego --rm -it -v $(pwd)/configs/config.json:/usr/src/app/conf

[2016-08-27 13:39] Darkayer commented on #4807
Problem solved! Got a permaban but somehow the bot couldnt get the output on screen

[2016-08-27 13:39] #4807 closed

[2016-08-27 13:47] mjmadsen commented on #4807
Sorry about the ban, but whew. I was looking at the code wondering wth was going on.

[2016-08-27 13:51] KeepItShort commented on #4765
I have a question about these "Extra experience out of nowhere". When you play with normal app on phone I do not remember to get any exp for vanished pokes - let's analyze this case:

**2016-08-27 15:13:59,589 [UpdateLiveStats] [INFO] [log_stats] XXXPlayer | Uptime : 0:03:13 | Earned 200 Stardust | +900 XP | 16,764 XP/h | Visited 4 stops**
2016-08-27 15:13:59,595 [MoveToFort] [INFO] [moving_to_for

[2016-08-27 13:51] mjmadsen commented on #4805
hit_pokemon = 1
            if random() >= self.catch_throw_parameters_hit_rate and not is_vip:
                hit_pokemon = 0

Looks fine to me. random() generates a number between 0 and 1.

[2016-08-27 13:54] lntn opened #4811 "exception when session stale causing location file for web stopped being updated"
### Expected Behavior
location-[account name].json get updated while the bot is running

### Actual Behavior
the file stop getting updates after re-logging in (session stale) due to an exception

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
[code]

### Output when issue occurred
[code]

### Steps to Reproduce
randomly when session stale

### Other

[2016-08-27 13:57] mjmadsen commented on #4805
Check out the reply to this question:
http://stackoverflow.com/questions/2145510/random-is-barely-random-at-all

[2016-08-27 13:57] lntn commented on #4811
maybe the bot should start the walker thread again after relogging in.

[2016-08-27 13:59] mjmadsen commented on #4811
Walker isn't going to help much if the API wasn't able to log you back in

[2016-08-27 14:02] lntn commented on #4811
Log back in just fine. It's the thread/worker (sorry not walker) for updating location file has not been restarted after the exception.

[2016-08-27 14:26] mjmadsen commented on #4353
Merged

[2016-08-27 14:26] #4353 closed

[2016-08-27 14:55] leadboots5 commented on #4808
pokecli.py: error: argument -a/--auth_service is required

I am getting this too on mac, still trying to figure out why it can't find the auth file

[2016-08-27 14:59] mjmadsen commented on #4805
While random might not return that all of random results, we won't do too much better in the python library. Over the long hall, it is sufficient for our needs. We're not sending credit card information or anything.

[2016-08-27 14:59] #4805 closed

[2016-08-27 15:24] TheOwl99 opened #4812 "no moudle named pgoapi"
Traceback (most recent call last):
  File "pokecli.py", line 43, in <module>
    from pgoapi.exceptions import NotLoggedInException, ServerSideRequestThrottlingException, ServerBusyOrOfflineException, NoPlayerPositionSetException
ImportError: No module named pgoapi.exceptions

 Something went wrong and the bot needed to be restarted. Please investigate the cause.

i got this error everytime I'm tr

[2016-08-27 15:44] th3w4y commented on #4756
this seems to be more like pgo implementation details not necessarily
specific to the bot
we use a api method set_position that needs lat, lng, alt and shoudl take
them and convert them to whatever proto...

Regards,
Ovidiu Ghinet

On 27 Aug 2016, at 14:00, William Dutton <notifications@github.com> wrote:

numbers between 6 - 250 would be doable. and should really be big and go
smaller and if in a

[2016-08-27 15:53] CykkaTron commented on #4114
So I've noticed on my legit accts all of them that it says I have 8 Pokemon but I don't as they are invisible glitched Pokemon but on my botted acct those I've never ran into the invisible Pokemon in my bag as the boy transfers them.

[2016-08-27 16:08] davidspeijer commented on #4812
I had it also this morning.

`pip install -r requirements.txt --upgrade`

Solved it for me

[2016-08-27 16:10] th3w4y commented on #4751
@lntn

.get_alt() implements that in the polyline class

[2016-08-27 16:28] th3w4y commented on #4808
@kolinchang can you also copy&paste output of

`docker inspect --format='{{.Created}} {{.ContainerConfig.Labels}}'  7fde22682ef4`

Thanks

[2016-08-27 16:30] th3w4y commented on #4808
@kolinchang

it is now TIMEZONE (uppercase)

[2016-08-27 16:37] th3w4y commented on #4808
@kolinchang you are mentioning that you are in branch dev

if you want to docker build "dev"
then use BUILD_BRANCH --build-arg

docker build --build-arg BUILD_BRANCH=dev .

or even:

docker build --build-arg BUILD_BRANCH= f0623bd

Otherwise the default is "master"

Git Commit: f0623bd

[2016-08-27 16:38] TheOwl99 commented on #4812
where do i put it? I am in windows

[2016-08-27 16:39] avneetsb opened #4815 "No Module named telegram"
Traceback (most recent call last):
  File "pokecli.py", line 46, in <module>
    from pokemongo_bot import inventory
  File "/Users/avneet/Desktop/PokemonGo-Bot/pokemongo_bot/__init__.py", line 21, in <module>
    import cell_workers
  File "/Users/avneet/Desktop/PokemonGo-Bot/pokemongo_bot/cell_workers/__init__.py", line 26, in <module>
    from telegram_task import TelegramTask
  File "/Users/av

[2016-08-27 16:43] updatesvc commented on #4812
run that  code in cmd with this folder "Pokemone-Bot" as the Parent

[2016-08-27 17:11] orchid666 opened #4816 "UTF-8 error after login successful."
### Expected Behavior
Bot working

### Actual Behavior
Bot logs, gives bag contents, list of pokemons then crashes

### Output when issue occurred
UnicodeDecodeError: 'utf8' codec can't decode byte 0x9c in position 1: invalid start byte
2016-08-27 12:02:39,553 [sentry.errors.uncaught] [ERROR] [u'InvalidToken: Invalid token', u'  File "pokecli.py", line 750, in <module>', u'  File "pokecli.py", lin

[2016-08-27 17:12] askovpen commented on #4815
pip install --upgrade -r requirements.txt

[2016-08-27 17:14] askovpen commented on #4816
[code]

[2016-08-27 17:15] orchid666 commented on #4816
And?

[2016-08-27 17:18] askovpen commented on #4816
you enable TelegramTask and set wrong telegram_token

[2016-08-27 17:19] orchid666 commented on #4816
No sure to understand, TelegramTask is on False.

[2016-08-27 17:19] avneetsb commented on #4815
Tried that, and still the same...
Full terminal report below :
Last login: Sat Aug 27 22:07:49 on ttys000
Avneets-MacBook-Air:~ avneet$ cd ~/Desktop/PO
-bash: cd: /Users/avneet/Desktop/PO: No such file or directory
Avneets-MacBook-Air:~ avneet$ cd ~/Desktop/PokemonGo-Bot/
Avneets-MacBook-Air:PokemonGo-Bot avneet$ git pull
Already up-to-date.
Avneets-MacBook-Air:PokemonGo-Bot avneet$ virtualenv .
N

[2016-08-27 17:20] updatesvc opened #4817 "Sentry responded with an error: 'utf8' codec can't decode byte 0x9c in position"
### Expected Behavior
Login as normally it does

### Actual Behavior
`2016-08-27 20:06:46,812 [       cli] [INFO] PokemonGO Bot v1.0
2016-08-27 20:06:46,825 [       cli] [INFO] commit: not found
2016-08-27 20:06:46,846 [       cli] [INFO] No config argument specified, checking for /configs/config.json
2016-08-27 20:06:46,851 [       cli] [WARNING] The daily_catch_limit argument has been moved into

[2016-08-27 17:21] askovpen commented on #4816
yes. i'll fix it

[2016-08-27 17:24] updatesvc opened #4818 "Permanent Ban notifier [REQUEST]"
### Short Description
I want to know if I am permanently banned..

### Possible solution
At the login procedure...an error like "possibly banned "should popup.

### How it would help others
Would save time for many bot user as they would now start with a fresh account.

[2016-08-27 17:26] th3w4y commented on #4234
@rovmelek this us a tricky one... since docker-compose does not support argument style for --build-args then we can support only one timezone...

your proposal to change to something else will become the default for everybody...

what exactly is the problem with the SpeepSchedule?

[2016-08-27 17:30] askovpen commented on #4815
[code]
i don't know :-\

[2016-08-27 17:31] jane0815 commented on #4817
Same problem here. Other account is working normal with the bot. No problems on phone.

[2016-08-27 17:32] avneetsb commented on #4815
:-\
Perhaps i'll just clone the repo again, but I highly doubt it will work :(
Anyways, thanks for looking into it @askovpen

[2016-08-27 17:33] askovpen commented on #4815
try `pip install --upgrade -r requirements.txt` after `source bin/activate`

[2016-08-27 17:35] Gobberwart commented on #4815
I don't use virtualenv, but wondering if this has anything to do with it:

[code]

Requirements being installed to an incorrect location maybe? Sorry, just guesswork.

[2016-08-27 17:37] avneetsb commented on #4815
Aha, gold !

Installing collected packages: pgoapi, urllib3, certifi, python-telegram-bot
  Running setup.py develop for pgoapi
Successfully installed certifi-2016.8.8 pgoapi-1.1.8 python-telegram-bot-5.0.0 urllib3-1.16

Danke @askovpen

[2016-08-27 17:37] #4815 closed

[2016-08-27 17:38] jane0815 commented on #4807
Same problem here. Bot crashed at the same line with same errors.

I had it running without problems after i pulled the update today. But then i seen it had 0 eggs left on the web ui. So i stopped it to login with a phone to see if it really got no eggs. It has 9 eggs and the account is fine too. But i can not start it with the bot.

Another account is working with the same config.

`2016-08-27 19

[2016-08-27 17:41] avneetsb opened #4820 "Invalid Token : Telegram !"
Traceback (most recent call last):
  File "pokecli.py", line 750, in <module>
    main()
  File "pokecli.py", line 115, in main
    bot = initialize(config)
  File "pokecli.py", line 84, in initialize
    initialize_task(bot,config)
  File "pokecli.py", line 78, in initialize_task
    tree = TreeConfigBuilder(bot, config.raw_tasks).build()
  File "/Users/avneet/Desktop/PokemonGo-Bot/pokemongo_bot/

[2016-08-27 17:43] askovpen commented on #4820
#4816

[2016-08-27 17:44] Gobberwart commented on #4818
Once the bot is pretty sure a permaban has occurred, a message reading "Probably permabanned, Game Over !" is displayed.

That's based (as far as I can tell) on whether or not player inventory data can be successfully retrieved from the server.

Not sure if there is currently any other way to tell (even the legit app can't tell you if you're banned).

[2016-08-27 17:46] Gobberwart commented on #4817
I suspect you're banned. The error you're seeing appears to be in the code to raise a permaban exception.

[2016-08-27 17:47] #4818 closed

[2016-08-27 17:49] updatesvc commented on #4817
I agree @Gobberwart
I am closing the issue.

[2016-08-27 17:50] Gobberwart commented on #4817
@updatesvc there's still a bug. There's supposed to be an error message shown, not a complete crash.

[2016-08-27 17:51] Gobberwart commented on #4817
Looking at it now

[2016-08-27 17:53] jane0815 commented on #4817
No the account is not banned. It is working fine on phone. I can spin stops and catch pokemons.

[2016-08-27 18:05] Gobberwart commented on #4817
You sure about that @jane0815 ? The code referenced in the error is specifically related to permaban:

[code]

Do you see that exact error?

[2016-08-27 18:07] Gobberwart commented on #4817
PR being submitted now for this error.

[2016-08-27 18:11] TheOwl99 commented on #4812
i tried to do this and it gave me this error at the end:
Command "c:\python27\python.exe -u -c "import setuptools, tokenize;__file__='c:\\users\\endofall\\appdata\\local\\temp\\pip-build-ouaegc\\xxhash\\setup.py';exec(compile(getattr(tokenize, 'open', open)(__file__).read().replace('\r\n', '\n'), __file__, 'exec'))" install --record c:\users\endofall\appdata\local\temp\pip-ofpali-record\install-re

[2016-08-27 18:11] jane0815 commented on #4817
for me the error is a bit different in this line:

2016-08-27 19:53:40,131 [sentry.errors.uncaught] [ERROR] [u'ValueError: end is out of bounds', u' File "pokecli.py", line 746, in ', u' File "pokecli.py", line 115, in main', u' File "pokecli.py", line 83, in initialize', u' File "pokemongo_bot/__init.py", line 123, in start', u' File "pokemongo_bot/inventory.py", line 1234, in init_inventory', u'

[2016-08-27 18:14] updatesvc commented on #4817
look like it could be another unrelated issue..not sure though

[2016-08-27 18:16] Gobberwart commented on #4817
Yep, that's a different error. Please log a new issue @jane0815

[2016-08-27 18:34] rawgni commented on #4817
looks like the inventory file is corrupted.
can you post the inventory file found in web/inventory-<username>.json ?

[2016-08-27 18:35] sffetlio opened #4823 "Unable to start bot"
### Expected Behavior
Just run

### Actual Behavior
[code]

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
I have both configs/config.json and configs/auth.json as generated by `./setup.sh -i`

### Steps to Reproduce

### Other Information
OS: Ubuntu
Branch: dev
Git Commit: 5e2338802367c29f1bdb17dc409578ba6feeeb2c

[2016-08-27 18:37] Gobberwart commented on #4817
I was thinking that too @rawgni

You can test by stopping the bot, renaming the inventory file "web/inventory-USERNAME.json" to something like "inventory-USERNAME.test.json" and restart the bot. It should recreate the inventory file on startup.

[2016-08-27 18:39] rawgni commented on #4823
do `python pokecli.py -af configs/config.json` for now

there is a PR for the fix.

[2016-08-27 18:41] sffetlio commented on #4823
I just saw the pr #4814. It works.

[2016-08-27 19:12] avexus commented on #4114
Well, 4 accounts got banned including my main, which i have 4 perfect pokemons, including Dragonite, Lapras, Vaporeon, and Gyaratos. And from what I read and my own experience, this bot is not safe.
After some online research, I used some other tools to get me lvl 16, with 4 of them 100% IV, 1 Dragonite, 1 Dratini, 1 Eevee, and 1 Electrode. I am only catching 100% IV from now on. I don't want my p

[2016-08-27 19:29] 4IbWNsis3S opened #4826 "Complaint and request"
Can we start getting more checks before moving things to Master? If a batch script that breaks three-conditions in to execution because someone messed up path-handling can make it in anything can.. Referring to updated install-bat.

Also more features are being added to configs and only about 20% of the original are actually documented. People who want to do their configs right are left to reverse

[2016-08-27 19:32] hiking93 commented on #4247
There's a config parameter now: `"daily_catch_limit": 800`

[2016-08-27 19:38] #4826 closed

[2016-08-27 19:38] supergithubo commented on #4114
@avexus I'll also stop using this bot. Just waiting for my two remaining bots to die. We've been like pokemons and Niantic catched us all. Lol.

[2016-08-27 19:40] Mephistophiles opened #4827 "[dev] Stats not loaded yet"
### Expected Behavior

When a send /info, I receive a message containing my stats
### Actual Behavior

When I send /info, I receive a message: "Stats not loaded yet"

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

https://zerobin.net/?5e3c76c169e8bb7a#6+k811VhUdqhGhAk8V0VHuHQ15z1Nyz+47ZTZKBsn+U=
### Other Information

OS: ArchLinux

Branch: dev

Git

[2016-08-27 19:41] Mephistophiles commented on #4827
it dup #4823

[2016-08-27 19:51] BreezeRo commented on #4827
This might be because `_get_player_stats(self):` is defined after it is used. Can you open pokemongo_bot/cell_workers/telegram_tasks.py and move the last block

`    def _get_player_stats(self):
        """
        Helper method parsing the bot inventory object and returning the player stats object.
        :return: The player stats object.
        :rtype: dict
        """
        web_inventory =

[2016-08-27 19:51] Gobberwart commented on #4820
Until this PR is merged, you can avoid the error by removing the TelegramTask from config.json (not disable, remove the task entirely)

[2016-08-27 19:56] Mephistophiles commented on #4827
[code]
The same result.

[2016-08-27 19:58] Gobberwart commented on #4827
Yep, move it back, that won't help.

I believe this is to do with when the stats are written to output file. At present, this happens when UpdateLiveStats runs.

[2016-08-27 20:03] Gobberwart commented on #4827
Hmmm, UpdateLiveStats runs at bot start, so the stats should be there pretty quickly.

[2016-08-27 20:04] Mephistophiles commented on #4827
When I turned on the option bot earned.

[2016-08-27 20:05] jane0815 commented on #4817
Bot is working again after i delete all and pulled a new clone.

But your guess is right i think. Bot was stopped after web showed it had 0 eggs left.

[2016-08-27 20:08] Gobberwart commented on #4827
Make sure you have UpdateLiveStats enabled in your config.

@Mephistophiles earned? What option? What happened exactly?

[2016-08-27 20:08] Mephistophiles commented on #4827
UpdateLiveStats turn on

[2016-08-27 20:11] Gobberwart commented on #4827
And then what happens? The bot "earned"???

[2016-08-27 20:11] Mephistophiles commented on #4827
yep

[2016-08-27 20:11] Gobberwart commented on #4827
But yes, the stats will never update if UpdateLiveStats is not turned on.

[2016-08-27 20:11] Gobberwart commented on #4827
earned what?

[2016-08-27 20:12] Mephistophiles commented on #4827
Telegram bot earned)

[2016-08-27 20:12] Gobberwart commented on #4827
OK so it's working now?

[2016-08-27 20:12] jane0815 opened #4828 "[MoveToMapPokemon] Stopped working"
### Expected Behavior

Bot move to a pokemon on map.

### Actual Behavior

Bot does only move to forts.

### Your FULL config.json

 < edit - config removed after problem found >

### Steps to Reproduce

Run bot

### Other Information
OS:  Mac
Branch: dev
Git Commit: 5e2338802367c29f1bdb17dc409578ba6feeeb2c
Python Version: Python 2.7.12

[2016-08-27 20:13] Mephistophiles commented on #4827
Yes

[2016-08-27 20:13] BreezeRo commented on #4827
@Gobberwart the output file is a database, so even when it is in use it would not be a problem to read data.

I think what's happening with the original poster is that he is not collecting stats (config.json, updatelivestat task enabled to true), or he is using a level 1 untouched new pgo account.

[2016-08-27 20:14] Gobberwart commented on #4790
I vaguely recall seeing another issue about failing to throw berries with unknown response. Sorry can't remember what the outcome was. Maybe search issues.

[2016-08-27 20:16] Gobberwart commented on #4827
@BreezeRo the telegram task gets its player_data info from the web inventory (web/inventory-username.json). If that hasn't had the info written yet (by UpdateLiveStats) there's no data to populate the database with. UpdateLiveStats needs to be enabled for anything related to collection/output of player data.

This is probably undesirable behaviour, but that's how it works currently.

[2016-08-27 20:26] Gobberwart commented on #4827
If telegram_task.py made an api call instead of relying on UpdateLiveStats / web inventory file, it would work.

eg. replace get_player_stats with:

[code]

Not really desirable as it makes an api call, but it's either that, run UpdateLiveStats, or find another way to get this information so it's available throughout the bot without making ridiculous numbers of api calls.

[2016-08-27 20:35] #4543 closed

[2016-08-27 20:40] BreezeRo commented on #4827
Yes but in this case the error he mentioned is only thrown in the exception below

                            cur = conn.cursor()
                            cur.execute("SELECT DISTINCT COUNT(encounter_id) FROM catch_log WHERE dated >= datetime('now','-1 day')")
                            catch_day = cur.fetchone()[0]
                            cur.execute("SELECT DISTINCT COUNT(pokestop) FROM

[2016-08-27 20:46] mjmadsen commented on #4828
Could you try reverting to a previous commit and see if the same thing happens? Could possibly be a softban (seeing no pokemon is one of them).

[2016-08-27 21:16] jane0815 commented on #4828
I don't know how to do that. I think it already stopped working yesterday but not sure.

Account is not softbanned. Terminal Log is normal, bot is just not using MoveToMapPokemon.

I see only tasks MoveToFort, PokemonCatchWorker, SpinFort, UpdateLiveStats, IncubateEggs.

[2016-08-27 21:16] orchid666 opened #4829 "Telegram bot :wrong stats per day"
So im using the new telegram feature, and when i do a /info in the telegram app i get the stats of my bot including stats per day.
Those stats per day sometime decrease for no apparent reason.
Example: At 3:45 PM i had "182 pokemons captured today". Then at 4:07PM i had "175 pokemons captured today".
Maybe it removes the pokemons released from calculation?

[2016-08-27 21:23] mjmadsen commented on #4828
It's really frustrating as a dev to ask someone for data and have the person they're trying to help not provide the data. Your terminal long might look normal to you, but to a dev they might see the problem.

[2016-08-27 21:25] #4823 closed

[2016-08-27 21:25] mjmadsen commented on #4820
Merged

[2016-08-27 21:25] #4820 closed

[2016-08-27 21:26] mjmadsen commented on #4817
Please open a new issue if you have problems (it should be showing a new error log).

[2016-08-27 21:26] #4817 closed

[2016-08-27 21:27] mjmadsen commented on #4816
Merged. Please reopen with new logs if not working

[2016-08-27 21:27] #4816 closed

[2016-08-27 21:28] mjmadsen commented on #4779
Please open a new issue and complete the template.

[2016-08-27 21:28] #4779 closed

[2016-08-27 21:28] mjmadsen commented on #4768
@Bashin How is it going?

[2016-08-27 21:29] #4775 closed

[2016-08-27 21:29] #4678 closed

[2016-08-27 21:31] mjmadsen commented on #4785
@pranavperfect looks like local issues

[2016-08-27 21:31] #4785 closed

[2016-08-27 21:32] mjmadsen commented on #4808
@kolinchang What's your status

[2016-08-27 21:34] #4768 closed

[2016-08-27 21:35] askovpen commented on #4829
today - in 24 hour, not from start of day.

[2016-08-27 21:37] jane0815 commented on #4828
I'm so sorry. :(

The problem is i HATE to publish private data. I already feel bad to post my whole config here.

Publish the whole terminal log feels even worse. I still think there is no information about my problem with movetomap but i hope you will prove me wrong and i did not reveal all my details for nothing.

2016-08-27 23:26:47,866 [       cli] [INFO] PokemonGO Bot v1.0
2016-08-27 23:26:4

[2016-08-27 21:37] orchid666 commented on #4829
Then could it be "past 24h" or something like that instead of "today"?. It might be misleading. Sorry if im being picky :)

[2016-08-27 21:39] askovpen commented on #4829
ok. rename in next patch

[2016-08-27 21:39] orchid666 commented on #4829
Thanks :)

[2016-08-27 21:48] loflol opened #4830 "error: bad char in struct format Removing descriptor: 7L, but the bot runs"
### Expected Behavior

No error message

### Actual Behavior

Some error messages

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

[config.json.txt](https://github.com/PokemonGoF/PokemonGo-Bot/files/440865/config.json.txt)

### Output when issue occurred

2016-08-27 22:23:54,670 [       cli] [INFO] PokemonGO Bot v1.0
2016-08-27 22:23:54,713 [       c

[2016-08-27 21:50] sohje commented on #4828
@jane0815 Hey) Do you use separate pokego-map? Or you want to use map-chat feature to gather pokemons?
If you already started separate process with pokego-map, then you should update your config and set:
[code]
@mjmadsen When social_enable is True, method **get_pokemon_from_social** return empty list. No pokemons.

[2016-08-27 22:14] jane0815 commented on #4828
@sohje That fixed it! Thanks a lot dude! :)

Yes i am running my own local map, will check what social_enable is used for!

It's always kind of hard to find out what new features do.

[2016-08-27 22:14] #4828 closed

[2016-08-27 22:15] sohje commented on #4828
@jane0815 nice ;]

[2016-08-27 23:23] kolinchang commented on #4808
@th3w4y , @mjmadsen
"docker inspect --format='{{.Created}} {{.ContainerConfig.Labels}}' 7fde22682ef4" gives:
2016-08-27T12:30:32.3502195Z map[build_branch:master build_repo:PokemonGoF/PokemonGo-Bot]

looks like you are right, I'm on master even though I checked out dev

I can also confirm that using build arg TIMEZONE does fix docker build error.

It still looks like it cannot find config.json, al

[2016-08-27 23:28] th3w4y commented on #4808
@kolinchang  -af configs/auth.json as @leadboots5 suggested

as for the docker part if you want to build **dev** in your case you should run
`docker build --build-arg BUILD_BRANCH=dev --build-arg TIMEZONE=Europe/London .`

[2016-08-27 23:44] kolinchang commented on #4808
@th3w4y You might also be interested to know that
```docker build --build-arg TIMEZONE=Australia/Melbourne,BUILD_BRANCH=dev -t pokemongo-bot .```

running without TIMEZONE gives a similar message;

failed with message:
Sending build context to Docker daemon 47.66 MB
Step 1 : FROM alpine
 ---> 4e38e38c8ce0
Step 2 : ARG BUILD_REPO=PokemonGoF/PokemonGo-Bot
 ---> Using cache
 ---> 6c966d32b7e0
Step 3

[2016-08-27 23:46] kolinchang commented on #4808
@th3w4y  just saw your comment, trying now!

[2016-08-27 23:50] LeonardoVilarinho opened #4834 "How to unban permanent ban of Pokemon Go Bot"
Is there any possibility to unban an account permanently banned Pokemon Go?

I used the bot, but recently was banned, wanted to unban the account to play, now without the bot. Because it is difficult for me to create a new account because I use Windows Phone (with PoGo).

My user banned: _leonardovilarinh_

Sorry for my English.

[2016-08-28 00:08] alexmuntean opened #4835 "IncubateEggs task is incubating in breakable "2" (km) when is configured only for "10" (km)"
### Expected Behavior

Breakable should incubate only 10 km eggs.
config:
[code]

### Actual Behavior

It incubates any eggs. I had only 2 km eggs

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

http://pastebin.com/AYnhUu9p

### Other Information
OS: OSX latest

Branch: master

Git Commit: ed095936e8fb2bdb7442c9966630664f0cb739ea

Python Version: Py

[2016-08-28 00:10] kolinchang commented on #4808
builds successfully.
```docker inspect --format='{{.Created}} {{.ContainerConfig.Labels}}' 7fde22682ef4```

I'm running the following to start the bot, can you point out what I am doing wrong?

```docker run --name=bot2b60dbd8-3261-47e3-a435-58b96e3831e4-pokego --rm -it -v C:/Users/ko/git/PokemonGo-Bot/configs/config.json:/usr/src/app/configs/config.json -v C:/Users/ko/git/PokemonGo-Bot/web/:/usr/

[2016-08-28 00:13] th3w4y commented on #4808
docker build does not take comma separated build-args... correct command is:

docker build --build-arg TIMEZONE=Australia/Melbourne --build-arg
BUILD_BRANCH=dev
-t pokemongo-bot .

On Sun, Aug 28, 2016 at 1:44 AM, kolinchang <notifications@github.com>
wrote:

[2016-08-28 00:13] kolinchang commented on #4808
@th3w4y  noted

[2016-08-28 00:15] th3w4y commented on #4808
@kolinchang you pasted the output of created and labels of the old build

[2016-08-28 00:16] IamCarbonMan commented on #4834
You can submit a ban appeal to Niantic, but if they don't accept it you're out of luck: https://support.pokemongo.nianticlabs.com/hc/en-us/articles/225146308-Submit-a-ban-appeal

[2016-08-28 00:17] kolinchang commented on #4808
2016-08-27T12:30:32.3502195Z map[build_branch:master build_repo:PokemonGoF/PokemonGo-Bot]

[2016-08-28 00:19] th3w4y commented on #4808
@kolinchang can you paste output of your last few lines of your build command?

[2016-08-28 00:19] kolinchang commented on #4808
@th3w4y Just realised I have been doing that command wrong.
I think you asked for is this:
```docker inspect --format='{{.Created}} {{.ContainerConfig.Labels}}' pokemongo-bot```

[2016-08-28 00:20] th3w4y commented on #4808
@kolinchang ok so the build is based on dev now... but your -v (the volumes seems wrong...)

[2016-08-28 00:23] kolinchang commented on #4808
@th3w4y I suspect that could the case. ran it without all the -v

```docker run --name=bot2b60dbd8-3261-47e3-a435-58b96e3831e4-pokego --rm -it pokemongo-bot -af configs/auth.json -cf configs/config.json```

[2016-08-28 00:25] th3w4y commented on #4808
@kolinchang  maybe just use -v C:/Users/ko/git/PokemonGo-Bot/configs:/usr/src/app/configs (that should be enough right?)

[2016-08-28 00:31] kolinchang commented on #4808
@th3w4y , you are right! Looks like I'm on the right track.  Normally I get this error when docker have no credential for access drive C:.  Not today it looks like.

this is still not working for me:
```docker run --name=bot1-pokego --rm -it -v C:/Users/ko/git/PokemonGo-Bot/configs:/usr/src/app/configs pokemongo-bot```

I will play around for a while and keep you guys updated if I find anything.

[2016-08-28 00:32] Gobberwart commented on #4834
Chances are they're pretty certain you've been botting or they wouldn't have banned you. Good luck, but I reckon you can kiss the account goodbye :(

[2016-08-28 00:32] kolinchang commented on #4808
We should update installation.md for TIMEZONE update though.

[2016-08-28 00:33] th3w4y commented on #4808
@kolinchang already created a PR #4833

[2016-08-28 00:51] IamCarbonMan commented on #4834
Yeah, permabans are pretty end-all. I mean, if their response to a month-old customer service request involving an actual bug in their game that caused a user to lose money, was "r"...

[2016-08-28 00:52] cbogithub commented on #4812
install git, pip
run python.exe -m pip install -r requirements.txt
then python.exe -m pip install -r requirements.txt --upgrade

[2016-08-28 01:07] Gobberwart commented on #4800
See PR #4832 for improved version of this

[2016-08-28 01:09] Gobberwart commented on #4834
"r" - Albert Einstein

[2016-08-28 01:10] IamCarbonMan commented on #4834
I think that one can stand without a citation. I mean, it's already on its way to becoming an urban legend...

But I'll give it to you anyways https://www.reddit.com/r/pokemongo/comments/4yikec/niantic_responded_to_my_help_ticket_after_35_days/

[2016-08-28 01:10] th3w4y commented on #4834
@IamCarbonMan thanks!

[2016-08-28 01:19] Gobberwart commented on #3718
This was done and can be closed now

[2016-08-28 01:30] Gobberwart commented on #4754
Re api calls.. In an ideal universe the bot would only call the api when absolutely necessary, ie. To perform an action for the most part. As far as  things like player stats and inventory,  the bot should grab that info at start, store it in a database, then only refer to the database for future info. Sanity check every so often just to make sure nothing is wrong.

Just my ramble

[2016-08-28 01:50] Enviouse commented on #4114
Just won't use to no the bot works fine I have not been cought/banned I'm lv 30 been that way for months it's how u use the bot to no get banned eg local use only

[2016-08-28 02:24] hobbes3 opened #4836 "Pokemon capture percentage inaccurate/confusing."
### Expected Behavior

If the chance to capture a pokemon is over 100% then it should always capture.

### Actual Behavior

It still misses sometimes.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

    {
        "auth_service": "ptc",
        "username": "xxx",
        "password": "xxx",
        "location": "37.795614,-122.393536",
        "favorit

[2016-08-28 03:21] nealqu commented on #3537
Same here mass evolve next day I was banned.

[2016-08-28 03:30] Gobberwart commented on #4836
You'd think so, but I'd guess there's still random chance of failure, even if it's 100%. A critical miss if you like. Basically, your stats say you have 100% but there's still always some chance you'll screw it up.

[2016-08-28 03:31] Gobberwart commented on #4836
Although... it looks like it's stacking berries and it shouldn't be. Once a berry is "used" (ie. after you throw berry followed by ball) it should reset, not keep increasing chance.

[2016-08-28 03:51] dummyaja opened #4837 "MoveToMapPokemon not working from master"
ISSUE

### Expected Behavior

Snipe / Teleport to  Pokemon position from PokemonGo-Map raw-data

### Actual Behavior

Nothing happen, never saw logs for teleporting to pokemon position in map

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

{
    "auth_service": "ptc",
    "username": "xxx",
    "password": "xxx",
    "location": "xxx, xxx",
    "fav

[2016-08-28 03:54] hobbes3 commented on #4836
Also a few more weird things:

1. It stopped using Ultraballs and used Great balls (even though I had over 100 Ultraballs left but only a few Greatballs left)
2. It stopped throwing a Razz berry after a while.

[2016-08-28 03:59] philzeey opened #4838 "How to make it so there's a radius for where it can walk?"
I've tried looking up many different open/closed issues revolved around having a predefined area for which the bot can roam around. I've had some luck I guess... Right now i've taken out :
  {
        "type": "MoveToFort",
        "config": {
          "lure_attraction": true,
          "lure_max_distance": 2000
        }
      },
      {
        "type": "FollowSpiral",
        "config": {

[2016-08-28 04:10] alexyaoyang commented on #4838
Try putting the `MoveToFort` task below `FollowPath` task and giving some `loiter` time at the respective path stops

[2016-08-28 04:11] alexyaoyang commented on #4835
Update to latest dev, this is fixed recently.

[2016-08-28 04:23] Anakin5 commented on #4835
It is not, I am running on head right now and it is still incubating 5km egges in breakable:

```Eggs incubating: [4.49/5.0 km, 3.70/5.0 km, 3.34/5.0 km] (Eggs left: 6, Incubating: 3)```

[code]

[2016-08-28 04:30] duttonw opened #4840 "when capturing pokemon, adjust capture waits to account for pokemon blocks"
### Short Description
Somewhere in the application there must be a setting on how often and for how long a pokemon blocks pokeball throws. This unavailable capture from the application means normal users can't capture it at this time. But our bot may be sending in a threw pokeball capture call at this time and show up as an anomaly . #4114

### Possible solution
When the bot starts getting into th

[2016-08-28 04:34] lntn commented on #4838
The problem is that `loiter` only limit it by number of seconds, still lacking the ability to limit bot roaming by distance (e.g. radius)

[2016-08-28 04:36] Anakin5 commented on #4835
After reading the code,it is quite clear where this bug (and other bugs) are:
- ``temp_ready_incubators```only contains the id of the incubator, and not the "uses_remaining" attributes. This cause breakable incubator to be treated as infinite ones and thus hatching eggs initially configured for the infinite only.
- If only one egg 10 km in the bag, and you have infinite and one free breakable incu

[2016-08-28 04:37] kolinchang commented on #4808
@th3w4y restarting computer perhaps just restarting docker fixed this.

[2016-08-28 04:37] #4808 closed

[2016-08-28 04:51] lntn opened #4841 "JSON file read/write errors / corruption causing crash"
### Expected Behavior
Bot can start normally

### Actual Behavior
Bot could not start with `ValueError("No JSON object could be decoded")`

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
[code]

### Output when issue occurred
[code]

### Steps to Reproduce
Yesterday it was still running fine. Tried to start it for today and got this error.

### Other

[2016-08-28 04:56] alexyaoyang commented on #4838
@lntn That sounds like a feature request. @philzeey You can still try my suggestion for now.

[2016-08-28 04:57] alexyaoyang commented on #4835
Ping @rawgni

[2016-08-28 05:02] leadboots5 commented on #4841
does your config file run through jsonlint fine?

[2016-08-28 05:06] warxhead1 commented on #4837
i'm also having this issue on both master and dev branch. it doesn't give the error that it doesn't detect the map when it isn't running either

[2016-08-28 05:07] leadboots5 commented on #4840
I'm going to tentatively say the bot accounts for this. There are plenty of times the bot will throw a nice/great/etc.. ball, but it won't hit. You can feel free to set the miss rate.

I won't close this as I'm not 100% sure I answered your question and maybe I'm missing what you're getting at.

            "hit_rate": 0.75

[2016-08-28 05:07] philzeey commented on #4838
Alright I'll give it a shit @alexyaoyang

[2016-08-28 05:08] philzeey commented on #4838
*Shot

[2016-08-28 05:09] leadboots5 commented on #4838
The bot used to have max # of cells, but it was taken out. I use follow path so I'm guessing, but I think the idea is you can use avoid circle set to a good # with spiral to limit your range.

[2016-08-28 05:11] #4834 closed

[2016-08-28 05:23] lntn commented on #4841
@leadboots5 yup, valid JSON

[2016-08-28 05:59] lntn commented on #4841
I don't know why but after deleting everything and run installation again, the bot is back to work with exactly the same config files...

The only difference is I'm using dev branch now.

So you guys may keep this open for further debugging if necessary.

[2016-08-28 06:00] rawgni commented on #4841
it's something to do with inventory-USERNAME.json file under web/

[2016-08-28 07:22] ermanherman opened #4846 "Info Button (on web) probelm"
Hi there,

I having problem with when i click INFO button on submenu on webpage it should display my status, exp, and etc, but it not work. It will shown last action i do, for example i click on item, it will shown item in my inventory, but when i click on info it also will show item in my inventory.

Here error on my console (firefox)

`TypeError: self.user_data[self.settings.users[user_id]].stat

[2016-08-28 07:28] mjmadsen commented on #4323
Closing.

[2016-08-28 07:30] mjmadsen commented on #4838
We have a feature request up for staying in a limited area. #3580

[2016-08-28 07:32] takenek opened #4847 "Telegram documentation missing"
Hello
Like everyday i just do git pull and i see new configuration option: telegram token
What is that? where i get this?
I try find here in readme but i don't see any information.

Best Regards

[2016-08-28 07:37] mjmadsen commented on #4800
Merged to dev!

[2016-08-28 07:37] #4800 closed

[2016-08-28 07:38] mjmadsen commented on #4767
@askovpen Merged. Check it out!

[2016-08-28 07:38] #4767 closed

[2016-08-28 07:39] mjmadsen commented on #4761
@ravenda900 Still having problems?

[2016-08-28 07:42] mjmadsen commented on #4755
@lntn Did you get the answer you were looking for?

[2016-08-28 07:44] 4IbWNsis3S commented on #4847
Because even though the config objects are updated rapidly the config documentation itself stays around 15% completed.. The people who add the config objects do not document them and people who can reverse engineer the scripts to document them are typically too busy..

[2016-08-28 07:44] mjmadsen commented on #4522
@duttonw Can we close?

[2016-08-28 07:46] mjmadsen commented on #3911
Haven't heard anything in 5 days. Closing.

[2016-08-28 07:46] #3911 closed

[2016-08-28 07:47] #3718 closed

[2016-08-28 07:54] mjmadsen commented on #4630
#3574 for adding a proxy.

I think that is about as close as we will get to this. As long as you're not moving miles away, there wouldn't be much need to keep changing it.

https://www.quora.com/Does-my-mobile-phone-have-a-fixed-IP-address-or-does-it-change-frequently

[2016-08-28 07:54] #4630 closed

[2016-08-28 07:55] Gobberwart commented on #4846
This has all been fixed in dev.

[2016-08-28 07:56] #4846 closed

[2016-08-28 07:57] duttonw commented on #4522
we do know that there is 3 levels per badge. i've only testing to level 1,2. since level 3 takes a while to do on a real account. They may only equip at max level but i don't have enough information to conclude that.   For now i'll close it, but we need more information and maybe a phone running the app that crosses the lvl 3 threshold and checking if the player_data equiped_badges gets updated.

[2016-08-28 07:58] Gobberwart commented on #4841
Yes, it is. The file can get corrupted if the bot is stopped while this file is open for write. Next time, just delete web/inventory-USERNAME.json and restart.

[2016-08-28 07:58] #4522 closed

[2016-08-28 08:00] mjmadsen commented on #4790
@db-coder my guess it that the pokemon disappeard before the berry was thrown. Only other issue I could find with berries and unknown was merged a bit ago (#4290).

As to why there was a 4 minute gap between the pokemon appearing and an action, I do not know. I don't think running an older version of Ubuntu would cause such a thing (:P). Are you still seeing long delays between actions?

[2016-08-28 08:02] daemonsyn commented on #4837
Same here.

[2016-08-28 08:02] duttonw commented on #4754
check awarded badges is currently in the heartbeat.

My PR #4746 stored the awarded badge in the bot, and also updated the player_data on every heartbeat. so we could remove the get player_data api calls from some tasks if last 10 second (give or take delays) is good enough.

[2016-08-28 08:06] mjmadsen commented on #4847
The original request might shed some light on it #4353. Purpose is to remotely check a bot's progress.

I'm also guilty of not updating all docs. Sorry!

[2016-08-28 08:10] Gobberwart commented on #4841
I'll leave this open for debugging. Sorry, can't do it now. Will be tomorrow morning (AEST) then I'll see what I can do.

[2016-08-28 08:11] mjmadsen commented on #4830
Luckyme merged a fix for this. Try out the new dev branch.

[2016-08-28 08:27] db-coder commented on #4790
Hi,
I disabled enable-social and removed recylce_force and I'm not getting the delays now.
Currently, my bot is not doing anything. It's just stuck here:
[code]

[2016-08-28 08:39] lntn commented on #4755
yup. please close.
Hopefully someone can help to update the documentation for the next person like me.

[2016-08-28 08:39] 4IbWNsis3S commented on #4847
pokecli.py has all the config entries for anyone curious. Look for the series of "add_config" entries and there are some others in "attrs" below that. I don't have time to confirm this is all of them though. I didn't see "PokemonOptimizer", for example.

[2016-08-28 08:45] #4755 closed

[2016-08-28 08:45] lntn opened #4849 "Combining FollowPath, Loiter and MoveToFort causing fort spinning loop"
### Expected Behavior
No loop in spinning forts, e.g. avoid circle

### Actual Behavior
Looped

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
[code]

### Output when issue occurred
[code]

### Steps to Reproduce

### Other Information

Branch: dev
Git Commit: 5e706086d2d5b23ba9966170d4b18ddaed26b6f2

[2016-08-28 08:48] uic3hj opened #4850 "Help setting up bot"
Hello! i got errors:
Anyone knows what is the problem here?
2016-08-28 16:46:52,706 [       cli] [INFO] PokemonGO Bot v1.0
2016-08-28 16:46:52,720 [       cli] [INFO] commit: not found
2016-08-28 16:46:52,724 [       cli] [INFO] No auth argument specified, checking for C:\Users\Anthony\Desktop\PokemonGo-Bot-master\pokemongo_bot\..\configs\auth.json
2016-08-28 16:46:52,734 [       cli] [INFO] Error

[2016-08-28 09:04] MZorzy commented on #4850
have u edited auth.json ?

[2016-08-28 09:06] askovpen commented on #4847
[Telegram](https://telegram.org/)
[Getting Telegram Token](https://core.telegram.org/bots#6-botfather)

[2016-08-28 09:16] MrDibbley opened #4851 "Lastest master: ImportError: No module named urllib.request"
### Expected Behavior
./run.sh executes without error

### Actual Behavior
pulled latest master, ran ./setup.sh -i to install and created the two config files

### Output when issue occurred
[root@centos PokemonGo-Bot]# ./run.sh
Traceback (most recent call last):
  File "pokecli.py", line 46, in <module>
    from pokemongo_bot import inventory
  File "/tmp/PokemonGo-Bot/pokemongo_bot/__init__.py",

[2016-08-28 09:17] OlafBerens opened #4852 "Running on Windows Error"
After today´s update i got this message

Traceback (most recent call last):
  File "pokecli.py", line 46, in <module>
    from pokemongo_bot import inventory
  File "D:\Pokemon\phy\PokemonGo-Bot - olaf.berens.google\pokemongo_bot\__init__
.py", line 22, in <module>
    import cell_workers
  File "D:\Pokemon\phy\PokemonGo-Bot - olaf.berens.google\pokemongo_bot\cell_wor
kers\__init__.py", line 26, i

[2016-08-28 09:32] rawgni commented on #4850
@uic3hj seems like you are missing a config.json file

[2016-08-28 09:37] LuckyMe4Evers commented on #4852
Are you using telegram ? If not change in auth.json "telegram_token": "" let it empty (like it is here)

[2016-08-28 09:37] mjmadsen commented on #4835
Merged to dev.

[2016-08-28 09:37] #4835 closed

[2016-08-28 09:46] mjmadsen commented on #4849
What's your configs/path.q1.json look like.

[2016-08-28 09:49] lntn commented on #4849
[code]

[2016-08-28 09:55] mjmadsen commented on #4849
That's the purpose of loiter.

[2016-08-28 10:00] mjmadsen commented on #4830
@loflol Please reopen if the problem persists.

[2016-08-28 10:00] #4830 closed

[2016-08-28 10:01] mjmadsen commented on #4847
@askovpen Could you put a PR in to update configuration_files.md with information about this feature?

[2016-08-28 10:03] mjmadsen commented on #4852
@askovpen Are we missing it in requirements.txt?

[2016-08-28 10:04] mjmadsen commented on #4851
@askovpen is this the same problem as #4852?

[2016-08-28 10:06] mjmadsen commented on #4811
@Gobberwart Is this the same as #4841?

[2016-08-28 10:08] mjmadsen commented on #4754
@Gobberwart @duttonw I love it.

[2016-08-28 10:09] lntn commented on #4849
agree. however my point is should the "avoid circle" rules apply here too? Which means the bot should move on to other stops instead of keeping returning to the same ones?

[2016-08-28 10:10] mjmadsen commented on #4689
@supercourgette any ideas?

[2016-08-28 10:12] mjmadsen commented on #4849
I think avoid circles won't function under these circumstances. Forts will be available again before we move out of the area, so I don't think there is a way we could implement that.

[2016-08-28 10:14] mjmadsen commented on #4790
Hm... Can you put up your new config? Sorry you're running into so many problems! Hopefully we'll get you going soon.

[2016-08-28 10:17] Gobberwart commented on #4811
@mjmadsen It's a bit different, but again has to do with reading/writing json files. Not sure what's going on but will add it to my list to look at.

[2016-08-28 10:19] mjmadsen commented on #4811
Thanks bud. :+1:

[2016-08-28 10:31] mjmadsen commented on #4838
I find a lower max_circle or disabled avoid_circles works decently with the base config. Apart from that and the solutions provided here, not much else we can say until the above mentioned FR gets finished.

[2016-08-28 10:31] #4838 closed

[2016-08-28 10:35] alphacino opened #4853 "Plz Help me"
Why does api error any time?
yesterday is nomally, but today ...

2016-08-28 21:11:45,078 [PokemonCatchWorker] [INFO] [threw_pokeball] Nice throw! Used Pokeball, with chance 40.01 (0 left)
2016-08-28 21:11:45,625 [PokemonCatchWorker] [INFO] [pokemon_capture_failed] Pokeball thrown to Voltorb missed.. trying again!
2016-08-28 21:11:56,407 [PokemonCatchWorker] [INFO] [threw_pokeball] Nice throw! Use

[2016-08-28 10:36] mjmadsen commented on #4811
Maybe as a bandaid we try reading the file, if it fails we delete and recreate it? At least we can avoid people crashing entirely (but will teleport to their start location).

[2016-08-28 10:41] askovpen commented on #4852
[code]

[2016-08-28 10:41] askovpen commented on #4851
[code]

[2016-08-28 10:42] askovpen commented on #4853
every 28-30 min session restarted

[2016-08-28 10:43] sohje commented on #4837
guys, set this:
[code]

[2016-08-28 10:43] askovpen commented on #4847
yes

[2016-08-28 10:45] mjmadsen commented on #4847
Thank you! :+1:

[2016-08-28 10:46] mjmadsen commented on #4849
@lntn Is that satisfactory?

[2016-08-28 10:48] db-coder commented on #4790
My current config:
[code]

Another error that I got recently:

[code]

[2016-08-28 10:48] MrDibbley commented on #4851
$ pip install --upgrade -r requirements.txt = same result

`[root@centos PokemonGo-Bot]# pip install --upgrade -r requirements.txt
Requirement already up-to-date: numpy==1.11.0 in /usr/lib64/python2.7/site-packages (from -r requirements.txt (line 1))
Requirement already up-to-date: networkx==1.11 in /usr/lib/python2.7/site-packages (from -r requirements.txt (line 2))
Obtaining pgoapi from git+http

[2016-08-28 10:49] lntn commented on #4849
I think avoid circle may works if we keep those stops in the buffer and skip them when searching for pokestop?

[2016-08-28 10:58] MrDibbley commented on #4851
edited /PokemonGo-Bot/lib/python2.7/site-packages/telegram/inputfile.py line 34 from

from future.moves.urllib.request import urlopen

to

from urllib2 import urlopen

gets the bot running on centos 7 with python 2.7?

[2016-08-28 11:04] askovpen commented on #4851
try `pip install --upgrade -r requirements.txt` after bin/activate

[2016-08-28 11:11] Gobberwart commented on #4811
Heh, we're on exactly the same wavelength. I was looking at something like the following as a temporary fix/workaround for the items:

``
        try:
            with open(web_inventory, "r") as infile:
                json_inventory = json.load(infile)
        except ValueError:
            # Unable to read json from web inventory
            # File may be corrupt. Create a new one.

[2016-08-28 11:18] MrDibbley commented on #4851
@askovpen same result

[2016-08-28 11:22] askovpen commented on #4851
show output of `pip install --upgrade python-telegram-bot==5.0.0`

[2016-08-28 11:22] J-Bones commented on #4852
Thanks that fixed it

[2016-08-28 11:22] MrDibbley commented on #4851
(PokemonGo-Bot) [root@centos PokemonGo-Bot]# pip install --upgrade python-telegram-bot==5.0.0
Requirement already up-to-date: python-telegram-bot==5.0.0 in ./lib/python2.7/site-packages
Requirement already up-to-date: future>=0.15.2 in ./lib/python2.7/site-packages (from python-telegram-bot==5.0.0)
Requirement already up-to-date: urllib3>=1.10 in ./lib/python2.7/site-packages (from python-telegram

[2016-08-28 11:23] MrDibbley commented on #4851
from stackoverflow it maybe a python 2 v python 3 thing:

he urllib and urllib2 packages have been split into urllib.request , urllib.parse and urllib.error packages in Python 3.x. The latter packages do not exist in Python 2.x

hence changing to urllib2 works ?

[2016-08-28 11:24] askovpen commented on #4851
I create [Issue](https://github.com/python-telegram-bot/python-telegram-bot/issues/398)

[2016-08-28 11:45] mjmadsen commented on #4849
But if you're loitering, why wouldn't you want to grab the stops that become available again?

[2016-08-28 12:33] iruy commented on #4811
Why would you build the inventory json object from the web file, instead of using the api output inventory file to overwrite it each time?

[2016-08-28 12:46] alphacino commented on #4853
i just open bot.

[2016-08-28 13:14] jrjhealey commented on #4853
Use the issue template, and please try to use more infomative titles.

We have no information from what you posted

[2016-08-28 13:15] #4852 closed

[2016-08-28 13:16] jrjhealey commented on #4850
Check your config.json at jsonlint.com (assuming you have one - if not, that is your issue).

Also you should give us more information as per the issue template, your commit, OS etc.

[2016-08-28 13:19] dummyaja commented on #4837
@sohje thanks, disable social_enable fix snipe problem

[2016-08-28 13:19] Jasperrr91 commented on #4837
Snipe works but your config is broken. You need to change the value in:

`"max_distance": 500"`

To define the sniping range.

[2016-08-28 13:42] #4837 closed

[2016-08-28 13:43] #2770 closed

[2016-08-28 13:51] cbogithub commented on #4853
same erorr on debian ,

[2016-08-28 13:53] J-Bones commented on #4852
Potentially related to the updates. Anyone finding the status web server doesn't work anymore? All I get is a blank screen showing the settings.

[2016-08-28 14:05] #4847 closed

[2016-08-28 14:06] #4829 closed

[2016-08-28 14:09] mjmadsen commented on #4759
@lntn does the telegram feature provide what you're aiming at?

[2016-08-28 14:10] mjmadsen commented on #4540
@Jasperrr91 Your thoughts?

[2016-08-28 14:11] mjmadsen commented on #4256
Merged

[2016-08-28 14:11] #4256 closed

[2016-08-28 14:15] mjmadsen commented on #4004
I haven't updated this in a hell of a long time. @k4n30 I'm closing for now.

[2016-08-28 14:15] #4004 closed

[2016-08-28 14:16] lntn commented on #4759
@mjmadsen it potentially is, however all what I can see now is only /info with very little information provided. Not sure if it can be extended to allow us to retrieve more data like pokemon list

[2016-08-28 14:16] mjmadsen commented on #3650
I'm going to agree with @k4n30

[2016-08-28 14:16] #3650 closed

[2016-08-28 14:17] mjmadsen commented on #3588
Merged

[2016-08-28 14:17] #3588 closed

[2016-08-28 14:18] mjmadsen commented on #3537
We've added configurable delays to these. If request not met, please reopen and clarify.

[2016-08-28 14:18] #3537 closed

[2016-08-28 14:18] mjmadsen commented on #3216
Merged

[2016-08-28 14:18] #3216 closed

[2016-08-28 14:31] rawgni commented on #4841
@Gobberwart  we have all the inventory in the database and probably can get it from the server. can't we just do that?

[2016-08-28 14:39] askovpen commented on #4851
do you have `/tmp/PokemonGo-Bot/lib/python2.7/site-packages/future/moves/urllib/request.py` ?

[2016-08-28 14:40] Jasperrr91 commented on #4540
It seems it tried to move to a Magikarp that wasn't there. Possibly fake data? We could add a check that removes the pokemon from the list if it hasn't been encountered after xx seconds so it doesn't stay there for the entire despawn time.

As for the darting back and forth, I'll read through the current code to see if there's anything that can be done against that.

[2016-08-28 15:04] db-coder commented on #4790
Another error that I'm getting now:

[code]

[2016-08-28 15:08] Jasperrr91 commented on #4841
@Gobberwart have you been able to replicate this?

[2016-08-28 15:34] Baconnaise commented on #4693
The pokemon with two evolves can be a problem if you have Evolve All set. Generally that requires 150 candy depending on the type to reach final evolve. Bellsprout, Oddish, Dratini, and others usually require a bank of candy to hit final evolve. Totally get what Hobbes is saying here. I would think it would be easier to get this sort of functionality by ignoring specific pokemon similar how to onl

[2016-08-28 15:39] mjmadsen commented on #3645
@Trozz @k4n30 We *kind* of have this (at least a notice). Can we close?

[2016-08-28 15:39] lntn commented on #4849
@mjmadsen if you read the log, the stops have not become available again all the time. The bot just walk there then change to another target.

[2016-08-28 16:04] mjmadsen commented on #4849
OK. First, I am sorry the bot does not work exactly how you want it to work. It is a project made by lots of people who are working for free. We try to do our best and be as responsive to helping folks, fixing bugs, adding features, etc as we can. I assure you, I read logs of what folks post. I went a bit further and reduced your log:

2016-08-28 15:19:21,186 [MoveToFort] [INFO] [moving_to_lured_f

[2016-08-28 16:06] mjmadsen commented on #4849
I'll reopen until you're ready to close this.

[2016-08-28 16:15] lntn commented on #4849
Sorry i didnt mean to be overdemanding. Just posting this to see if it's worth being rectified.

[2016-08-28 16:15] #4849 closed

[2016-08-28 16:18] Jasperrr91 commented on #4836
Yes, the order of the used balls is weird. Someone added code that looks for the lowest available ball:
[code]

The reason the berry isn't used it because your chance of catching is above the ideal_catch_rate_before_throw. Because the incorrect repeated multiplier. I'll work on this.

[2016-08-28 16:21] mjmadsen commented on #4841
@Jasperrr91 I personally have not, but we have had a decent number of folks who end up needing to delete one or more of the web json files to stop such errors.

[2016-08-28 16:22] mjmadsen commented on #3672
@k4n30 @TheSavior would you say we meet this with our social feature?

[2016-08-28 16:25] mjmadsen commented on #4849
It isn't a problem. I just want you to know I'm not being dismissive.

[2016-08-28 16:42] Jasperrr91 commented on #4841
Ah yes, I wrongfully assumed this was about the config.json but now I see it's about the web_inventory.

If anyone experiences these errors. Please post a dump of the web jsons. (Or are there already any posted @mjmadsen?)

[2016-08-28 16:44] mjmadsen commented on #4841
I don't think so @Jasperrr91

[2016-08-28 17:05] mjmadsen commented on #4836
Merged to dev

[2016-08-28 17:05] #4836 closed

[2016-08-28 17:10] mjmadsen commented on #4853
@cbogithub @alphacino can you elaborate in the ways @jrjhealey just mentioned.

[2016-08-28 17:15] th3w4y commented on #4756
@mjmadsen @rawgni what are the open points here?

[2016-08-28 17:53] Jasperrr91 commented on #3253
@V-E-O have you checked?

[2016-08-28 18:21] MrDibbley commented on #4851
@askovpen  under moves there is no urllib folder only:

(PokemonGo-Bot) [root@centos moves]# ls -l
total 4
drwxr-xr-x. 2 root root  69 Aug 17 12:34 dbm
drwxr-xr-x. 2 root root  44 Aug 17 12:34 html
-rw-r--r--. 1 root root 407 Aug 17 12:34 __init__.pyc
drwxr-xr-x. 2 root root  43 Aug 17 12:34 test

Thanks

[2016-08-28 18:24] askovpen commented on #4851
pip install --force-reinstall future>=0.15.2

[2016-08-28 18:26] askovpen commented on #4851
pip install --upgrade --ignore-installed python-telegram-bot==5.0.0

[2016-08-28 18:30] MrDibbley commented on #4851
[root@centos PokemonGo-Bot]# pip install --force-reinstall future>=0.15.2
[root@centos PokemonGo-Bot]# pip install --upgrade --ignore-installed python-telegram-bot==5.0.0
Collecting python-telegram-bot==5.0.0
  Using cached python_telegram_bot-5.0.0-py2.py3-none-any.whl
Collecting future>=0.15.2 (from python-telegram-bot==5.0.0)
Collecting urllib3>=1.10 (from python-telegram-bot==5.0.0)
  Using ca

[2016-08-28 18:34] askovpen commented on #4851
without bin/activate modules installed in /usr/lib/python2.7/site_packages
try bin/activate before

[2016-08-28 18:35] 4IbWNsis3S commented on #4851
things like this are never suppose to make it in to master branch. There is no way any test scenario wouldn't catch bugs like this and others that completely break execution. I was getting it with "telegram.py" till I went to dev branch yesterday.. Right before that I had to completely revert bat-installer because a merge completely wrecked it with extremely obvious batch-script path bugs..

[2016-08-28 18:36] MrDibbley commented on #4851
searching for request.py shows it in the usr site packages?

[root@centos PokemonGo-Bot]# find / -name request.py
/tmp/PokemonGo-Bot/lib/python2.7/site-packages/pip/_vendor/requests/packages/urllib3/request.py
/tmp/PokemonGo-Bot/lib/python2.7/site-packages/pip/_vendor/requests/packages/urllib3/util/request.py
/tmp/PokemonGo-Bot/lib/python2.7/site-packages/future/backports/urllib/request.py
/tmp/Po

[2016-08-28 18:38] askovpen commented on #4851
bin/activate
before
pip install --upgrade --ignore-installed python-telegram-bot==5.0.0

[2016-08-28 18:42] igorhrq opened #4867 "After update, i am getting this error below"
Hello to everyone and @PokemonGoF staff/team/guys,

I am getting this error below, after tried **update with -u option**, i have tried reinstall full, removing the old version and start from the begin, but still have same error, look the code :

`[2016-08-28 15:30:13] [PokemonGoBot] [INFO] [login_started] Login procedure started.
Traceback (most recent call last):
  File "pokecli.py", line 768, in

[2016-08-28 18:43] askovpen commented on #4851
bin/pip install --upgrade --ignore-installed python-telegram-bot==5.0.0

[2016-08-28 18:48] MrDibbley commented on #4851
OK, looks like its able to run now, ran setup -u to update master and restore  inputfile.py to source

run now starts with out errors, so one of those commands worked :)

[2016-08-28 18:56] avexus commented on #4114
@Enviouse, can you post your config file? I will give it another try.

[2016-08-28 19:04] PokemonGoZ opened #4868 "[FeatureRequest] Altitude Improvements"
### Short Description
In my logs it shows that it's moving from a high altitude of 923 feet/meters to an altitude of 8 feet/meters... Niantic can EASILY spot that I'm literally skydiving down a hole to Wonderland in the middle of Central Park. This is possibly one way you can get banned.

### Possible solution
You could use a Google API to pull the Altitude from the location you're walking to, and

[2016-08-28 19:05] askovpen commented on #4851
@mjmadsen not bug. if requirements.txt updated - users, who use virtualenv have not updated modules.

[2016-08-28 19:24] avexus opened #4869 "Radius of the bot with wifi"
When I logged in on my phone with wifi at home, I noticed that it randomly moves around, but there is always a range where it can go. I guess there is an area of radius that it considers is reasonable.
When we use bot with wifi, it should also have some kind of range, so that it won't be discovered.

[2016-08-28 19:28] avexus commented on #4868
well, 923 seems high.
we need a reasonable range. i live in a high rise building, the height is at least 160 feet, or almost 50 meters. when we use phone to log in, this is the data gets sent over (if it gets sent).
and elevation is around 200 meters, i think.
by the way, is the altitude in meters?

[2016-08-28 19:29] PokemonGoZ commented on #4868
@avexus Not sure. That's just what it said in my logs.

[2016-08-28 19:49] acurioustale commented on #4868
Altitude is in meters and can be adjusted in config.json:
`    "gps_default_altitude": 8.0,`

The Google Maps Elevation API doesn't allow enough daily requests. We could switch to something like Mapzen with user-generated keys.

[2016-08-28 20:10] th3w4y commented on #4868
@PokemonGoZ  this is already implemented in .get_alt() of the polyline walker... it gets max 512 elevations for one API call  for a polyline path

which cell worker are you using?

[2016-08-28 20:33] th3w4y commented on #4868
For me it looks more like a display bug....

at least if you use the polyline walker...

also worth mentioning is that the so called **current_position** is actually the *next destination..

[code]

You are using follow path

[2016-08-28 20:51] th3w4y commented on #4868
By my estimates if someone has about an average of ~100m between the points (with a speed between 2.5-3ms) then the 2500/day API calls for the Directions and Elevations should/will suffice.

[2016-08-28 20:53] neohunter commented on #4869
there is already gps noise param

[2016-08-28 20:57] avexus opened #4871 "Nickname, best moveset based on dps"
I did a search online, the best moveset are almost always based on dps, not the damage.
so, in nicknane template,
...
          "good_attack_threshold":  0.8,
          "nickname_template":      "{ivcp_pct}_{attack_code}"

sometimes bad moves get capitalized.
Expected:
capitalization based on dps, not attack itself.
And it's pretty standard which moves are the best for each one. If it is the best,

[2016-08-28 21:04] th3w4y commented on #4868
@PokemonGoZ you are not using the PolylineWalker?

thy seeing walker = PolylineWalker in your config...

i am puzzled where the 923 in your output is coming from...

i instantiated a Polyline object  just to check your from..to case and that returns elevations between 10 and 15 m
[code]

[2016-08-28 21:16] db-coder opened #4872 "Error: Bot isn't moving"
### Expected Behavior
Bot should make the character move.

### Actual Behavior
Character isn't moving. Maybe, can't see the map too.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
[code]

### Output when issue occurred

[code]
### Steps to Reproduce
Just ran the bot in the latest commit

### Other Information
OS:
Ubuntu 15.04
Branch:
dev
Git Commit:

[2016-08-28 21:25] db-coder commented on #4872
There was something wrong with the  userdata.js file. It's working now.

[2016-08-28 22:03] r3pek opened #4873 "Crash when evolving pokemon"
### Expected Behavior

Bot to evolve pokemon

### Actual Behavior
Crash with the following call trace while trying to evolve a pokemon:
http://pastebin.com/z3Dj932k

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

Pretty much the default config, just enable evolve pokemons

### Output when issue occurred

http://pastebin.com/z3Dj932k

### Steps to Re

[2016-08-28 22:17] Gobberwart commented on #4841
@Jasperrr91 I have seen it happen. Not sure exactly what causes it tbh. Best guess is an IO conflict. It's a very rare occurrence which makes it tricky to debug.

@mjmadsen Agreed re the database. For now, I'll put some exception catching around the file reads/writes to hopefully suppress this crash, then we can look into using the db better.

[2016-08-28 22:22] db-coder commented on #4872
It stopped working after I restarted the bot :/

[2016-08-28 22:23] Gobberwart commented on #4841
@rawgni Annoyingly, the inventory file contains both inventory and player data. Not sure who made that choice, but that's what the web interface wants. Overwriting the whole .json file with inventory data is simple, but the player data is (currently) not that simple and needs an api call. Therefore the method opens the .json file, removes all the "inventory" stuff, then writes it back, keeping the

[2016-08-28 22:25] Gobberwart commented on #4790
@db-coder That looks related to this #4841 which I'm working on now.

Quick-fix: Delete web/inventory-USERNAME.json and restart the bot.

[2016-08-28 22:26] Gobberwart commented on #4790
@db-coder Just out of interest (to help with debugging), I'm curious to know if you actually use the web interface, and if so was it open at the time?

[2016-08-28 22:36] Anakin5 commented on #4693
I still do not get why you would use your candies to power up a Dragonite if you have a Dratini which is better. Wouldn't it be better to evolve and power up that Dratini ?

[2016-08-28 22:40] hobbes3 commented on #4693
@Anakin5 First I only keep Dratinis that are over 0.9 IV. I would rather have 100 candies in the bank to power up my 3 Dragonites to max CP, than to have 5 more Dragonairs (evolving a Dratini times 5 = 100 candies) with no leftover candies for my 3 Dragonites.

Basically I want to evolve for XP, but I only want to evolve Pokemons that I don't care about their candies, ie Pidgeys, Rattatas, Caterpi

[2016-08-28 22:43] Anakin5 commented on #4693
I understand, but are those 3 Dratini better iv than the Dragonite ? Do they have equal iv ?
If you have a Dratini 1.0 and 3 Dragonite 0.93, what do you want to do with the candies ?

[2016-08-28 22:51] db-coder commented on #4790
@Gobberwart I did try deleting the json files in web directory. It worked for some time. But after re-starting, it again stopped moving even after deleting the json files.
Also, yes I started the web interface initially before getting that error but it didn't show me anything.

[2016-08-28 23:08] Jasperrr91 commented on #4841
@Gobberwart I think that choice was made because the inventory and player data is also grouped together in the API call. We're using an old commit of the Web interface so branching that and splitting the file shouldn't be too much of a hassle. But you still have to work with a JSON file that can give read/write errors.

So although it may simplify things, it will not solve this particular bug. Wha

[2016-08-28 23:13] Enviouse commented on #4114
Not show how to show screen shots here but it's starts like this

1 ptc sighn in
Location Lat n long no more then 20 ks from your location eg were you are right now
Walk speed no more then 13ks
Pokemon selection evlove everything transfer everything (As every Pokemon u catch has a location it was cought this reflects on teleporting if u go to other country's or heaps far away n catch Pokemon it se

[2016-08-28 23:16] oralunal opened #4875 "Trying to Incubate Eggs Always"
I was listening to events via websocket. I realized that it always try to incubate eggs. While I'm listening events these logs appear every 5-10 secs.

IMO, you should take a look this.

I'm using default map config and master branch.

[2016-08-28 23:20] Enviouse commented on #4114
Keeping your botting close to u will also allow u to log in on ur phone for short periods of time while botting so it still tells nitanic ur useing a phone n u can evlove or favourite monsters use incubators

[2016-08-28 23:27] trevorjudice opened #4876 "[Bug] Bot is not sniping"
Around 5 hours ago (2 P.M. New York Time), the bot was sniping fine. However, without changing any of my config, it stopped sniping. I waited a couple hours for it to run to see if it was temporary (3 or so), but still not teleporting to pokemon. I went to check the issues, and I found i had to set "enable_social" to false, but this did not fix my problem. I changed that config roughly 2 hours ago

[2016-08-28 23:30] Enviouse commented on #4114
Also I haven't botted since the update I seen it coming n stopped so not shore if will work any more I'm going to run a new acc on it to see if my method works it's slow but 4 days lv 24 n 2 week if ur not banned then u should be safe

[2016-08-28 23:42] Gobberwart commented on #4841
@Jasperrr91 I'm already working on try/catch. PR should be up in a minute.

[2016-08-28 23:47] duttonw commented on #4114
Best test is to battle a gym and place a pokemon in it. and see if your
account survives 2 weeks after that.

On 29 August 2016 at 09:30, Enviouse <notifications@github.com> wrote:

[2016-08-28 23:59] Enviouse commented on #4114
Well my lv 30 botted account has been there n done that 3 weeks now for that acc no ban but I refuse to bot that 1 after losing my main account in the 1st wave of bans I played this 1 safe took 2 weeks about to get it there n it still going now
I did here the new update has a anti bot thing to say ur human hence me not botting any more n I use I poke go ++ hack for iOS to play so gps botting lv 30

[2016-08-29 00:06] Gobberwart commented on #4841
PR #4877 up for review.

[2016-08-29 00:14] oralunal commented on #4875
After restarting bot, it stopped.

[2016-08-29 00:14] #4875 closed

[2016-08-29 00:24] Gobberwart commented on #4790
@db-coder There are two different issues here. The json error should hopefully be addressed by a PR I've just submitted ( #4877 ). The huge pauses/gaps you're seeing between tasks... I really don't know what's going on there, it's as if python is just running incredibly slowly on your machine.

[2016-08-29 00:37] josegrobles opened #4878 "Telegram not working over Proxy"
### Expected Behavior

It should connect with the Telegram

### Actual Behavior

I get this error when I execute the sh by setting the environment Proxy variable using:
`/usr/bin/env HTTPS_PROXY="xxxx" `

### Output when issue occurred

Traceback (most recent call last):
  File "pokecli.py", line 768, in <module>
    main()
  File "pokecli.py", line 119, in main
    bot = start_bot(bot,config)
  F

[2016-08-29 00:44] db-coder commented on #4790
@Gobberwart saw the PR. Hopefully, that should solve my problem :)
Regarding the long gaps, I removed them by making enable_social false.

[2016-08-29 00:45] Gobberwart commented on #4790
I'm having difficulty understanding why enable_social should make any difference. I've tried enabling it on mine and I don't see the same issue. Very odd.

[2016-08-29 01:08] Gobberwart commented on #4873
Did this happen just once or is it a regular/recurring thing?

[2016-08-29 01:32] r3pek commented on #4873
Since it doesn't even evolve the pokemon, everytime i start the bot, it triggers the evolution, and so it crashes.

[2016-08-29 02:54] Gobberwart commented on #4853
I don't see an issue here at all. Working as intended.

[2016-08-29 03:18] 19jake68 opened #4879 "Error on "Most Perfect Pokemon", pokecli.py line 768"
===============ISSUE SECTION===============

### Expected Behavior
Bot running

### Actual Behavior
Bot crashed when displaying "Most Perfect Pokemon"
Pokecli.py line 768

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
http://pastebin.com/3wH5rdy3

### Output when issue occurred
http://pastebin.com/VqeJeR6G

### Steps to Reproduce
Run the bot in the

[2016-08-29 03:20] tranquochuy opened #4880 "Logging now has no color"
I have updated the source code to date and found out the logging has no color at all. I did set it on my config at: `"logging_color": true` but it didn't work.

[2016-08-29 03:23] #4851 closed

[2016-08-29 03:24] mjmadsen commented on #4812
@TheOwl99 Still need help?

[2016-08-29 04:01] igorhrq commented on #4867
This issue was fixed, thanks!

[2016-08-29 04:01] #4867 closed

[2016-08-29 04:04] rawgni commented on #4880
https://github.com/PokemonGoF/PokemonGo-Bot/blob/dev/docs/configuration_files.md#logging-configuration

should now use
[code]

[2016-08-29 04:07] newjanson opened #4882 "[FEATURE REQUEST] Never release over CP"
### Short Description
I would like to make a configuration like this:
Keep best cp (supported)
Keep best iv (supported)
BUT
Never release if CP is over 1500 or 2000 or whatever (not supported)

### Possible solution

Add new parameter to the config file

### How it would help others

If there is multiple Pokemon that are over 1500, then it wouldn't get transferred.
It would be better for Pokemon t

[2016-08-29 04:08] rawgni commented on #4882
can't we do it with  `release_below_cp: 1500` ?

[2016-08-29 04:13] Gobberwart commented on #4882
Does that have the same effect as, say, "keep_above_cp": 1500 ?

Just wondering, because to me "release_below_cp" means release anything below cp, regardless of keep_best_cp and keep_best_iv.

[2016-08-29 04:20] newjanson commented on #3383
fixed in 61de70f7829066edb THANK YOU!

[2016-08-29 04:21] crvfts commented on #4882
with 3 Pidgeys CP 10 and 1 Rattata CP 10 "release": {"any": {"release_below_cp": 11} did not trigger the release event.

[2016-08-29 04:36] Gobberwart commented on #4882
Would like to know what happens if you had, say 3 Snorlaxes above 1000, and 5 below 1000, and set "release_below_cp": 1000 AND "keep_best_cp": 2.

To achieve the desired result, you should end up with the 3 Snorlaxes above 1000 only.

Then, if you had only the 5 Snorlaxes below 1000, you should end up with the top 2 only.

Replace Snorlax and cp/iv with whatever you like.

I'd test it but I'm a bi

[2016-08-29 04:43] Gobberwart commented on #4880
Correct... logging_color is deprecated. Your log should have said something about it, eg...

[code]

Pays to pay attention to these messages.

[2016-08-29 04:43] #4880 closed

[2016-08-29 04:45] Gobberwart commented on #4873
I changed the title of this issue because "Yet another UTF8 crash" means nothing.

[2016-08-29 04:53] askovpen commented on #4878
You wrong use proxy. Right: /usr/bin/env HTTPS_PROXY="http://xxxx" or /usr/bin/env HTTPS_PROXY="https://xxxx"

[2016-08-29 05:38] #4869 closed

[2016-08-29 05:39] avexus commented on #4869
@neohunter I never used that, should I set both of them to true?

[2016-08-29 05:48] avexus commented on #4871
Does anybody think this is important? Because I do.
Basically, I want a look up table to tell if the movesets are the best ones.
Everytime I want to see if they are, I will have to go on line to search for it, and very hard to remember for each one. I tried to write them down, but sometimes the notes are not handy.
And these tasks are what bots do best.

So, if possible, I would like a feature lik

[2016-08-29 06:14] Gobberwart commented on #4879
There's a PR to fix this problem with update_web_inventory. Ignore.

[2016-08-29 06:14] #4879 closed

[2016-08-29 06:17] Gobberwart commented on #4853
Sick of seeing "Plz Help Me" in the issue log. Create a new issue with some actual information in it.

[2016-08-29 06:17] #4853 closed

[2016-08-29 06:53] mjmadsen commented on #4850
We are missing that wiki the bot prints. But either way, doesn't look like there is a config or auth setup.

[2016-08-29 06:53] #4850 closed

[2016-08-29 08:07] Gobberwart commented on #4882
Note to self: Got to look at both transfer_pokemon and optimizer.

[2016-08-29 08:10] beltoft opened #4885 "Info button on webUI not working"
### Expected Behavior
Bot details is shown when pressing INFO button in WebUI

### Actual Behavior
if webpage have just been reloaded only a small box with the word "SUBMENU" is shown, if any other button have been pressed (ITEMS, POKEMON, POKEDEX) then its the last shown box that will be reopened when pressing the INFO button

### Your FULL config.json (remove your username, password, gmapkey and

[2016-08-29 09:06] beltoft commented on #4876
"min_ball": is set to 550 in your config meaning bot will only snipe if it have 550 or above balls

[2016-08-29 09:32] V-E-O commented on #3253
I can not reproduced it by far, you can close it for now

[2016-08-29 09:44] mjmadsen commented on #4760
Closing, I think we're looking good.

[2016-08-29 09:44] #4760 closed

[2016-08-29 10:00] mjmadsen commented on #4841
Closing #4841

[2016-08-29 10:00] #4841 closed

[2016-08-29 10:00] mjmadsen commented on #4811
Closing #4811

[2016-08-29 10:00] #4811 closed

[2016-08-29 10:13] #4761 closed

[2016-08-29 10:18] mjmadsen commented on #4812
Closing #4812

[2016-08-29 10:18] #4812 closed

[2016-08-29 10:20] josegrobles commented on #4878
@askovpen I know that, and I'm using it like that.

[2016-08-29 10:28] mjmadsen commented on #4600
@oNIenSis @net8q Since there was only a 5 day period before we added set_avatar, do we think this is still necessary? There probably weren't too many fresh bots started during the period - at least maybe not enough to necessitate the leg work involved.

[2016-08-29 10:41] sohje commented on #4754
I make some debug over api calls. There is a lot of calls like _get_player/get_inventory_ one after another without delay or delay <= 1s.
Looks like:
[code]
Do we really need this calls every time on bot_task switch?

[2016-08-29 10:42] scarfield commented on #4762
I closed it because I went through my config, and I was missing `"enabled": true,` in quite a few places, including under `"TransferPokemon"`.

[2016-08-29 10:51] iruy opened #4887 "Ignored pokemon list not applied in move_to_map_pokemon or catch_pokemon"
### Expected Behavior
Just skip them, and track skipped pokemon number in stats, without showing log. Is this possible?

**[FEATURE]** Would it be possible to limit `Moving towards pokestop XXX` log to a distance multiple of 10? If I'm walking slow (eg. min:2, max: 4), I get 2-3 logs every 10 meters

### Actual Behavior
[code]

### Other Information
OS:

Branch:

Git Commit:

Python Version:

Any

[2016-08-29 10:53] sohje commented on #4754
Ok, some logs here:
[code]

[2016-08-29 11:00] Jasperrr91 commented on #4882
[code]

The transfer_pokemon worker first gets the keep_best_cp/keep_best_iv and uses that to filter which pokemon should be removed. Then, it runs a function to see if a pokemon should indeed be removed. It checks if never_release/always_release/release_blow_cp/release_below_iv have been set. If so, it performs additional checks.

So yes, as @rawgni suggested you can just set `release_below_cp: 1

[2016-08-29 11:11] mmixx commented on #4592
Yep... this would be great...

[2016-08-29 11:13] Jasperrr91 commented on #4885
We're using a very old (and dirty) commit of the WebUI. Issue is caused by `location-xxx.json` no longer having the user_id/player_stats data.

I'm not sure if it worth to keep everything in place to not break web. I think it's better to move to a websockets web.

[2016-08-29 11:13] beltoft commented on #4885
after i've set the "UpdateLiveStats", to true the info button is working again

[2016-08-29 11:17] Jasperrr91 commented on #4885
Then it's not being initialised when UpdateLiveStats is set to false.

[2016-08-29 11:19] BreezeRo commented on #4882
depends on the logic still, there is a difference between "and" and "or"

[2016-08-29 11:21] bilalkamoon opened #4888 "[FR] Send more that just Catch info over Telegram"
### Short Description
e.g occasional Live Stats, Live Inventory, Pokemon bag, leveling up..

[2016-08-29 11:35] Jasperrr91 commented on #4882
If no logic has been set, the bot tries to get the logic of 'any' (default config: `and`). If that's not set either, it defaults to `and`.

That's why @crvfts config didn't release any pokemon:

Because of the missing logic. The bot read that as `and` and because of the missing IV, that was set to 0. So his bot would only release pokemon below_cp 11 AND below_iv 0.

`{"any": {"release_below_cp": 1

[2016-08-29 11:38] newjanson commented on #4882
@Jasperrr91 would it work with keep_best_cp in a scenario that @Gobberwart described?

[2016-08-29 11:40] Krago27 commented on #4887
same here. Ignored, moving to it, and capture... wtf man
[code]

[2016-08-29 11:45] mjmadsen commented on #4887
For the devs:
We have our ignore checking inside of pokemon_catch_worker. Need to move it to catch_pokemon.

MoveToMapPokemon doesn't account for the ignore list at all either. Do we know the pokemon stats when we see one in this file or do we need to go closer?

[2016-08-29 11:57] newjanson commented on #4882
Alright, I'm new to this code, but here is what I think:
if there is a keep_best_cp/iv, then this line gets called
[code]
and if any of never_release/always_release/release_below_cp/release_below_iv are present (assuming release_config.has_key returns True in these cases) then the code under it gets executed, which from what I understand (based on the next snippet, and based on the fact that there

[2016-08-29 12:08] r3pek commented on #4885
@Jasperrr91 and is there any? 'cause i see the websocket_server option in the config, but it's not documented *at all*. can't even specify a port for it to use...

[2016-08-29 12:13] duttonw commented on #4754
get_player should really be removed from tasks and pull from the bot as the
heartbeat keeps it up to date every 10 seconds. (other than the tutorial
task).

tasks calling get_inventory should be using the centralized inventory which
should only refresh every so often. This should be ready to go forward
since recycle now updates internal inventory.

On 29 August 2016 at 20:53, Nikolay Spiridonov <n

[2016-08-29 12:15] Jasperrr91 commented on #4885
@r3pek yes: https://github.com/PokemonGoF/PokemonGo-Web/tree/rewrite

I believe this websocket_server documentation is severely outdated. I'll update it later today.

[2016-08-29 12:15] db-coder commented on #4790
even after the latest commit, bot is still not moving.

[2016-08-29 12:24] Jasperrr91 commented on #4882
@newjanson yes this would work with keep_best_cp. Your assumptions are correct, if none of those are present, it returns true. Otherwise, if any of those keys are in fact present, the code underneath gets executed.

With: `{"any": {"release_below_cp": 1500, "logic": "or"}`
[code]
Snorlax 1800 (0.9): release_results['cp']  = False

[code]
Snorlax 1800 (0.9): release_results['iv']  = False

Thus `if

[2016-08-29 12:29] newjanson commented on #4882
@Jasperrr91 alright, so it does not "stack" with keep_best_iv/cp which means that {"any": {"release_below_cp": 1500, "keep_best_cp": 3} will do the same as {"any": {"release_below_cp": 1500} and therefore having a keep_above_cp/iv would be beneficial, and would function like @Gobberwart described. Correct?

[2016-08-29 12:37] faegan commented on #4868
@th3w4y: there are two more settings in config.json:
`    "alt_min": 500,
    "alt_max": 1000 `

those are the default values in .example. People should edit that to values corresponding with the location they are botting. Or, use PolylineWalker instead of StepWalker

[2016-08-29 12:37] sohje commented on #4754
Seems we have to refactor all api.get_inventory() calls to refresh_inventory() with decorated cache object. But what TTL we should use for api call?

[2016-08-29 12:38] sediyama commented on #4600
I am having trouble using the self._set_avatar(), how should I edit the file?

[2016-08-29 12:39] k4n30 commented on #3645
@mjmadsen This isn't really implemented, but I think there are sufficient scripts to probably achieve what it's functionally trying to achieve. Happy to close as OP hasn't responded

[2016-08-29 12:39] #3645 closed

[2016-08-29 12:40] k4n30 commented on #3672
I'd say no, but I'm also kind of with what TheSaviour has said about sniping in general - Will allow him to make final decision

[2016-08-29 12:41] #3253 closed

[2016-08-29 12:46] Baconnaise commented on #4693
If his Dragonite has the best moveset despite being .93 IV then he likely wants to power that up since it's more useful now and is a sure thing. Dratini with 1.0 IV isn't a sure thing and if it's low CP to start with (generally they are in my experience) he would need a massive amount of dust and candy to evolve to Dragonite to max. I thought it was pretty clear.

[2016-08-29 13:04] askovpen commented on #4888
/info - live stats
level up - already announce.

[2016-08-29 13:06] askovpen commented on #4878
whats problem?

[2016-08-29 13:07] Anakin5 commented on #4693
@Baconnaise
I wish it is that simple. If it was that, then there is easy way to not evolve the Dratini.
If the Dragonite is kept as a result of:
[code]

or

[code]

and Dratini because of:
[code]

then, the only thing to change is:

[code]

So I am going to assume that the reason why this Dratini should not be evolved is something else.

[2016-08-29 13:42] Jasperrr91 commented on #4882
@newjanson it will depend on which pokemon you have. If you have 5 snorlaxes `[1500, 1863, 1923, 2042, 2323]`. Both will will keep them all. If you have 5 snorlaxes `[1012, 1239, 1349, 1453, 1532]`, the first rule will keep `[1349, 1453, 1532]` while the second rule will only keep `[1532]`.

Adding keep_above is superfluous as it's the same as release_below.

[2016-08-29 13:45] newjanson commented on #4882
@Jasperrr91 okay, so I must have misunderstood it. I thought we just approved on the keep_best_cp being ignored if it is accompanied by release_below_cp. Is that incorrect?

[2016-08-29 13:52] Jasperrr91 commented on #4882
@newjanson Ehm I think you have misunderstood it yea.

If I'm correct, with keep_best_cp (3 for example); the bot first makes a list of the best 3 pokemon. Then for the remaining pokemons it calls the should_release_pokemon method. Which will then apply the additional rules to these pokemons (never_release, always_release, release_below_cp, release_below_iv).

So keep_best will never be ignored. I

[2016-08-29 13:56] newjanson commented on #4882
alright so it seems like none of us are 100% sure. Let's wait for a few other opinions before I close this.

[2016-08-29 14:20] #4876 closed

[2016-08-29 14:22] mjmadsen commented on #4872
Are you starting and stopping the bot a lot? You seem to be having an above average amount of problems (esp for a linux user :P). Can you try the new commits - we added some protection against the json files we've been having problems with. It's not a solution, but it should reduce downtime.

[2016-08-29 14:28] mjmadsen commented on #4873
Looks related to #4798. @rawgni

Is this because we have the default value = none. So we try getting the first index and it's none (null).

[2016-08-29 14:33] Creuqe opened #4890 "[ISSUE] Error on startup"
Expected Behavior
To start normally

Actual Behavior
gives a trackback error:
Traceback (most recent call last):File "pokecli.py", line 43, in <module>from pgoapi.exceptions import NotLoggedInException, ServerSideRequestThrottlingException, ServerBusyOrOfflineException, NoPlayerPositionSetExceptionImportError: No module named pgoapi.exceptions

Your FULL config.json (remove your username, password

[2016-08-29 14:42] rawgni commented on #4873
@r3pek can you post your config file ? just the EvolvePokemon part

[2016-08-29 14:47] r3pek commented on #4873
@rawgni yes. my bad then? :(

[2016-08-29 14:48] mjmadsen commented on #4873
Not necessarily, whatever you have evolve_all is the key to figuring this out.

[2016-08-29 14:49] mjmadsen commented on #4873
@rawgni I looked over what is there, realize it wouldn't get to that line if it was set to none. Side note, we need to change it to something other then evolve_all (it's purposes go well beyond it's initial purpose).

[2016-08-29 14:50] r3pek commented on #4873
i have `"evolve_all": ""`

[2016-08-29 14:51] mjmadsen commented on #4873
Ah, set to none if you don't want to have any evolved.

[2016-08-29 14:51] r3pek commented on #4873
I want the exact opposite... evolve all ;)

[2016-08-29 14:52] rawgni commented on #4873
`"evolve_all": "all"`

[2016-08-29 14:52] Jasperrr91 commented on #4882
I can test it on my bot later today.

[2016-08-29 14:54] r3pek commented on #4873
works ;) thx and sorry for the misleading error

[2016-08-29 14:55] mjmadsen commented on #4873
Maybe change it to evolve_list. Do we indicate the values in the md?

@r3pek No problem, the variable is a bit misleading. Plus helped us realize a few places to make sure we're getting correct data.

[2016-08-29 15:12] memeshack opened #4892 "How Do i enable transfer pokemon"
Mine just doesnt work on the default config

[2016-08-29 15:13] r3pek commented on #4892
I was just going to report this :)

Bot don't transfer pokemons :(

[2016-08-29 15:14] memeshack commented on #4892
Then whats         "type": "TransferPokemon",  for

[2016-08-29 15:15] r3pek commented on #4892
@memeshack i'm just confirming the bug ;)

[2016-08-29 15:15] memeshack commented on #4892
ohh okay

[2016-08-29 15:20] etiennebechara opened #4893 "[Feature Request] Add Conditions and Delay to NicknamePokemon for More Realism"
### Short Description
I would like to suggest 2 features for NicknamePokemon:
1. Add a configurable delay before the action to simulate the time of a human navigating and typing the new name.
2. Add a conditional configuration method of only nicknaming specific pokemon and not all of them. It could be based on the "vips", or based on a separated array configured by the user.

### Possible solution

[2016-08-29 15:22] r3pek commented on #4892
@memeshack got it. Search for the "release" section and change the "any" (or any other) line in it. bellow_cp 0 or bellow_iv 0 really doesn't make it work out-of-the-box.

[2016-08-29 15:23] memeshack commented on #4892
@r3pek Thanks!

[2016-08-29 15:24] mjmadsen commented on #4892
{
        "type": "TransferPokemon",
        "config": {
          "enabled": true,
          "min_free_slot": 5, <------------- must have this or fewer spots left in your bag to transfer
          "transfer_wait_min": 3,
          "transfer_wait_max": 5
        }
      },

[2016-08-29 15:26] r3pek commented on #4892
@mjmadsen
actual problem is:
[code]
the default "any" like make it that it's impossible to release any pokemon, so it never releases even with bag full.

[2016-08-29 15:27] memeshack commented on #4892
Ah, well I got it to work

[2016-08-29 15:34] mjmadsen commented on #4892
@memeshack @r3pek Can I close this?

[2016-08-29 15:42] dummyaja commented on #4887
in my case, i got only logs for teleporting action, no capture action
[2016-08-29 22:37:19] [MoveToMapPokemon] [INFO] [move_to_map_pokemon_teleport_to] Teleporting to Magikarp. (0.07km)
[2016-08-29 22:37:19] [MoveToMapPokemon] [INFO] [move_to_map_pokemon_encounter] Encountered Pokemon: Magikarp
[2016-08-29 22:37:21] [MoveToMapPokemon] [INFO] [move_to_map_pokemon_teleport_back] Teleporting back to

[2016-08-29 15:43] mjmadsen commented on #4887
@dummyaja I think that is a separate issue. What is your config (please use 3rd party posting site and give link).

[2016-08-29 15:43] jane0815 opened #4894 "Bot running out of Pokeballs but not switching to farm mode."
### Expected Behavior

If bot put of pokeballs switch to farm mode for a while to stock up balls.

### Actual Behavior

But runs out of balls but does not switch to farm mode. It will spin a fort if it passes one but will reach next pokemon with to few balls to catch it.

### Your FULL config.json

I set my bot to miss a lot of throws, high speed and everything what will make it use/waste a lot ba

[2016-08-29 15:44] #4892 closed

[2016-08-29 15:56] dummyaja opened #4895 "snipe or MoveToMapPokemon no capture actions after teleport back"
### Expected Behavior

Catch snipe pokemon after found one

### Actual Behavior

no catching action happen after snipe action happen

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

http://pastebin.com/qYyh77yi

### Output when issue occurred

http://pastebin.com/Q2x6NQct

### Steps to Reproduce

1. Update source code to latest ./setup.sh -u
2. Updat

[2016-08-29 16:03] avexus commented on #4056
I like what you did to separate auth and config.

[2016-08-29 16:03] #4056 closed

[2016-08-29 16:10] dummyaja commented on #4895
Please close this issue,
after i do update of PokemonGo-Map and restart it, capture action is working

http://pastebin.com/6Hsd1LX5

[2016-08-29 16:10] #4895 closed

[2016-08-29 16:18] avexus commented on #4114
@Enviouse, some good points here. You can copy and post your configure file very easily.

I'll make a account just for level up. After I lost my main, i really wanted a new account 30+. My main is 31 and had 5 perfect ones.

[2016-08-29 16:19] memeshack opened #4897 "Disable sleep?"
I dont want the bot to sleep, how do I disable it?

[2016-08-29 16:31] th3w4y commented on #4897
@memeshack can you give more details? when does it sleep and you don't want it to sleep?

[2016-08-29 16:44] nugrahawahyu opened #4898 "[FEATURE REQUEST] Spawn area radius"
### Short Description
After sleep schedule, bot will spawn in any coordinates inside a circle with certain radius with spawn location as the center.

### Possible solution
using simple math calculation

### How it would help others
Simulate more realistic playing behavior.

[2016-08-29 16:48] memeshack commented on #4897
it sleeps after a little bit and it does it for a while,  i dont know to describe it

[2016-08-29 16:49] th3w4y commented on #4897
@memeshack maybe copy&paste your last lines... of output...

[2016-08-29 16:51] memeshack commented on #4897
It didnt happen yet, i will when it does @th3w4y

[2016-08-29 16:52] nugrahawahyu commented on #4888
How about:
- when the bot encounter problem.
- pokemon is full

[2016-08-29 16:53] Jasperrr91 commented on #4882
Just triest to test but it seems my bot is refusing to transfer any pokemon. 😆

[2016-08-29 16:57] th3w4y commented on #4897
@memeshack in the mean time ☕ (coffee) should help agains sleeping 👍

[2016-08-29 16:57] nugrahawahyu opened #4901 "Reset wake up location after sleep"
### Short Description
Add a new favorite location after wake up from sleep schedule.

[2016-08-29 17:01] memeshack commented on #4897
Good one

[2016-08-29 17:54] crvfts opened #4902 "Bot is "crawling". Moving .3m/min to 1m/min. very slow walk."
JSON validated- Valid JSON

yes, i did search issues, did not find current behavior recently for dev.

Issue occurs for me with current dev. I reverted to e43f8f9 and issue still occurs.
### Expected Behavior

Trainer to walk 3.22km/h to 4.14km/h

### Actual Behavior

Trainer walking only 0.3m/min to 1m/minute, walking VERY slowly.

### Your FULL config.json (remove your username, password, gmapke

[2016-08-29 17:59] jaoudath commented on #1636
[19:54:45] PokeFast V1.0 - Obtained for free at OwnedCore.com
[19:54:46] Make sure Lat & Lng is right. Exit Program if not! Lat: 43,586103 Lng: 1,441305
[19:54:46] Script will continue in 15 seconds!
[19:54:51] Script will continue in 10 seconds!
[19:54:56] Script will continue in 5 seconds!
[19:55:01] Logging in via: Ptc
[19:55:03] Client logged in
[19:55:03] ----------------------------
[19:55:0

[2016-08-29 18:16] mattrat88 commented on #1636
regarde comme si vous êtes interdiction de là serveur

[2016-08-29 18:29] beltoft opened #4903 "when daily catch limit is reached bot stops"
### Expected Behavior
bot should continue visit stops and incubate eggs when daily catch limit is reached but ignore any pokemon

### Actual Behavior
when any pokemon is found and limit is reached bot stops

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
{
    "websocket_server": false,
    "heartbeat_threshold": 10,
    "enable_social": true,
    "l

[2016-08-29 18:35] trevorjudice opened #4904 "MoveToMapPokemon causing dailycatchlimit error"
### Expected Behavior
For the bot to be able to snipe
### Actual Behavior
When the bot goes to snipe, i get a "dailycatchlimit" error when it has clearly not reached the limit

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
    "tasks": [
      {
        "type": "HandleSoftBan"
      },
      {
        "type": "SleepSchedule",
        "config": {

[2016-08-29 18:39] davidspeijer commented on #4902
Same issue here, disable the `TelegramTask` to fix the speed to normal. I expect there is a bug in the Telegram code :).

[2016-08-29 18:46] crvfts commented on #4902
@davidspeijer thank you very much! disabled TelegramTask and everything is back to normal!

[2016-08-29 18:47] #4902 closed

[2016-08-29 18:58] avexus opened #4905 "[Bug] transfer pokemon has "hidden" value"
When I used bot to transfer all the pokemons, I set "release_all": true
when it released/transferred all the pokemons, and opened it on my phone, i saw no pokemon in my bag, but it says "9/250".

I tried with 2 of my accounts, the same situation. And a 3rd new account, with not many inventories. I saw 2 "hidden" pokemons in the bag.

Is it because when transferring, something didn't register?
Does

[2016-08-29 19:09] mjmadsen commented on #4903
Extend your limit if you want more?

Otherwise, this is doing exactly what it is supposed to do.

[2016-08-29 19:09] #4903 closed

[2016-08-29 19:13] davidspeijer commented on #4902
Perhaps it should remain open as it appears it is an issue with the telegram task?

[2016-08-29 19:18] mjmadsen commented on #4905
How many eggs do you have?

[2016-08-29 19:20] mjmadsen commented on #4894
Need to see logs to figure out what's going on.  80 min balls isn't very much.

[2016-08-29 19:22] mjmadsen commented on #4873
Several solutions merged to dev. If problems persist, please reopen with new logs.

[2016-08-29 19:22] #4873 closed

[2016-08-29 19:23] jane0815 commented on #4894
The 80 balls min was only a suggestion for a new limit when bot could go into farm mode to get more balls before trying to catch more pokemons.

My bot is using a lot balls because i set it to miss a lot trows. It is not a bug that causes my bot to run out of balls it is the settings i made to make it looks more human.

[2016-08-29 19:23] mjmadsen commented on #4890
Traceback (most recent call last):File "pokecli.py", line 43, in from pgoapi.exceptions import NotLoggedInException, ServerSideRequestThrottlingException, ServerBusyOrOfflineException, NoPlayerPositionSetExceptionImportError: No module named pgoapi.exceptions

You don't the pgoapi project or at least an updated version.

pip install -r requirements.txt --upgrade

[2016-08-29 19:23] #4890 closed

[2016-08-29 19:44] jane0815 opened #4907 "Show level of Pokemon in Web UI"
### Short Description

Would be nice to see the level of pokemons in Web UI

### How it would help others

Helps to decide which pokemon to level up manual.

[2016-08-29 20:15] aaronsuns opened #4908 "exception when IP seems be banned"
When having the following exception, it seems the IP is banned.

$ git checkout origin/master
M   web
HEAD is now at 56339fb... Merge dev to master (#4889)
aaron@laptop:~/PokemonGo-Bot$ ./run.sh
2016-08-29 21:45:45,007 [       cli] [INFO] PokemonGO Bot v1.0
2016-08-29 21:45:45,026 [       cli] [INFO] commit: 56339fba1ba7f77a0275078ea0cf7a73e60c2ed0
2016-08-29 21:45:45,053 [       cli] [INFO] Confi

[2016-08-29 21:10] Creuqe opened #4910 "Error on bot start, after login."
### Expected Behavior
BOT starts normally and goes on

### Actual Behavior
Gives strange error

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

_AND AUTH.JSON IF NEEDED_
`{
    "auth_service": "google",
    "username": "--private--",
    "password": "--private--",
    "location": "tokyo disneyland",
    "favorite_locations":[
        {"name": "--priv

[2016-08-29 22:11] avexus commented on #4905
@mjmadsen 9. Does that include 9 eggs?

[2016-08-29 22:11] #4905 closed

[2016-08-29 22:13] ITAYC0HEN opened #4912 "Add requirement validation before starting"
### Expected Behavior

executing ./run.sh should work
### Actual Behavior

crashing after login successfuly.
### Your FULL config.json (remove your username, password, gmapkey and any other private info)

http://pastebin.com/yTzFeMiG
### Output when issue occurred

http://pastebin.com/tUSaxAYa
### Steps to Reproduce

### Other Information

OS:
Debian 4.3.3
Branch:
master
Git Commit:
56339fba1ba7f7

[2016-08-29 22:16] DBa2016 opened #4913 "[Feature request]Implement "powerup" in PokemonOptimizer task."
### Short Description
There are certain conditions which would normally qualify a pokemon to be powered up, e.g. IV=1.0 and id=Snorlax (or some other set). However, the bot currently does not offer a possibility to auto-powerup the pokemons.

### Possible solution
I think the best place to house this feature would be the PokemonOptimizer task. I tried to search for the implementation possibilities

[2016-08-29 22:21] davidspeijer opened #4914 "[BUG] Bot walking speed slowing down when telegram enabled"
### Expected Behavior

### Actual Behavior

Bot is slowing down when telegram is enabled.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

### Output when issue occurred

### Steps to Reproduce

Start the bot with telegram enabled.

### Other Information
OS: centos

Branch: dev

Git Commit:

Python Version:

Any other relevant files/configs (eg: path

[2016-08-29 22:22] davidspeijer commented on #4914
Title of the issue is incomplete but cannot change it.

[2016-08-29 22:37] hobbes3 commented on #4693
Honestly, I just want a top level blacklist of Pokemon that the `PokemonOptimizer` will NOT try to evolve.

[2016-08-29 22:38] hobbes3 commented on #4897
He means there should be a

    "enabled": false

for `sleep_schedule` in `config.json`. I'm up for that.

[2016-08-29 22:40] hobbes3 commented on #4510
Currently I have to manually check to see if my bot is still catching Pokemons. If I see a bunch of vanishes then I manually stop the bot and restart it a few hours later...

[2016-08-29 22:46] memeshack commented on #4897
I just did that and this is the message that pops up in console,

[2016-08-29 17:59:15] [SleepSchedule] [INFO] [bot_sleep] Sleeping for 03:06:49,
wake at 2016-08-29 21:06:04.370000

It finally did it after running for 5 hours lol

[2016-08-29 23:19] sediyama commented on #4872
I know what is your problem... you should ENABLE the followspiral, your bot is not seeing any Forts at the current position, if you enable the followspiral, it will move and start seeing after a while.
      {
        "type": "FollowSpiral",
        "config": {
          "enabled": **true**,
          "diameter": 4,
          "step_size": 70
        }

[2016-08-29 23:19] avexus commented on #4914
Yes, you can. Look at the right of the title.

[2016-08-29 23:30] pranavperfect commented on #4913
+1

[2016-08-29 23:35] pranavperfect commented on #4882
not just keep_above_cp but keep_above_iv also. And if possible a condition for VIP pokemon as defined at the end of the config.

[2016-08-29 23:37] pranavperfect commented on #2833
@mjmadsen is this still under development or has been disregarded?

[2016-08-29 23:49] maradlgl commented on #4914
same here, when i set "enable_social": true,
bot slow down and failed to connect to broker.pikabot.org:1883

this is log after checking with proxifier
![image](https://cloud.githubusercontent.com/assets/20656016/18070950/dea662f0-6e7b-11e6-9819-f80fee713a7b.png)

[2016-08-30 00:12] Arprime30 opened #4915 "Can loot pokestops but can't catch pokemon starting at lvl20 above...how can i solve this?someone pls help me."
Pls help me..can't catch pokemon but can loot at pokestop.

[2016-08-30 00:37] sohje commented on #4915
softban/ip ban

[2016-08-30 00:55] SGColdSun commented on #4915
Simply wait it out and you'll be able to again. In the future, set your daily pokemon catch limit to something lower.

[2016-08-30 01:08] Gobberwart commented on #4754
I've just submitted a PR which goes some way towards refactoring to reduce api calls. Metrics and UpdateLiveStats now share the same cached inventory information (note that "inventory" from an API perspective includes player_stats so they're now all kept together in inventory)

[2016-08-30 01:26] Gobberwart commented on #4754
Removed another api call from incubate_eggs. As far as I can see, GET_INVENTORY is now only called as part of inventory_refresh, which is called by heartbeat. Everything else should just use whatever is cached.

[2016-08-30 01:46] db-coder commented on #4872
@mjmadsen yes I had to start and stop the bot a lot, mainly because of the "Possibly searching too often" issue. That error doesn't let me catch Pokemon or spin forts.
Another bug that usually gives pains is the total count of Pokemon in case there's an egg hatch. The bot doesn't seem to account if there was an egg hatch and the count of Pokemon doesn't increase. Due to this, my Pokemon bag become

[2016-08-30 02:20] newjanson commented on #4882
@Jasperrr91 with {"release_below_cp": 1500, "keep_best_cp": 3} or at all?

[2016-08-30 02:25] avexus opened #4917 "Better "RecycleItems" logic"
"RecycleItems" now goes through the keep list until the very end. If we have "min_empty_space" specified, then we want to stop when this criteria is met.

if
"smart_recycle_items": true
then
stop when
"min_empty_space" is big enough.

[2016-08-30 04:20] Enviouse commented on #4114
Okay will do @avexus The best not to use is called pokebuddy/exo buddy here on got hub that's what bot I used anyways just look up pokebuddy GitHub then download the zip extract the files n the configure is all set up already for you all I have to do is enter sighn in details Lat n long n walk speed n it does the rest for u with a stop button so y can stop anytime u want n when u restart it it goe

[2016-08-30 04:22] cbogithub opened #4918 "change Nick name Pokemon not working"
[code]

[code]

but when a open pokemon go app . it show name of pokemon is : "A 93% A14 D14 S21" , F 40% A15 D2 S1" ....

[2016-08-30 04:39] mjmadsen commented on #4898
#3580

[2016-08-30 04:39] #4898 closed

[2016-08-30 04:58] MrCarlosJr commented on #4904
Just one question. You use proxy in your map generator? Do you don't accounts banned?
I have various ptc banned, I think it's motive is same IP multiple locations.
Thanks for your time. =)

[2016-08-30 05:46] sniperxing commented on #4867
how to fix?

[2016-08-30 05:57] mjmadsen commented on #4917
min_empty_space is primary there to prevent transferring items right after you get them. Set min_empty_spaces to 999 if you want it to happen all the time.

[2016-08-30 05:58] mjmadsen commented on #4914
Please post your config.

[2016-08-30 06:07] avexus commented on #4917
I understand what min_empty_space does.
I want the recycle that does not go through all the way till the list. Say if I have 150 Pokeballs, 75 Greatballs, 50 Ultra Balls.
And my configure says keep 100 poke balls, 50 great balls.
 Then if I recycle 50 Poke Balls, the min_empty_space requirement is met, then the recycle should stop, in this case, I can accumulate more Great Balls and more Ultra Bal

[2016-08-30 06:11] k4n30 commented on #4194
#4906

[2016-08-30 06:11] #4194 closed

[2016-08-30 06:22] mjmadsen commented on #4917
If you don't specify how many greatballs and up you want to keep in the config, it'll trim to whatever "max_balls_keep" is set to, first by dropping regular pokeballs, then great and so on. If you do specify limits for each kind of ball, it'll trim them all to that number.

[2016-08-30 06:23] db-coder commented on #4872
Some logs regarding this issue:

[code]

This happens after restarting the bot:
[code]

[2016-08-30 06:30] krishven commented on #4114
Here's my testing results:

My main account and 3 other accounts were banned so I started a 4th one to use as a main account.

It has been 10 days and still not banned. Here's what I did:

Logged in using PTC
Completed tutorial manually
Deleted the app
Set walking speed 1-4 randomly each day
Run around 7 hours approximately each day
No sniping, no soft bans etc.
(Since I live in Long Island, I bot

[2016-08-30 06:30] #4917 closed

[2016-08-30 06:32] mjmadsen commented on #4872
Willing to bet you have an IP ban. You also didn't see any pokemon during the first part of the log. Especially since you're hatching so many eggs before catch_pokemon runs (from seeing a pokemon).

I would not advise starting and stopping the bot every time you see a searching too often message. That's the server throttling you. Forcing a restart won't fix that.

[2016-08-30 06:35] mjmadsen commented on #4893
I would advise not using nickname if you want to look like a human. The nicknames we put in there look very nonhuman. But we should have delays in there, as we do with most tasks.

[2016-08-30 06:36] #4915 closed

[2016-08-30 06:38] askovpen commented on #4914
i'll fix

[2016-08-30 06:38] davidspeijer commented on #4914
Don't know if the bot is multi threaded but I suppose this could be the fix?

[2016-08-30 06:39] mjmadsen commented on #4912
Looks like your API is out of date. Please try:
pip install -r requirements.txt --upgrade

[2016-08-30 06:48] avexus commented on #4914
can someone give me a link to the telegram feature?
thank you!

[2016-08-30 06:53] db-coder commented on #4872
One is usually IP banned when he runs multiple bots from a single IP right? I'm just running this one bot.

[2016-08-30 06:55] avexus commented on #4759
Oh, the caught data is all there. If the ADS data and moveset data could be recorded, that'll be great.
Also, i found quick move and charge move names are there too. If we could just match those with each pokemon, which are the best moveset, then the nickname thing can be better worked out if it IS the Best move, then capitalized it.

[2016-08-30 06:57] mjmadsen commented on #4872
Caused by a variety of things on the server side.

[2016-08-30 07:02] avexus commented on #4114
New York is a great place.

[2016-08-30 07:03] davidspeijer commented on #4914
Thank you @askovpen
What kind of link are you looking for @avexus ?

[2016-08-30 07:08] supergithubo commented on #4114
@krishven my 2 remaining accounts still working also (10 days now). I configured the bot when the altitude was introduced. It is possible that the old fixed altitude requests flagged our banned accounts. This is the only difference I can think of between my banned accounts and these two accounts. I also suggest for the users to use local ip respective to their botting location. I use torify (with

[2016-08-30 07:12] Nerkyator commented on #4114
@supergithubo I tried to use torify (`torify ./run.sh`) but it seems to block my login due to TOR detection. Can you please give me some hints on how using it?

[2016-08-30 07:20] Metis77 opened #4920 "Docker: [INFO] Error: No /configs/auth.json"
after updating to 56339fb and rebuilding the docker image, the new auth.json is not found.
config.json & auth.json have been recreated from the examples and are valid json.

[2016-08-30 07:22] krishven commented on #4114
@avexus because someone said the app was sending tcp/ip packets even when not playing.
they might use that to detect bots.

the difference from my other banned accounts was:

1. this account had the new config with all the wait times etc
2. this account was never once softbanned
3. walking speed, pokestops and pokemon caught were low
4. PTC and not Google account (they may pull location history if

[2016-08-30 07:24] th3w4y commented on #4920
what is your docker run command?

[2016-08-30 07:31] Metis77 commented on #4920
I took the one from the docs:
docker run --name=bot1-pokego --rm -it -v $(pwd)/configs/config.json:/usr/src/app/configs/config.json pokemongo-bot

docker inspect --format='{{.Created}} {{.ContainerConfig.Labels}}' pokemongo-bot
gets:
2016-08-30T07:12:35.525133477Z map[build_branch:dev build_repo:PokemonGoF/PokemonGo-Bot]

[2016-08-30 07:35] th3w4y commented on #4920
try:

-v $(pwd)/configs:/usr/src/app/configs

that will mount the whole dir this bot will find both config.json and
auth.json

Regards,
Ovidiu Ghinet

On 30 Aug 2016, at 09:31, Martin Schwenzer <notifications@github.com> wrote:

I took the one from the docs:
docker run --name=bot1-pokego --rm -it -v
$(pwd)/configs/config.json:/usr/src/app/configs/config.json pokemongo-bot

docker inspect --format=

[2016-08-30 07:55] mjsaber commented on #4114
@krishven Could you please paste your config file here? I'd like to use same config file as yours. Thanks!

[2016-08-30 07:57] Metis77 commented on #4920
indeed, that works perfect:
docker run --name=bot1-pokego --rm -it -v $(pwd)/configs:/usr/src/app/configs pokemongo-bot

maybe you could update the docker docs

[2016-08-30 08:25] th3w4y commented on #4920
@Metis77 PR opened https://github.com/PokemonGoF/PokemonGo-Bot/pull/4922

[2016-08-30 08:26] jannickv opened #4923 "Evolving all pokemon after update"
### Expected Behavior
Only evolve pokemon in the evolve_list

### Actual Behavior
Evolving all pokemon

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
http://pastebin.com/xZgs68YY

### Output when issue occurred
[2016-08-30 10:20:09] [pokemon_evolved] Evolved Staryu [IV 0.82] [CP 514] [34 candies] [+1000 xp]

### Steps to Reproduce

### Other Informa

[2016-08-30 08:37] Ryuspb commented on #4912
I have the same error -___-

[2016-08-30 08:47] mjmadsen commented on #4923
Hm. Must have messed up the logic somewhere. I'll take a gander in a bit.

[2016-08-30 08:48] castorfou commented on #4718
I have ths issues since last update this morning.
When calling for  Most Perfect Pokemon, when starting Bot.

`[2016-08-30 10:46:20] [       cli] [INFO] Most Perfect Pokemon:
Traceback (most recent call last):
  File "pokecli.py", line 768, in <module>
    main()
  File "pokecli.py", line 119, in main
    bot = start_bot(bot,config)
  File "pokecli.py", line 86, in start_bot
    bot.start()
  File

[2016-08-30 08:51] jannickv commented on #4923
Thanks, just disabled "evolvePokemon" for now. Thanks for all te great work!

[2016-08-30 09:00] mjmadsen commented on #4718
@castorfou Try PR #4924

[2016-08-30 09:02] mjmadsen commented on #4923
Did you see it evolve pokemon that **were** in the list? If not I bet I filtered backwards.

[2016-08-30 09:05] DBa2016 commented on #4912
The real error is here:
[2016-08-29 18:08:40] [sentry.errors.uncaught] [ERROR] [u'TypeError: call() takes exactly 1 argument (2 given)', u'  File "pokecli.py", line 768, in <module>', u'  File "pokecli.py", line 207, in main', u'  File "pokecli.py", line 253, in report_summary', u'  File "pokemongo_bot/metrics.py", line 109, in capture_stats', u'  File "pokemongo_bot/api_wrapper.py", line 239, in

[2016-08-30 09:06] jannickv commented on #4923
Sorry, quickly stopped the bot since it allready evolved a Dragonair and Staryu that were cleary not on my list, to prevent further damage.

[2016-08-30 09:18] mjmadsen commented on #4923
No problem. If you're willing, could you try #4925 - I'm at work and can't test right now.

I completely removed the processing of evolve_list when building the list of pokemon to evolve in a recent merge. My bad!

[2016-08-30 09:28] jannickv commented on #4923
Can confirm this fix fixes the problem. Now evolving pokemon in evolve_list en nothing else.
[code]
Thanks

[2016-08-30 09:38] db-coder commented on #4872
did something happen to the incubate eggs task? The bot isn't showing any info regarding eggs after the latest commit.

[2016-08-30 09:41] azraelppuk commented on #4910
Getting similar error. Yesterday I got this error:

2016-08-29 19:34:34,328 [PokemonGoBot] [INFO]
Traceback (most recent call last):
  File "pokecli.py", line 781, in <module>
    main()
  File "pokecli.py", line 217, in main
    report_summary(bot)
  File "pokecli.py", line 265, in report_summary
    metrics.capture_stats()
  File "/home/pi/PokemonGo-Bot-Dev-7/PokemonGo-Bot/pokemongo_bot/metrics.

[2016-08-30 09:47] mjmadsen commented on #4872
Last merge for incubate was about 7 hours ago.

[2016-08-30 09:48] Nerkyator opened #4926 "KeyError: 'experience' on starting bot"
### Expected Behavior
Bot starts

### Actual Behavior
Bot crashes with a key not found

### Your FULL config.json (remove your username, password, gmapkey and any other private info)
http://pastebin.com/sRCNyKN1

### Output when issue occurred
[code]

### Steps to Reproduce
Created a new account on PTC and put login info on bot. Never used the new created account with official app so even not star

[2016-08-30 09:54] #4923 closed

[2016-08-30 10:03] mjmadsen commented on #4920
Merged

[2016-08-30 10:03] #4920 closed

[2016-08-30 10:03] josegrobles commented on #4878
It's fixed now.

[2016-08-30 10:03] #4878 closed

[2016-08-30 10:05] #4914 closed

[2016-08-30 10:08] mjmadsen commented on #4901
Similar to #3773 but I'd say distinctive. I swear we had something go through like this a while ago but I can't seem to find it right now.

[2016-08-30 10:12] Creuqe commented on #4910
i really don't know anything about programming, do you use windows? @azraelppuk

[2016-08-30 10:15] Jcolomar opened #4927 "Add button in item webIU"
### Short Description

Add a "ACTION" button in item window to use/discard item. For the ppl dont use incense for evolve pokemons to gain more exp, we keeping this items in bag and dont have chance to use it when we want or discard it. Same happens with lure modules. I know discard option can be setting in config, but like in pokemon windows, id like the posibility to use/discard

### Possible sol

[2016-08-30 10:16] mjmadsen commented on #2833
I don't know if anyone is currently working on this. A lot of bug fixes and small improvements.

Everything you asked for seems to be in the bot except for taking in account exp to next level or what not. Personally, I don't see much value in it. Exp is exp.

[2016-08-30 10:31] r3pek commented on #4927
can't even use the one on the pokemon list :P

[2016-08-30 10:42] mjmadsen commented on #4926
Fix merged.

[2016-08-30 10:42] #4926 closed

[2016-08-30 11:09] davidspeijer opened #4929 "[BUG] Error in Telegram: "AttributeError: 'module' object has no attribute 'now'""
### Expected Behavior

Bot running with Telegram enabled

### Actual Behavior

Bot not starting due to error message

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

http://pastebin.com/5nQC2ceh

### Output when issue occurred

Traceback (most recent call last):
  File "pokecli.py", line 781, in <module>
    main()
  File "pokecli.py", line 128, in m

[2016-08-30 11:31] davidspeijer opened #4930 "[FEATURE REQUEST] Save hatched eggs in database"
### Short Description

Save the hatched egg data in a table

### Possible solution

Probably some changes in pokemongo_bot/cell_workers/incubate_eggs.py??

### How it would help others

I like to know what my "walking" got for me :)

[2016-08-30 11:33] Enviouse commented on #4114
@Venkatakrishnan don't go hard on other bots if your ip gets flaged like my friends u will get bans every 2 weeks for playing with or without bots my friend had 6 botted accounts banned and 4 real playing accounts not cheated they flag ur ip so I can Neva play again

[2016-08-30 11:38] sumanth5526 opened #4932 "help"
### Expected Behavior

### Actual Behavior

not able to start the bot
using ./run.sh

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

### Output when issue occurred

tele@tele-desktop165:~/Desktop/a$ ./run.sh
Traceback (most recent call last):
  File "pokecli.py", line 43, in <module>
    from pgoapi.exceptions import NotLoggedInException, ServerSide

[2016-08-30 11:46] mupinkz opened #4933 "_load_recent_forts recent fort error"
### Expected Behavior

executing ./run.sh should work

### Actual Behavior

crashing after login successfuly.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

`{
    "websocket_server": false,
    "heartbeat_threshold": 10,
    "enable_social": true,
    "live_config_update": {
      "enabled": false,
      "tasks_only": false
    },
    "tasks": [

[2016-08-30 11:46] mjmadsen commented on #4929
Merged fix to dev branch

[2016-08-30 11:46] #4929 closed

[2016-08-30 11:55] Enviouse commented on #4114
I'm telling you people the reason you are getting banned is because you are botting away from your location were you are bot down the street the next town not other country's or states bot at your front door the closest most populated area to you CHANGE YOUR Configure settings on Lat an long GOOGLE your location Lat n long copy n paste

[2016-08-30 12:07] castorfou opened #4934 "Updating the bot (with setup.sh -r) fails with message "Too many levels of symbolic links""
### Expected Behavior

Bot updated to last version

### Actual Behavior

Error is displayed in terminal.

### Your FULL config.json (remove your username, password, gmapkey and any other private info)

http://pastebin.com/g9HZ91QP

### Output when issue occurred

Branch master resetting.
HEAD is now at 56339fb Merge dev to master (#4889)
Running virtualenv with interpreter /usr/bin/python2
New pyt

[2016-08-30 12:09] azraelppuk commented on #4910
armv7l GNU/Linux on raspberry pi

[2016-08-30 12:12] lntn opened #4935 "Telegram connection problems halting bot"
I've just come back from work and the log shows me these:

[code]
Happened a few times continuously. Bot continue after 20 seconds then happens again.

And a couple of these:

[code]

I didn't call telegram /info during that period.

Not that I am looking for a fix but I think this one worth be investigated on.

I am using the default telegram config

Dev branch
Build: 5e706086d2d5b23ba9966170d4b1

[2016-08-30 12:14] lntn commented on #4935
P.S I think this has caused my bot to teleport from wherever it was, to the initial location... RIP this account.

[2016-08-30 12:15] rawgni commented on #4935
![screen shot 2016-08-30 at 7 14 10 pm](https://cloud.githubusercontent.com/assets/11707733/18088652/007123a6-6ee6-11e6-89d2-84ef491d7d74.png)

might be the reason for the error

[2016-08-30 12:16] gungoan opened #4936 "How to limit catch Pokemon & Visited PokeStop?"
How to limit catch Pokemon & Visited PokeStop / per day
Thx!

[2016-08-30 12:17] lntn commented on #4935
Okay, so it's telegram then.

Thank you and can close this.

[2016-08-30 12:33] azraelppuk commented on #4910
did a fresh 'git pull' and it now works.

[2016-08-30 12:41] supergithubo commented on #4114
@Nerkyator try to request another IP by reloading tor:
 `sudo service tor reload`

Make sure you have set the correct exit nodes or country you are botting. Edit `/opt/tor/torrc` and append this to file (example in US):
`ExitNodes {US}`

Make sure you restart tor after setting the exit node:
`sudo service tor restart`

You can google for different exitnodes on other countries.

[2016-08-30 12:42] sohje commented on #4933
Try to remove data/recent-forts-BOTNAME.json

[2016-08-30 12:43] Nerkyator commented on #4114
@supergithubo I will try asap, many thanks!

[2016-08-30 12:46] askovpen commented on #4936
`daily_spin_limit`, `daily_catch_limit`

[2016-08-30 13:05] mjmadsen commented on #4935
@lntn How has everything be running otherwise.

[2016-08-30 13:10] ivanli88 commented on #4910
I have same problem run at ubuntu 15.

[2016-08-30 13:20] sediyama commented on #4912
I have the same error only with one of my accounts, I think it is a new response to the "Permaban".

[2016-08-30 13:25] Ryuspb commented on #4912
I have tried other accs, did not help...

[2016-08-30 13:30] askovpen commented on #4935
i'll fix this exception tomorrow

[2016-08-30 13:34] sohje commented on #4932
pip install -r requirements.txt --upgrade

[2016-08-30 13:36] #4936 closed

[2016-08-30 13:38] Ryuspb commented on #4912
I solved the problem!
I was updated according to the instructions:

**source bin/activate
pip install -r requirements.txt --upgrade
pip install -r requirements.txt**

You must have "Successfully installed php api-1.1.8"

[2016-08-30 13:41] lntn commented on #4935
@mjmadsen meaning?
If you're asking that if the bot runs fine otherwise, yes it is still running fine (thanks to the 20 secs auto reconnect). However I got teleported on the first exception.

[2016-08-30 13:41] perpysling2 opened #4939 "Default Config not working very vell"
For starters, i think the bot should capture all pokemons it sees, and transfer and save up candy for evolving.

My config capture pokemons until inventory is full then only goes to pokestops.

Can anyone help me with a usable config? one that i can start today and look on my bot in 2 weeks again or something?

[2016-08-30 14:05] davidspeijer commented on #4933
And update to the latest version...

See first line of your update: Branch master have an update. Run ./setup.sh -u to update.

[2016-08-30 14:07] davidspeijer commented on #4939
http://pastebin.com/5nQC2ceh

You can run it for at least one week without looking to it...